[2018-10-05 18:15] petraBT commented on #305
Chris, would it make sense (and is it possible) to only check whether the main function has been left intact rather than also checking in the prototypes? Students are less likely to change things there potentially?

[2018-10-05 18:26] petraBT commented on #306
We have not introduced constants in this course, and writing auto-graders that predict every way in which a student might code given some prior knowledge is indeed difficult. In this particular case, however, the student's solution is actually incorrect as they declare an array of size 2 (which is way to small to hold the potentially 100 characters plus the null terminator they are asked to hold).

[2018-10-05 18:30] deladan commented on #306
In fact, he has tested its code with a constant equal to 101 before 2, with the same error.
And I tested it myself.
But I agree with you, it's very difficult to predict all possible answers.
I edited the post to delete the solution.

[2018-10-05 18:31] petraBT commented on #306
@deladan Thank you!

[2018-10-05 19:52] deladan opened #307 "Reserved keywords"
Several learners reported that reserved keywords weren't mentioned in the do's and don't codecast about naming variables, and failed the quiz (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40c

[2018-10-05 20:45] deladan opened #308 "quiz about variables (no issue)"
A learner (aka Slays) finds out that we can declare a variable with its name between parentheses.
I've tried it and it actually works, but parentheses aren't actually part of the name.

The question asks about authorized names, but the answers are declarations. That could be ambiguous.

Here's the link to the message: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/di

[2018-10-05 21:21] klotsy commented on #308
dans le quiz, ce qui rend la variable  `int (counter pigs)` non valide, c'est l'espace, pas les parenthèses. mais effectivement peut-être que les int sont de trop ou qu'il faudrait reformuler la question : dans les déclarations de variables suivantes, quels noms...

[2018-10-05 21:23] klotsy commented on #304
and professor1, professor 2 too ?

[2018-10-06 04:27] deladan commented on #308
Ah oui, au temps pour moi...
Voilà ce que c'est de vouloir aller trop vite. Je complète ma réponse dans le message.

[2018-10-06 04:39] #308 closed, assigned to nobody

[2018-10-06 06:24] deladan opened #309 "unclear instructions on activity 5.3: free a linked list"
As a learner points out in the forum, the instructions say that we are provided with prototype for the freeStudents function.
Actually, it turns out we have to write it as well as the function, so it may be a good idea to adjust the problem statement.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/5a5

[2018-10-06 10:02] deladan commented on #267
Hi!
A learner has just posted a message about this issue.

[2018-10-06 11:43] Kitkatniss commented on #304
yes, same !

[2018-10-06 13:59] Kitkatniss opened #310 "trouble with paiement for Professionnal Certificate"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5bb7aa40b41e6e085b00024f

[2018-10-06 14:28] Kitkatniss commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/7fc5ac06707b9ab66d16fb0eb50d9653418f5322/threads/5bb5d5b2b41e6e08350000e7

[2018-10-06 14:44] Kitkatniss opened #311 "1.0 suggestion for showing the special characters near the question (image recommended)"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/a755bfd83a8175beea1c18b52e4f843f7aa591b4/threads/5bb53ddcfb45b2082b000057

[2018-10-06 15:01] Kitkatniss opened #312 "1.0 vocabulary, Ken Thompson mispelled in the quizz"
in this page under
Ken Thompson is mispelled

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/33129229b7ae4999b57f03be444c2dd0/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40bb214b4ed3e84f689a1914fbc7a6bb61

[2018-10-06 15:02] Kitkatniss opened #313 "1.0 vocabulary ; trouble with select/deselect ?"
See this message from the forum :

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/a99d3f2a73bcbcb51394dcb4376fe2dabf767589/threads/5bb46fc63b0abc09ae00400e

[2018-10-06 15:20] klotsy commented on #311
pas une bonne idée car il n'auront qu'à faire un copier-coller...
ou alors une image, si ça tient...

[2018-10-06 17:19] deladan commented on #303
And another congratulation message (at the bottom of the discussion):  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/8db8e47a3e367fd6e0c55728776c61f4495811e6/threads/5bb8d91e4265a409380002c0

[2018-10-06 20:01] deladan commented on #303
And another one (in french): https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d38a7954e9b9aaa7d9c256ca7c9c01cfa6cb4ed9/threads/5bb459fa3b0abc0988003fd8

[2018-10-07 00:31] petraBT commented on #313
@Ella @Mike I corrected the typo in the quiz, but I don't know anything about the bug of not being able to de-select an answer. Could you look into that?

[2018-10-07 00:32] petraBT commented on #312
fixed

[2018-10-07 00:32] #312 closed, assigned to nobody

[2018-10-07 00:38] petraBT commented on #309
@chrissmiller Could you add the prototype for the freeStudents function to the pre-populated code? I added it to the problem statement just now but I don't know where to find the pre-populated code. I am able to submit a solution without getting the error message the student reports, but it would still be good to include the prototype...

[2018-10-07 01:06] chrissmiller commented on #298
Whoops, sorry about that - fixed!

[2018-10-07 01:06] #298 closed, assigned to chrissmiller

[2018-10-07 01:09] chrissmiller commented on #309
Fixed!

[2018-10-07 01:09] #309 closed, assigned to chrissmiller

[2018-10-07 03:46] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5bb93dd04265a409230003b8

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5bb99fa94265a4092000031c

[2018-10-07 07:24] deladan commented on #307
Or encouraging learners to try themselves the declarations in the sandbox before answering?

[2018-10-07 07:52] deladan opened #314 "Activity bridge tax"
There is an extraneous comma in the text to print in the problem statement :
"Regular tax," instead of "Regular tax"
Link to the activity : https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%402a4f

[2018-10-07 14:41] deladan commented on #264
Je peux me charger d'écrire les sous-titres pour le cours 7 (mais j'aimerais être sûre que d'autres ne sont pas déjà en train de travailler dessus)
.

[2018-10-07 14:42] Kitkatniss commented on #264
mooc6's subtitles have to be reviewed...

So I'm doing that, at the moment. .. still in progress...

But it takes much much much time. And I DO need to know if it's useful ??

[2018-10-07 14:57] Kitkatniss commented on #264
@EllaHa @remisharrock @mgoudz

[2018-10-07 19:09] deladan opened #315 "typos"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/994522d2b7fd30147c67f70b9e281652dcc9a863/threads/5bba567ab41e6e083d0003f4

Another one but I didn't get it?
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/994522d2b7fd30147c67f70b9e281652dcc9a863/threads/5bba556bb41e6e08640003ec

[2018-10-07 19:27] deladan opened #316 "Two complaints about quiz on course6"
The first seems to be a technical issue.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/7348750b7626e474ff71b8a53031239c65c7b853/threads/5bba3f254265a4092c000470

Another about the options which weren't given in the same order than that was expected by the grader
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion

[2018-10-07 19:46] Kitkatniss commented on #316
For the first one : he wrote "cntl" instead of "ctrl" ?

For the second : in the course, Rémi says "rm -ri" so why did he change the order ?

[2018-10-07 19:52] deladan commented on #316
@Kitkatniss : I don't know, but "rm -ir" is also a valid command. By the way, the options are given in this order in the manual (alphabetical order I guess)
It isn't easy to create quiz about commands on Linux, because there often are several ways to obtain the same result...

[2018-10-07 20:47] Kitkatniss opened #317 "Do you like deers ? How to laugh when reviewing subtitles ... in mooc6"
So to rename, we want to use a command that is called Rename,
**So to rename, we won't  use a command that is called rename,**

46
00:03:32,090 --> 00:03:34,040
because it doesn't exist.

47
00:03:34,040 --> 00:03:38,420
Indeed, to real name we will use the move command.
**Indeed, to rename, we will use the move command.**

48
00:03:38,420 --> 00:03:41,480
They're the same, MV, and let's try that.

[2018-10-07 20:56] Kitkatniss opened #318 "6.2 Nothing's happening during nearly 20 seconds of the codecast"
Nothing's happening between 5'26 and 5'47 !

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40vertical%2Bblock%40c9ed72208f3f41098883390692671550

[2018-10-07 22:42] Kitkatniss opened #319 "6.2 quizz typos in question 4"
4. If you are in your home directory (_**pwd prints**_ /home/user) what cd command should you write using a relative path to go to _**to**_ /sys ? (don't put a / at the end of your answer).

should be ?

4. If you are in your home directory ( /home/user) what cd command should you write using a relative path to go to  /sys ? (don't put a / at the end of your answer).

[2018-10-07 22:44] Kitkatniss commented on #319
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/e970653072f84df6bf457872dd3d2043/?child=first

discovering the file system  (by the way the title is written : filesystem)

[2018-10-08 00:07] klotsy commented on #319
le to to oui, mais le pwd prints pourquoi l'enlever ?

[2018-10-08 03:14] deladan commented on #315
Nat has rectified the second one.

[2018-10-08 03:23] deladan opened #320 "Trouble with input/output in examples"
In this thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/8f87c9f6071a4290042f96417ab624eb16a96de4/threads/5bb906bdb41e6e0843000311, some learners complain about the fact that the given examples don't exactly show what should happen when we use the program in interactive mode.
I guess that these examples are displayed this way because of the fir

[2018-10-08 03:32] deladan opened #321 "A "suspicious" for loop in one codecast"
A learner has remarked that the for loop syntax in this codecast wasn't the same than in previous ones.
A remainder from the french mooc?

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/76cd4b61bfd641de982b5f4f9a169ee6/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%4002bc7

[2018-10-08 06:10] deladan opened #322 "Taskgrader course 7 program arguments"
There seems to be an issue with this activity:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/7be95ba870ea439c9bc94f21c7daa23c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%403b20449f9b604764ab90b0d5045024e0
error message :+1:
1 Correction(s) (-5 points for each):
'cost'

[2018-10-08 08:50] remisharrock commented on #316
I added a few explanations for rm -ri. Couldn't reproduce the second bug with CTRL+C ?

[2018-10-08 08:55] remisharrock commented on #300
well, it is supposed to be feasable to follow course 6 independently, with a very little knowledge of  C programming (or programming in another language); Most of the course is about Linux and a little bit about gcc at the end, but very little!

[2018-10-08 08:56] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/bd91c32df8d8616634bb22e7c74f13985dd2dff8/threads/5bbb1304fb45b20825000468

[2018-10-08 09:02] deladan commented on #300
Ok, that's fine with me. I just wondered if it was intentional or not.
Thank you for your answer.

[2018-10-08 09:09] deladan opened #323 "confusing term"
A learner is not sure about the use of "behind" in the second question of this quiz:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/dfe4caf70cdd417b912948810b3393e7/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%404fadc7abe8c743029e29ca7098c1919b
He'd rather expect after o

[2018-10-08 09:19] klotsy commented on #322
je confirme, tout se passe comme si il se lisait un cost (sans s) tout seul
si on met cost on a
[code]
et si on met costs on a
![costs](https://user-images.githubusercontent.com/42912762/46600893-ea30eb80-caeb-11e8-82c5-8e63df2733d6.jpg)

[2018-10-08 09:32] klotsy commented on #323
c'est un pinailleur ;-) et l'anglais n'est même pas sa langue maternelle en plus !

[2018-10-08 09:51] remisharrock commented on #322
@chrissmiller  est au courant merci de la remontée !

[2018-10-08 10:02] klotsy opened #324 "course 7.1 taskgrader using the jpeg library AND create and modify your own library AND 7.2 build a makefile"
comme pour #289 taskgrader pénalise l'inversion
commande
`printf("gcc -std=c11 -Wall -fmax-errors=10 -Wextra vizplus.c /usr/lib/libjpeg.so -o vizplus");`
et même l'utilisation de eux espaces au lieu d'un avant le -o :
commande
printf("gcc -std=c11 -Wall -fmax-errors=10 -Wextra /usr/lib/libjpeg.so vizplus.c  -o vizplus");
avec le même message
message
[code]
seul `printf("gcc -std=c11 -Wall -fmax-er

[2018-10-08 13:06] chrissmiller commented on #322
Fixed!

[2018-10-08 13:06] #322 closed, assigned to chrissmiller

[2018-10-08 13:29] natjhealy opened #325 "Test"
Label and assignee testing

[2018-10-08 13:30] #325 closed, assigned to nobody

[2018-10-08 13:47] remisharrock commented on #318
OMG indeed, it needs reediting !

[2018-10-08 14:30] mgoudz commented on #285
transcript is now here

[2018-10-08 14:30] #285 closed, assigned to mgoudz, EllaHa

[2018-10-08 14:35] mgoudz commented on #160
Thanks @Kitkatniss

[2018-10-08 14:35] #160 closed, assigned to mgoudz, EllaHa

[2018-10-08 14:54] klotsy commented on #317
la chasse est ouverte ;-)

[2018-10-08 15:28] petraBT commented on #324
@chrissmiller Chris, this seems to be the same issue as the one you already fixed - could you apply the fix to these other tasks as well? Also, can you check on allowing two spaces in front of the -o flag?

[2018-10-08 17:21] mgoudz commented on #310
Payment issues should be addressed to edX learner support. Here's how I responded:

Hello Levekesh,

You may be experiencing an issue with the edX payment system, which would need to be addressed by the edX Support Team. You can see this article about [Verified Certificate payments](https://support.edx.org/hc/en-us/articles/206502498-How-do-I-pay-for-a-verified-certificate-). If that doesn't addre

[2018-10-08 17:21] #310 closed, assigned to mgoudz

[2018-10-08 17:36] mgoudz commented on #295
@EllaHa it looks like 2.0 uses different sub-section/unit labels than the other courses. Could we change 2.0 match the others or is there a reason this is different?
<img width="1234" alt="screen shot 2018-10-08 at 1 32 39 pm" src="https://user-images.githubusercontent.com/6576087/46624574-2c175d00-caff-11e8-9ad2-1fe1ff88ec38.png">

[2018-10-08 17:46] mgoudz commented on #295
Ok, I fixed 2.0 to match the structure of the other courses

[2018-10-08 17:46] #295 closed, assigned to mgoudz, EllaHa

[2018-10-08 18:34] mgoudz commented on #7
I see the issue - the next and back buttons are not visible until you scroll (inner scroll) down. I have changed the layout to be more compact so hopefully those buttons appear. The Qualtrics theme (survey platform) needs to be updated by the company to customize the next/back buttons so they stand out from the edX platform buttons. I have requested that conversion, but it may take a few days.

[2018-10-08 18:36] mgoudz commented on #198
This is related to #7 and has been fixed.

[2018-10-08 18:36] #198 closed, assigned to nobody

[2018-10-08 18:39] mgoudz commented on #30
This has been fixed.

[2018-10-08 18:39] #30 closed, assigned to ddomonoske

[2018-10-08 18:41] mgoudz commented on #194
Subtitles are still missing as of this update. Here's the direct Codecast link: https://codecast.france-ioi.org/v6/player?stepperControls=_undo,_redo,_expr,_out,_over&base=https%3A%2F%2Ffioi-recordings.s3.amazonaws.com%2Fdartmouth%2F1518204459525

[2018-10-08 18:42] mgoudz commented on #194
#30 and #31 are both closed.

[2018-10-08 18:49] mgoudz commented on #195
I'm not sure which are the "good" subtitles. @ddomonoske can you look into this? I can confirm that the subtitles are there and working.

[2018-10-08 18:51] mgoudz commented on #236
Now working properly

[2018-10-08 18:51] #236 closed, assigned to nobody

[2018-10-08 18:52] deladan commented on #315
Another one:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/a082f8ad62848408c7e6c5a183c978214c2ba846/threads/5bbb9cd1fb45b2080f000557

[2018-10-08 18:53] #86 closed, assigned to mgoudz, EllaHa

[2018-10-08 18:56] mgoudz commented on #304
Yes, that is possible, but would take quite a bit of work. We will address this after the other bugs are resolved. Thank you for the suggestion. @ddomonoske and @EllaHa can we make this change on the subtitles we are editing anyway for other reasons and then go back later to correct the others as time allows? Let's identify them as "Petra" and "Rémi"

[2018-10-08 18:58] mgoudz commented on #323
Fixed this. My response:

deladan,

Thanks for the suggestion. You're right the phrasing is a bit confusing and we have updated it to **_following._**

Thanks, Mike

[2018-10-08 18:58] #323 closed, assigned to mgoudz

[2018-10-08 19:07] mgoudz commented on #315
Opening separate issues for each error so we can track these.

[2018-10-08 19:11] mgoudz opened #326 "typo"
Opening up a separate issue for this one originally reported in #315

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/a082f8ad62848408c7e6c5a183c978214c2ba846/threads/5bbb9cd1fb45b2080f000557

[2018-10-08 19:12] mgoudz commented on #315
The third one is now in #326

[2018-10-08 19:12] #315 closed, assigned to mgoudz

[2018-10-08 19:16] mgoudz commented on #88
Right @petraBT b/c the green check means you visited the page and this Taskgrader is an LTI, we can't control the check mark with Taskgrader input.

[2018-10-08 19:16] #88 closed, assigned to mgoudz, EllaHa

[2018-10-08 19:25] mgoudz commented on #83
This is just the way edX works. We could add a topic in FAQ about the green check marks.

[2018-10-08 19:25] #83 closed, assigned to mgoudz, EllaHa

[2018-10-08 20:00] klotsy commented on #317
Nous sommes en train de les revoir, liens sur les framapad  et avancement sur le framacalc https://lite.framacalc.org/mooc-c-course-6-items-links

[2018-10-08 21:09] #162 closed, assigned to mgoudz, EllaHa

[2018-10-08 21:10] #157 closed, assigned to mgoudz, EllaHa

[2018-10-08 21:10] #158 closed, assigned to mgoudz, EllaHa

[2018-10-08 21:10] #159 closed, assigned to mgoudz, EllaHa

[2018-10-08 21:25] ddomonoske commented on #195
@mgoudz all codecasts have subtitles that have been reviewed and were updated on october 1st, so all issues brought up before then have been resolved

[2018-10-08 21:25] #195 closed, assigned to ddomonoske

[2018-10-08 21:26] mgoudz commented on #288
The video IDs need to be swapped out in Studio. 7.1 and 7.2 are fixed.

[2018-10-08 21:28] Kitkatniss commented on #317
I reviewed it.

But I wanted to share the good laugh :p

Change tag for "yeah"

[2018-10-08 21:28] ddomonoske commented on #304
Yes, I'll start making that change. I believe Petra and Rémi only speak together in videos, correct? This would mean none of the Codecasts would have to change.

[2018-10-08 21:29] Kitkatniss commented on #326
Mooc 4

[2018-10-08 21:45] mgoudz commented on #288
Subtitles are now displaying correctly in all videos in course 7.

[2018-10-08 21:45] #288 closed, assigned to mgoudz, EllaHa

[2018-10-08 22:25] mgoudz commented on #313
I could not reproduce the error. It may have been the learner had already used both attempts.

[2018-10-08 22:25] #313 closed, assigned to mgoudz, EllaHa

[2018-10-08 22:27] #7 closed, assigned to mgoudz

[2018-10-08 22:28] mgoudz commented on #106
Subtitles are working correctly now.

[2018-10-08 22:28] #106 closed, assigned to mgoudz, EllaHa

[2018-10-08 22:33] mgoudz commented on #176
Fixed in c104, c105, and c107

[2018-10-08 22:33] #176 closed, assigned to mgoudz, EllaHa

[2018-10-08 22:37] mgoudz commented on #314
Direct link: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%402a4ff71898d840ab96b245d7adc87499

[2018-10-08 22:37] Kitkatniss commented on #304
no, there are codecasts with both speaking together

I did the changes in Mooc3

Are-you using the framapad documents ? @ddomonoske

[2018-10-08 22:39] Kitkatniss commented on #304
I suggest to remove "music playing" too

[2018-10-08 22:45] mgoudz opened #327 "Subtitles missing for Codecast video C101"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/a0c08428c7e7479b8a0f0cbada536fb5/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40vertical%2Bblock%408aba9f15ed514f0b82160f090c0f5c99

[2018-10-08 22:51] Kitkatniss commented on #304
For Mooc 3, I wrote PETRA, REMI and removed "music playing"

[2018-10-08 22:56] mgoudz commented on #281
Quiz attempts reset.

[2018-10-08 22:56] #281 closed, assigned to EllaHa

[2018-10-08 23:01] mgoudz commented on #327
And also for Intro to Taskgrader https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/0b97cbce20fe40148cf7ff017a106a9e/?child=first

[2018-10-08 23:03] mgoudz commented on #327
Both fixed.

[2018-10-08 23:03] #327 closed, assigned to nobody

[2018-10-08 23:09] mgoudz commented on #311
@Kitkatniss if I'm reading your French comment correctly, you don't think this suggestion is worth implementing because it will give away the answer. Unless @remisharrock disagrees we'll close this.

[2018-10-08 23:09] #311 closed, assigned to nobody

[2018-10-08 23:39] klotsy commented on #311
@mgoudz  the french comment it's me... Because here  the work is type the character, not to know the name of this, I think, to show the character can be a good idea if the student cannot copy-paste, therefore you should use a picture, not text

[2018-10-09 00:31] Kitkatniss commented on #301
BUG

[2018-10-09 00:34] Kitkatniss commented on #161
one learner says the same today  :
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5bbbdfabb41e6e085b000586

[2018-10-09 01:10] deladan opened #328 "Unclear problem statement simple arithmetic activity"
In this activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/8886730e8869426bbdcab50815cbeedf/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40448236f24ba64b4aa314ae93827ab3bd (course 1)
it is expected that the calculations are made by the computer itself, but I must a

[2018-10-09 01:49] deladan opened #329 "grader and prototype"
Course 3. A learner made the remark that a prototype (same for the function definition by the way) such as:
int
min(int, int);
won't be accepted by the grader which expects all in one line.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/11ba11ebe81fe8548b4bba61b4a260e337947812/threads/5bbbda9bfb45b20842000574
I don't know if that

[2018-10-09 02:35] deladan commented on #267
There's a lot of differences between the provided code and the one given in the solution, which passes.
In particular about prototypes.
First, the prototype for readNumber is missing but that was already reported.
Some are written with the name of the arguments, or wihout spaces between * and the name of the function.
(By the way, that is quite inconsistent because even in the solution some have t

[2018-10-09 04:41] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/bd91c32df8d8616634bb22e7c74f13985dd2dff8/threads/5bbc2ffdfb45b208040005d3

[2018-10-09 07:05] deladan opened #330 ""better written" programs in activity"
Several learners were destabillized by the fact that programs don't inform the user about the input she is to type.
Indeed, I guess it isn't a common practice in "real" programming.

Maybe an idea for future enhancement?

[2018-10-09 07:26] klotsy opened #331 "5.3 Activity: free a linked list of students ( related to #219)"
@remisharrock  @petraBT  @chrissmiller
Pour ne pas donner les solutions précédentes à chaque activité les énoncés ont été modifiés pour que l'apprenant mette ses propres fonctions - très bien
mais maintenant si on ne met pas exactement la déclaration qui était prévue avant on obtient l'erreur
"Error - It appears you have modified restricted code."
exemple j'ai obtenu l'erreur en écrivant
`void cop

[2018-10-09 07:29] klotsy commented on #331
@deladan @Kitkatniss quelqu'un peut traduire ? merci

[2018-10-09 07:37] klotsy commented on #328
yes, "the program must" instead of "you must" ?

[2018-10-09 08:09] EllaHa commented on #194
The subtitles is there, but not showing up. I report the bug to the developpers.

[2018-10-09 08:18] deladan commented on #331
The issue in update nodes is not exactly the same, but quite close, because in this case, function definitions are still provided.
But there is a slight difference in the line declaring the function append (a missing space between * and the name function) between the provided version and what the grader awaits.
There are some others but they don't seem to bother the grader (cf issue #103)

[2018-10-09 08:28] deladan commented on #331
By the way, as all the other prototypes are provided, why not copyStr?

[2018-10-09 08:31] klotsy commented on #331
je pense que les apprenants devaient trouver tous seuls qu'il fallait une fonction pour copier la chaîne - dans le code fourni il y a
"`// Write other function prototypes here (if any)`"  et si on leur donnne le prototype dans une autre activité ensuite c'est presque leur donner la solution

[2018-10-09 13:46] deladan commented on #330
Same than #297.
I don't even recall the issue I've made. Sorry about that.

[2018-10-09 13:47] #187 closed, assigned to nobody

[2018-10-09 13:47] #28 closed, assigned to nobody

[2018-10-09 13:54] deladan commented on #71
A question on the forum: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/db1c5a544b63f0b30ca7993d14e817bfd790a82a/threads/5bbcaadbb41e6e085e0005ee

[2018-10-09 14:43] petraBT commented on #331
I cannot seem to be able to reproduce the error mentioned by @klotsy. I replaced my copyStr() prototype with the one mentioned (void copyStr(char *s, char *t);) but I still don't get the error. @klotsy could you send the entire code that you submitted so that I can take a look?

[2018-10-09 15:22] deladan commented on #331
It's not the prototype which causes problem, but the definition of the function.
We have to use the same names for the parameters.

[2018-10-09 15:29] petraBT commented on #331
Ah! Yes, I was finally able to reproduce the error! @chrissmiller, if I take the sample solution and replace the function definition of copyStr() with the following, for example, I am told that I have modified restricted code. Is this sufficient info for you to track down what's happening?

void copyStr(char *s, char *t) {
    int i = 0;
    while (s[i]!='\0') {
        t[i] = s[i];
        i++;

[2018-10-09 15:39] klotsy commented on #331
yes, idem if I replace i++; par i=i+1;

[2018-10-10 01:04] natjhealy opened #332 "6.2 "Linux and the files" quiz question 11"
In Unit 6.2 Activity: Linux and the files, a student found that question 11 should have two correct answers: rm -r /home/user/music (the current answer) **and** rm -ri /home/user/music. Given that the previous video talks about rm -ri a good deal, either the question prompt should specify to just use rm -r or both answers should be acceptable.

Link to discussion:
https://courses.edx.org/courses/c

[2018-10-10 14:40] deladan opened #333 "Confusion kilobyte/megabyte"
Video about free, top et htop: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/55e5847158bc402b981467401d8ead19/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40vertical%2Bblock%409a16f5b8f90a4d369fe422b102ff6b65
At 5'18, Rémi says that the program is using 1,512 megabytes. Shouldn't they are k

[2018-10-10 15:39] #204 closed, assigned to nobody

[2018-10-10 18:43] chrissmiller commented on #331
Managed to track it down and fix it - just some leftover checking from before we changed the structure to have the student re-implement all those functions!

[2018-10-10 18:43] #331 closed, assigned to remisharrock, chrissmiller, petraBT

[2018-10-10 18:44] chrissmiller commented on #314
Fixed!

[2018-10-10 18:44] #314 closed, assigned to remisharrock, chrissmiller

[2018-10-10 19:20] chrissmiller commented on #324
Revamped the checkers for these tasks; they will now accept the variety of possible orders and any amount of spacing between flags!

[2018-10-10 19:20] #324 closed, assigned to chrissmiller

[2018-10-10 19:31] chrissmiller commented on #306
@petraBT I've modified the checker to just look for the number 101 in the code; it's a bit less strict of a check but it should find it if it's in a constant (though it will also find it if a student declares a variable equal to 101 and then puts the variable in the array even though that's a variable length array aka not ANSI C). If you want more strict checking, we could alternatively check with

[2018-10-10 19:31] #306 closed, assigned to chrissmiller

[2018-10-11 15:52] deladan opened #334 "Not enough tests in Taskgrader"
A leaner has drawn attention to the fact that in the activity about monitoring a chemical experience, Taskgrader accepts codes that don't do the job.
Surely some tests to add to it.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/a72c02975d539216f42f9db112a729271a6c6bf4/threads/5bbf4b60fb45b208370007b7
Link to the activity: https:/

[2018-10-11 16:09] deladan opened #335 "There are no tests for this task."
Several learners reported having run into this message on different Taskgrader activities.
Solution seems to be refreshing the page and resubmitting.
An idea about that?

[2018-10-11 16:46] klotsy commented on #335
I'ts the same for me, no idea

[2018-10-11 20:00] deladan opened #336 "An index error in one codecast"
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/eb4ec25edc2c2a4f7ec5066257d39256911be364/threads/5bbf87294265a4090b0008f1
Link to the codecast (about frequencies of word lenghts, course 2): https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/cf7f6546fc4d411992a1d

[2018-10-11 20:12] deladan commented on #267
The issue is still here, and some learners begin to lose patience.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/73538f017994a566e36d48948620d55abc9dedfa/threads/5bb884b64265a408e700030c
As I said earlier, the provided code differs from what is expected.
But what seems to block the validation here is that there is no space between * and append in th

[2018-10-11 20:24] Kitkatniss opened #337 "5.3 Subtitles missing for Codecast Search for a node in a linked list"
No subtitles for this Codecast :
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/58db2f5a71e44f1abc7316ed9ce1cd74/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40vertical%2Bblock%40e8a8fdff269242a7a18a8388e6e16e2b

[2018-10-11 20:34] Kitkatniss opened #338 "Subtitles ready for update !"
Many are ready to upgrade :

See what we've done ! and still doing...

You can already update Mooc1, Mooc2, Mooc3 and Mooc6.

I changed professors or speakers for PETRA and REMILinks to framapads for *subtitles reviews*

x  Mooc1 done and updated : https://lite.framacalc.org/mooc-c-course-1-items-links

x  Mooc2 done and updated : https://lite.framacalc.org/mooc-c-course-2-items-links

x Mooc3 don

[2018-10-11 20:58] chrissmiller commented on #335
I have contacted Michel, hopefully he can track down the issue!

[2018-10-12 00:39] chrissmiller commented on #335
Should be resolved now! It was due to a server disk issue that Michel has corrected.

[2018-10-12 00:39] #335 closed, assigned to nobody

[2018-10-12 02:58] deladan opened #339 "rephrasing a problem statement (monitoring a chemical experience)?"
A learner advise to rephrase the problem statement of this activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/bcaeeafdf43b417e910a6ac07da4bd83/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40c91e5d9883c54d3b841c578776d54f91
He doesn't think that input should go on a

[2018-10-12 04:59] deladan opened #340 "Issue with the last activity?"
I've tried to submit my code, but it wasn't accepted by the grader, which seems to find only the last number written in the file myGrades.txt after the program ran.
I've investigated a little further, and I realized that my file myGrades.txt contains a new line before the next number.
Indeed, I've created the file with echo without the -n option, and it's normal things was written in a new line wh

[2018-10-12 05:00] deladan commented on #340
Obviously, I don't know how to post code on GitHub...

[2018-10-12 05:34] deladan commented on #340
By the way, when I test my program on (in?) weblinux, when appending a new number to the file, there are some dots in red which appear at the end of the file that I don't understand.
![capture d ecran de 2018-10-12 07-32-33](https://user-images.githubusercontent.com/34571147/46849740-3aac8f80-cdf1-11e8-8a32-cbb67ab91add.png)

[2018-10-12 15:08] petraBT opened #341 "7.3 write numbers to a file needs a file re-set"
If a student accidentally garbles the file from which they are reading (and to which they are supposed to append) then they cannot recover from this error even if subsequent submissions are correct.

This can easily happen if for example they open the file for writing instead of appending. Here is another way in which I was able to "destroy" my input file for good: simply add these lines to the to

[2018-10-12 15:12] petraBT commented on #340
Oh, I just encountered a similar issue which I believe goes back to the same underlying problem (issue 341 - not sure how to link an issue here). I too am bad at posting code... @chrissmiller I think this is another manifestation of the needed "file reset". If such a reset is not possible we need to rethink the problem statement in order to force the reset. Let me know, Chris?

[2018-10-12 15:33] petraBT commented on #339
Thank you! I have attempted to make the problem statement even clearer...

Another comment caught my eye though: @chrissmiller we should add a test in which the minimum temperature is below -999 so that we can distinguish whether a student is actually checking whether -999 has been sent (rather than only checking on the temperature range). If we do add such a test we should also add an example of

[2018-10-12 15:44] deladan commented on #339
I've reported this issue in #334

[2018-10-12 15:45] petraBT commented on #334
I am clearly no good at this Github thing. @chrissmiller please see my comment in #339...

[2018-10-12 15:52] petraBT commented on #328
Thank you! I attempted to make the problem statement more precise.

[2018-10-12 15:52] #328 closed, assigned to nobody

[2018-10-12 16:40] deladan opened #342 "Issue with using IDE and activities with provided code?"
A learner ran into a problem while using an IDE whose formatting isn't the same than Taskgrader, and hence copying/pasting makes taskgrader thinks the restricted code was modified.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/4b630d5e10e414daff93349ef8098528b993f4d9/threads/5bbe8f35b41e6e081a0007e7

I don't know if there is some

[2018-10-12 19:53] chrissmiller commented on #341
Hi @petraBT - I am looking into this. Right now the checker does have a statement which resets the file, so I am not completely sure what is wrong with it/why it isn't working. Will update you as soon as I have an answer/fix!

[2018-10-12 20:22] chrissmiller commented on #341
All fixed! Should reset it properly moving forward.

[2018-10-12 20:22] #341 closed, assigned to chrissmiller

[2018-10-12 20:23] chrissmiller commented on #340
This should be good since the file reset is now working properly as done in #341 !

[2018-10-12 20:23] #340 closed, assigned to chrissmiller

[2018-10-12 20:32] chrissmiller commented on #334
Going to close this just so we can consolidate into one issue (#339 )

[2018-10-12 20:32] #334 closed, assigned to chrissmiller

[2018-10-12 20:49] chrissmiller commented on #339
Added the proper check!

[2018-10-12 20:49] #339 closed, assigned to chrissmiller

[2018-10-12 21:22] Kitkatniss commented on #303
compliments about mooc1
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5bb99fa94265a4092000031c

[2018-10-12 21:27] Kitkatniss commented on #303
another one : https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/dede1d24bd16514d5d7073f48ce45af2b384960e/threads/5bbf12424265a408fc0007b7

[2018-10-13 15:10] deladan commented on #180
If I'm not mistaken, it was already the behavior in the french version of the mooc on Fun.
To have access to a solution, we've to submit a correct code and the Solution tab appeared only when we came back to the activity.

[2018-10-13 15:16] deladan commented on #161
Why not, but in the same time, I turn on subtitles only when my children are making noise around me. I don't necessarily want them to appear each time I launch a codecast.

[2018-10-13 15:18] deladan commented on #156
@petraBT
In quizzes, feedback appears even if the student failed her two attempts.
For activities, solutions are given only when the student validated her code.

[2018-10-13 15:34] deladan commented on #58
I was referring to the last question of the quiz, which was actually ill implemented (related to #43, #33 and #20 ).
I didn't understand why declaring the two variables balance and Balance would raise an error. The only issue I found about them is that the variables weren't initialized...
The issue on the quiz was fixed, so this one has no more reason for being.
I think you can close it, as well a

[2018-10-13 16:34] deladan commented on #182
I don't know, but in the french version of this mooc, and if I'm not mistaken, it behaves like this.
The solution was given only if we succeed submitting a code, and we've got to go back to the activity to make this tab appear.

[2018-10-13 17:35] klotsy opened #343 "7.2 video "Create and use your own library" little error"
around 9:30 and 10:56 is the possibility of absolute path
but the given absolute path is `/usr/home/`
instead `/home/user/`
where are program.c and others in WebLinux

[2018-10-13 17:54] petraBT commented on #43
This has been fixed.

[2018-10-13 17:54] #43 closed, assigned to remisharrock

[2018-10-13 17:55] petraBT commented on #33
This has been addressed.

[2018-10-13 17:55] #33 closed, assigned to remisharrock

[2018-10-13 17:56] petraBT commented on #20
This has been fixed.

[2018-10-13 17:56] #20 closed, assigned to remisharrock

[2018-10-13 17:56] petraBT commented on #58
Got it - thank you so much! Closing this issues now.

[2018-10-13 17:56] #58 closed, assigned to remisharrock, petraBT

[2018-10-13 19:24] klotsy commented on #161
but for me, it's absolutely necessary to have subtitles...

[2018-10-14 02:44] deladan opened #344 ""wrong" solution for the find the minimum of a list activity"
A learner reports that the given solution won't work with a list with only one number.
Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/07d4663586b74bd6abd7b94bf3326474/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%409e7dd39b807b452b8570729368aea7fd

[2018-10-14 03:01] deladan opened #345 "Use of 'const' in a solution"
In the given solution for the activity about the smart unit converter, const is used, but as a learner remarks it on the forum, I'm not sure it was introduced before in the course.
This learner also complains that that shouldn't be used here because later than ANSI C, but I don't agree with him.
Someone could confirm that?
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMT

[2018-10-14 03:10] deladan opened #346 "unclear problem statement (find the minimum)?"
A learner complains that the problem statement doesn't mention that we have to write a prototype.
I think he or she has defined the function before the main function, as it is possible to do.
I don't think that this option was introduced in the course though.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/11ba11ebe81fe8548b4bba61

[2018-10-14 03:57] deladan commented on #303
About codecast:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/38082827aefcad86a793c96bea934940ffc07a00/threads/5bc25af84265a40902000ba9

[2018-10-14 14:59] klotsy opened #347 "3.2 activity programming a toaster - vagueness in statement"
the statement do not says if 0 KB must be print or not when the size is > 1000000<br>
for example 4000004 : <br>4 MB and 0 KB and 4 B _or_ <br>
4 MB and 4 B<br>
Taskgrader accepts both versions of code...

[2018-10-14 16:28] klotsy opened #348 "3.3 activity: arrays and function- resolvable without have a "functional" function"
if the function does nothing but has a correct declaration, taskgrader accepts the code<br>it is really sufficient?
![fonctionvide](https://user-images.githubusercontent.com/42912762/46919371-c1728f80-cfde-11e8-8ed4-8d7983e3d51c.jpg)

[2018-10-14 19:54] deladan opened #349 "Issue with subtitles in a codecast from unit1.1"
The subtitles for the first codecast about comments aren't available.
Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/6e554ffe0eb345c4a343a63b4f436db5/67d05789483a44bf8c3b095b974c188a/

[2018-10-14 20:12] natjhealy opened #350 "1.3 Activity: read a decimal number"
When printing or reading as a double, the %lf is inconsistently colored in the coding window. The "%" and "l" are colored blue, as they should be, but the "f" is green. This caused a bit of confusion for a student.

Link to discussion post:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/78dc5b0893b00ceb816e3c01ae7ccb0ff23bdf47/threads/5bc33e2dfb45b20

[2018-10-15 02:55] deladan opened #351 "typo in quiz about interactive programs"
Second question: the file otherans is mispelled othercans in the "correct" answer.
That was reported earlier by a learner in the forum, but I didn't understand the message when I first read it, sorry about that.
By the way, in the same thread, another student complains about the fact that we weren't told before about redirections (I suppose?). Maybe someone from the team might answer him?

Link to

[2018-10-15 03:16] deladan opened #352 "issue with update node"
This issue is related to the #267 one, but wasn't fixed yet, and some learners are in difficulty here.
The provided code differs from what is expected, causing Taskgrader to reject the code saying we've modified restricted code.
I've checked all the differences between this provided code and the solution. There are quite a few of them, but the only one which get us stuck is the missing space betwe

[2018-10-15 04:03] deladan opened #353 "Incoherence with some activities topic?"
Course 2. A learner remarks that the two activities in the unit 2.1 Comparing decimal numbers have actually nothing to do with comparing decimal numbers.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40vertical%2B

[2018-10-15 07:20] klotsy commented on #353
the same for others 2.1 activities:
 "Activity: more complex if statements: costly hotel rooms" is in "Combining logic conditions using the logical AND and OR" et don't need to use it, also the solution
"Activity: if statements, name that tree" is in " Negating a logic condition using the logic operator NOT" and don't uses that but uses AND, also the solution

[2018-10-15 07:26] remisharrock commented on #223
il faudrait effectivement avoir des rappels textuels de chaque notion tout le long des MOOCs : content improvement

[2018-10-15 07:50] remisharrock commented on #248
to be checked

[2018-10-15 07:51] #246 closed, assigned to nobody

[2018-10-15 07:55] #193 closed, assigned to nobody

[2018-10-15 08:08] remisharrock commented on #200
I think this is fixed

[2018-10-15 08:08] #200 closed, assigned to nobody

[2018-10-15 08:10] remisharrock commented on #199
problème edx

[2018-10-15 08:15] klotsy opened #354 "it is subjective: too long names... (2.1 tug of war solution for example)"
personnellement (c'est vraiment subjectif) quand le nom de variable dépasse 10 caractères, cela nuit à ma compréhension du code et je dois faire un effort pour lire celui-ci<br>
c'est pire si c'est la variable de boucle qui est longue (heureusement ce n'est pas le cas dans la copie  d'écran ci-dessous) <br>
![nomslongs](https://user-images.githubusercontent.com/42912762/46937965-d133b780-d062-11e8

[2018-10-15 08:17] #276 closed, assigned to remisharrock, petraBT

[2018-10-15 08:17] #63 closed, assigned to remisharrock

[2018-10-15 08:17] #203 closed, assigned to nobody

[2018-10-15 08:19] remisharrock commented on #205
@petraBT do you confirm? it's the first codecast on the link

[2018-10-15 08:22] #207 closed, assigned to nobody

[2018-10-15 08:23] remisharrock commented on #210
fixed

[2018-10-15 08:23] #210 closed, assigned to nobody

[2018-10-15 08:25] remisharrock commented on #212
Codecast devs have been informed

[2018-10-15 08:27] remisharrock commented on #215
cannot reproduce the bug? maybe it's old ?

[2018-10-15 08:29] remisharrock commented on #214
I don't know if there is a bug ?

[2018-10-15 08:31] remisharrock opened #355 "codecast: when when clicking no closed captions, the pane should disapear"
eveything in the title

[2018-10-15 08:33] remisharrock commented on #218
I don't get it ?

[2018-10-15 08:35] klotsy commented on #218
here in showmemory command
![stackk](https://user-images.githubusercontent.com/42912762/46939204-fd046c80-d065-11e8-8243-205ee031b1a0.jpg)

[2018-10-15 12:46] #70 closed, assigned to EllaHa

[2018-10-15 13:20] remisharrock commented on #241
I don't know. Maybe in the progression section ? @EllaHa everything is ok ?

[2018-10-15 13:23] remisharrock commented on #241
further investigation needed

[2018-10-15 13:24] remisharrock commented on #239
seems fixed

[2018-10-15 13:24] #239 closed, assigned to nobody

[2018-10-15 13:30] remisharrock commented on #240
I can't  reproduce the issue for the french GUI

[2018-10-15 13:31] remisharrock commented on #238
fixed

[2018-10-15 13:31] #238 closed, assigned to nobody

[2018-10-15 13:36] remisharrock commented on #230
indeed no subtitles

[2018-10-15 13:37] remisharrock commented on #231
This is intentional but not the "we haven't learned how to change values inside the main function from other functions "

[2018-10-15 13:43] remisharrock commented on #242
cannot reproduce the problem

[2018-10-15 13:55] remisharrock commented on #161
the feature is implemented in the next version of Codecast, if it works, we will deploy it

[2018-10-15 13:56] remisharrock commented on #267
@chrissmiller could you take a look at this ?

[2018-10-15 13:58] remisharrock commented on #352
@chrissmiller same as #267

[2018-10-15 14:01] EllaHa commented on #247
fixed

[2018-10-15 14:01] #247 closed, assigned to mgoudz, EllaHa

[2018-10-15 14:02] remisharrock commented on #342
I replied, thank you for reporting !

[2018-10-15 14:02] #342 closed, assigned to nobody

[2018-10-15 14:03] EllaHa commented on #240
This has been fixed.

[2018-10-15 14:03] #240 closed, assigned to EllaHa

[2018-10-15 14:07] EllaHa commented on #224
I am afraid we can't add any change like this at this stage. This has to be kept as improvement for the next course session.

[2018-10-15 14:19] EllaHa commented on #230
please rempty your cache. Should be there.

[2018-10-15 14:19] #230 closed, assigned to mgoudz, EllaHa

[2018-10-15 14:20] EllaHa commented on #197
fixed

[2018-10-15 14:20] #197 closed, assigned to EllaHa

[2018-10-15 14:32] EllaHa commented on #278
@remisharrock there are some students claiming there are other correct answers: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/a7169c56bd0d42a5a61f14e521b195ad/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40vertical%2Bblock%400c667d05fe0f49c0a0e9a831705d6006

[2018-10-15 15:20] petraBT commented on #205
Oh, how strange! Where did the end go?? @remisharrock is there a way to check the recording logs to see what happened?

[2018-10-15 15:24] petraBT commented on #218
@remisharrock Just a simple typo - is this worth going through the trouble of re-recording? Or can this be fixed by editing the recording in v6?

[2018-10-15 15:30] petraBT commented on #231
Well, in the alignment of content in this MOOC we actually haven't learned this yet. Maybe we should make it clear at the beginning (a little paragraph before the codecast?) that this is review content for those who have taken MOOC 3 and into content for those who are taking this MOOC stand-alone? @remisharrock what do you think?

[2018-10-15 15:31] EllaHa commented on #194
Please empty your cache. This has been fixed.

[2018-10-15 15:31] #194 closed, assigned to EllaHa

[2018-10-15 15:53] petraBT commented on #267
@chrissmiller  this is about the activity "update nodes in a list" (updateNumber in C105W3 in taskeditor). Could you add the prototype for readnumber() as well as the space between * and append in the append function definition in the pre-populated code?

[2018-10-16 03:13] deladan commented on #300
There are several learners complaining about the fourth question of the quiz about Linux and files because stdio.h isn't mentioned in the course.
link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%4

[2018-10-16 06:56] klotsy commented on #300
removed or modified, why not use another file with an single start : <br>the question is<br>_4. The command ls -d /usr/include/s* displays the files and folders contained in /usr/include and whose name begins with the letter s.
What is a well-known file of all C programmers in the /usr/include folder that starts with the letter s?
Give only the name of the file, not its path_<br> it can be changed

[2018-10-16 09:22] EllaHa commented on #351
Thanks Isabelle for reaching out.
@remisharrock should we change the correct answer?
Should I reset learners attemps for this question?

[2018-10-16 09:37] EllaHa commented on #349
Hi David, any clue why there was a special character added at the end of the srt file? Maybe when we copy paste file from framapad. Not sure why this is happening.
![image](https://user-images.githubusercontent.com/19490273/47006516-5fc53900-d136-11e8-94b3-d0868af61768.png)
This has been fixed. If you empry your cache you wil see the subtitle

[2018-10-16 09:37] #349 closed, assigned to nobody

[2018-10-16 09:41] deladan commented on #349
Hello!
I'm afraid I am the guilty one.
When revising subtitles, I use vim and I must have typed this sequence of characters (normally to close vim) while still in insertion mode.
Sorry for that!

[2018-10-16 09:42] remisharrock commented on #319
yes we should remove to to but keep pwd prints

[2018-10-16 09:43] remisharrock commented on #319
fixed

[2018-10-16 09:43] #319 closed, assigned to remisharrock, EllaHa

[2018-10-16 09:48] remisharrock opened #356 "inputting user data"
in the forum

Yes: as disappointing as being told to take 'other C courses' to be able to use safe ways of inputting user data to C programs!! Why wasn't this brought up in any of the preceding 5 courses in this series?

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/1f44302aa86f579c6b696591b6a8a7d5208d057e/threads/5bbcb4454265a40902000691

[2018-10-16 10:14] klotsy opened #357 "5.2 little error in codecast "Delete a linked list" : i = 2"
9:29
i must be equal to 1, not 2 (in the sound too)
![i_is_2](https://user-images.githubusercontent.com/42912762/47009481-ed0b8c00-d13c-11e8-8b45-056a9dafa372.jpg)

[2018-10-16 10:42] EllaHa commented on #241
Dear partner portal,

I am writing to you regarding the following course.
This course as other courses of the series uses an autograder for code with LTI.
The LTI configuration is perfectly working on the other courses but it seems that for this course in particular we are experiencing problem with progress.

You will see for example that for this activity it is possible to get a point.
image.png

[2018-10-16 11:34] petraBT commented on #353
We could modify the bridge tax activity slightly to have them compute not the sum of the dice values but something like 1.5x+.5y (where x and y are the rolled values) and then proceed as given: if that number is >10 then... otherwise...

[2018-10-16 11:48] petraBT commented on #353
How about this modification for the hostel one: For those not 60 and not under five, if they bring between 10 and 20 pounds of luggage then the cost is $30 plus the weight of their luggage, if they bring more than 20 pounds then the cost is $60 (and if the luggage is under 10 pounds then the cost is $30)?

[2018-10-16 11:53] klotsy commented on #337
il ne reste plus que celui-ci à relire ! existe-t-il ?

[2018-10-16 14:55] deladan opened #358 "ill implemented quizz"
Quiz about find and locate.
The solution is quite beyond understanding.
EDIT: must have been a momentary issue, everything's fine now.
Sorry about that, I'm closing this issue.

[2018-10-16 17:31] deladan opened #359 "issue with argv notation in a codecast"
Some learner remarks that the notation char argv[][] is not working, contrary to what Remi says in a previous codecast (1'43).
Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/7be95ba870ea439c9bc94f21c7daa23c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblo

[2018-10-16 18:01] #358 closed, assigned to nobody

[2018-10-17 02:33] deladan opened #360 "error in an example in the activity "read numbers from a file" course7"
Some learner made the remark that the last output which is displayed as example in the problem statement is erroneous.
It should be 74.57 rather than 75.57.
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/c69c696065964550835dcade17e8e61a/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T

[2018-10-17 03:39] deladan opened #361 "A learner proposition for enhancement of the activity about youth hostel"
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/107ef9fff279e358b2aebadca69fca50667661a5/threads/5bb9b02cfb45b2083a00039f
Look at wangziyu1993's comment.

[2018-10-17 03:52] ddomonoske opened #362 "Be able to change size of Codecast window"
A learner wanted to change the size of the codecast window so they could see more lines of code at once instead of scrolling. I don't think it's possible to do that currently, and I think that it's a good idea.

[2018-10-17 05:09] deladan commented on #362
And another learner wish that font color could be modified as well.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/8ab014bc468159279955a2fd09aa523558173a56/threads/5bc65a6db41e6e082c000e00

[2018-10-17 05:34] chrissmiller commented on #267
Hi all,

So sorry for the delay with this; I thought I had fixed this checker but missed a piece of the restricted material. It appears to be working now!

[2018-10-17 05:34] #267 closed, assigned to remisharrock, chrissmiller, petraBT

[2018-10-17 05:35] chrissmiller commented on #352
Should be all set now so sorry for the delay!

[2018-10-17 05:35] #352 closed, assigned to chrissmiller

[2018-10-17 05:36] chrissmiller commented on #326
Fixed thanks!

[2018-10-17 05:36] #326 closed, assigned to chrissmiller

[2018-10-17 05:37] chrissmiller commented on #215
I am also unable to reproduce, not sure if perhaps this has been solved?

[2018-10-17 05:50] chrissmiller commented on #305
Hi @GodefroyClair  so sorry for the delayed response. Right now the checker is only checking the main function and the student structure. I have copied and pasted your code exactly as it is from #265 and it validates perfectly for me, and I cannot reproduce the issue with different spacing in printStudent causing any issues so I am somewhat baffled as to what could possibly be going on. Would you

[2018-10-17 05:50] chrissmiller commented on #269
I think this is resolved, going to close unless it pops up again!

[2018-10-17 05:50] #269 closed, assigned to chrissmiller

[2018-10-17 07:17] GodefroyClair commented on #305
Hi Chris,
You're right. I just used the exact same code that failed a few weeks ago and now I pass. So the problem seems to be gone.

[2018-10-17 07:20] GodefroyClair commented on #267
@chrissmiller : Just checked, it's all good for me! 👍

[2018-10-17 09:12] EllaHa commented on #360
Thanks Isa.
@petraBT @remisharrock can you confirm this?

[2018-10-17 09:16] EllaHa commented on #359
Thanks @deladan but I don't get if this is related to Codecast or to Weblinux?

[2018-10-17 09:18] EllaHa commented on #357
https://codecast.france-ioi.org/v6/player?base=https%3A%2F%2Ffioi-recordings.s3.amazonaws.com%2Fdartmouth%2F1521831954448

[2018-10-17 09:28] EllaHa opened #363 "Add content on how to use safe ways of inputting user data to C programs"
As disappointing as being told to take 'other C courses' to be able to use safe ways of inputting user data to C programs!! Why wasn't this brought up in any of the preceding 5 courses in this series?

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/7c1d9bb1804444f092456eeeecb8cffd/5?activate_block_id=block-v1%3ADartmouth_IM

[2018-10-17 09:29] EllaHa commented on #351
Thanks Isabelle. Rémi confirmed the typo, I have reseted learners attempts on this question.

[2018-10-17 09:29] #351 closed, assigned to remisharrock

[2018-10-17 09:35] EllaHa commented on #353
IThanks Petra for suggesting improvement. I am not sure we can actually change this now because it would affect some student's grading (because I guess we have to change the solution that is expected)

[2018-10-17 09:37] EllaHa commented on #360
learner's attempts should be reseted after edition

[2018-10-17 09:46] deladan commented on #360
The issue affects only the example, and not the grader.  So it isn't a grading issue and I don't think you'll have to reset attempts then.
Moreover, we have as many attempts as desired ;-)

[2018-10-17 09:51] deladan commented on #353
@EllaHa
It's not a quiz but a coding problem. I'd think that we can modify it without interfering with scores. Other activities have been slightly modified since the course launch.

[2018-10-17 10:05] klotsy commented on #357
@EllaHa ce n'est pas celui-ci...
c'est là en fait
https://codecast.france-ioi.org/v6/player?base=https%3A%2F%2Ffioi-recordings.s3.amazonaws.com%2Fdartmouth%2F1521232711745

[2018-10-17 10:22] deladan opened #364 "Irrelevant suspicious warning from Taskgrader"
Course 1, some learner has got a warning from Taskgrader for using suspicious if statement.
But if statement isn't introduced in this course, and this learner hasn't used one.
It appears he/she just named one of his/her variables "ifuture", misleading Taskgrader.
Something to do do about this, in order not to confuse beginners?
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmout

[2018-10-17 10:26] #305 closed, assigned to chrissmiller

[2018-10-17 11:01] EllaHa commented on #337
You are right! This codecast was actually missing from the subtitle batch. I have just required a transcription. We will have to wait for a few days.

[2018-10-17 11:42] EllaHa commented on #58
I reseted all learners attempts for this quiz

[2018-10-17 11:47] petraBT commented on #360
Than you, @deladan ! I just fixed the example.

[2018-10-17 11:47] #360 closed, assigned to remisharrock, petraBT

[2018-10-17 12:55] remisharrock commented on #363
duplicate of #356

[2018-10-17 13:52] deladan opened #365 "lack of strictness in the solution for the activity about procrastinating (course 1)"
In the activity perform simple arithmetic, we're asked to calculate X, Y and Z values and use the %d format specifier for printing them, but the solution doesn't do that for X.
And as the solution is accepted by the grader, I'd think that the grader doesn't test that.
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9be

[2018-10-17 14:01] deladan commented on #303
One more:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/93947c746229517dce29e0229fb66daaffcd2e72/threads/5bc73eb34265a408e4001081

[2018-10-17 14:15] petraBT commented on #361
Okay: I clarified the problem statement - hopefully this will be 100% unambiguous!

[2018-10-17 14:15] #361 closed, assigned to remisharrock, petraBT

[2018-10-17 14:33] deladan commented on #361
Actually, wangziyu1993 was suggesting to make the problem a little more complicated, including morning arrivals (if I correctly understood him or her).
I've just reported his/her comment, that doesn't mean I necessarily agree with him or her.

[2018-10-17 15:48] klotsy commented on #365
tu parles bien du fait que la solution ne calcule pas (25-23) mais utilise directement 2 ?

[2018-10-17 15:59] petraBT commented on #357
Thank you, @klotsy ! Hopefully the ability to edit codecasts will be implemented soon @remisharrock @EllaHa ?!

[2018-10-17 16:12] petraBT commented on #345
I deleted the "const" operator from the sample solution. While I was at it I also cleaned up the problem statement a bit.

[2018-10-17 16:12] #345 closed, assigned to remisharrock, petraBT

[2018-10-17 16:41] #363 closed, assigned to nobody

[2018-10-17 16:41] petraBT commented on #346
I added the prototype requirement to the problem statement.

[2018-10-17 16:41] #346 closed, assigned to remisharrock, petraBT

[2018-10-17 16:45] petraBT commented on #353
@EllaHa @remisharrock what are your thoughts? If the solution changes (and the checkers change), will a student's score remain  unchanged if they have already completed the task? But what if they have only partially solved the problem, then go back and won't even notice that the problem statement has changed?

[2018-10-17 16:49] petraBT commented on #344
Wow - these learners are really paying attention! I just updated the solution.

[2018-10-17 16:49] #344 closed, assigned to remisharrock, EllaHa, petraBT

[2018-10-17 18:11] deladan commented on #365
@klotsy
Oui, c'est bien ça

[2018-10-17 18:48] petraBT commented on #320
Okay, I have done my very absolute best to make this example even clearer than it already was...

[2018-10-17 18:48] #320 closed, assigned to remisharrock, petraBT

[2018-10-17 18:49] petraBT commented on #307
@remisharrock We could either update the codecast or list beneath the existing codecast ALL actual rules for variable names.

[2018-10-17 23:29] Kitkatniss opened #366 "mooc 1 subtitles are misssing now ??"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/994522d2b7fd30147c67f70b9e281652dcc9a863/threads/5bc770524265a408ff00130c

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/994522d2b7fd30147c67f70b9e281652dcc9a863/threads/5bc33c44b41e6e082f000b35

[2018-10-18 02:47] deladan commented on #366
For the second one, the issue has been fixed.
There were some extra characters in one of the lines indicating the time (and I'm afraid I was the culprit) that prevent the file to be used as subtitles.
But I can't see any such issue for the proposition we made for codecast about finding the remainder.
Here the link to it: https://bimestriel.framapad.org/p/u3-1_cc_remainder

[2018-10-18 02:50] deladan opened #367 "Feedback from some learner"
I'm not sure I had to create an issue here, but some student has completed the series and given some feedback about things I wished having also found in the course.
Here the link to his post:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5bc7bdf0ef5b3309b3000039

[2018-10-18 02:57] deladan opened #368 "Some simplification of a code introduced in a lesson"
AntAug finds that some part of the code of the reverseNumber function is superfluous.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/f9eaa9fcc17ba5da0b63d25314666caa5b66240a/threads/5bc4704ab41e6e080e000bb4
Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444

[2018-10-18 03:04] deladan opened #369 "providing prototypes in the activity "is the number divisible by 3""
Some learner suggests prototypes of the already written functions should be added to the provided code.
Link to his/her post: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/c430f0c173b5060a94c5212be56302d5b3deed39/threads/5bc7e0f7babaa7084b000059
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/cours

[2018-10-18 06:55] EllaHa commented on #366
https://github.com/France-ioi/codecast/issues/132

[2018-10-18 07:08] EllaHa commented on #367
This learner completed the  7 courses with 100%.
All of his comments are really relevant on the forum, it worth to take into account for continuing improvement.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/users/10179273

[2018-10-18 07:10] EllaHa commented on #337
Here it is! (please refresh your cache)

[2018-10-18 07:10] #337 closed, assigned to EllaHa

[2018-10-18 07:17] EllaHa commented on #182
https://github.com/France-ioi/taskgrader/issues/51

[2018-10-18 07:28] EllaHa commented on #180
#182 duplicate

[2018-10-18 07:28] #180 closed, assigned to remisharrock

[2018-10-18 07:30] EllaHa commented on #152
You are right Rémi.  We need to report this to Partner portal

[2018-10-18 08:30] EllaHa commented on #353
Let's wait for Michel's answer!

[2018-10-18 08:35] EllaHa commented on #366
Fixed please empty your cache

[2018-10-18 08:35] #366 closed, assigned to EllaHa

[2018-10-18 08:36] EllaHa commented on #357
@klotsy thanks for the link.
@petraBT let's have a demo for out next meeting, will be a good test!

[2018-10-18 08:37] EllaHa commented on #360
@deladan great! so I am not doing anything regarding grading!

[2018-10-18 08:38] EllaHa commented on #344
@petraBT do we need to update users attempts?

[2018-10-18 08:40] EllaHa commented on #344
@petraBT sorry this is a taskgrader so my comment is irrelevant!

[2018-10-18 09:10] klotsy commented on #337
thanks, relecture en cours :-)

[2018-10-18 09:12] klotsy commented on #357
you can edit the sound too?

[2018-10-18 09:30] klotsy commented on #368
et c'est encore AntAug !

[2018-10-18 09:32] klotsy commented on #369
oui mais alors soit l'écriture de prototypes n'est plus évaluée, soit ça revient à donner la solution des problèmes précédents même s'ils n'ont pas été résolus...

[2018-10-18 09:40] klotsy commented on #362
bonne idée  pour la taille dans codecast, de plus 20 lignes sont visibles dans le cours mais seulement 16 dans le bac à sable... c'est peu

[2018-10-19 12:19] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/93947c746229517dce29e0229fb66daaffcd2e72/threads/5bc9b79b36101309a1000161

[2018-10-20 03:33] deladan opened #370 "Issue with grading in the activity about chemical experience"
Achieving this activity doesn't systematically give us a maximal score.
i've been assigned a 0.02/1, and some learner 0.8/1.

Maybe only the first score was reported to the edX platform in this activity, and not the best one?

![capture d ecran de 2018-10-20 05-32-18](https://user-images.githubusercontent.com/34571147/47250855-ab732d80-d429-11e8-8cfa-c9a35407ca23.png)

Link to the activity: https:

[2018-10-20 03:41] deladan commented on #252
Hello @petraBT
That's no big deal indeed. On some other courses, they just add an erratum below the video.
I don't konw it is mandatory as well.

[2018-10-20 07:16] deladan opened #371 "Posting code on forums"
Given the great number of ill-formatted codes in the forums, it seems that learners don't follow the given link to the wiki.
I'm wondering whether the instructions shouldn't directly appear in the course, within this section: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/e4ee673e89a9468ebd5a0d66d608db29/1?activate_block_id

[2018-10-20 09:30] deladan opened #372 "Providing code in the submission area?"
Just a suggestion, and I don't know what it's worth.

In some activities of course 5, we're provided with some code to complete.
Maybe it would be a good idea to do the same with some activities from the course 1, when we're asked to rectify a given code, rather than let ourselves copy it?
Some learners were actually confused because they didn't exactly copy the initial code, often forgetting some

[2018-10-20 13:13] deladan opened #373 "Not enough tests?"
In course 1, activity about robots, Taskgrader tests the program only once.
So a program whose only instruction is to print 163 is assigned a 100% score...
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/76cd4b61bfd641de982b5f4f9a169ee6/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2

[2018-10-20 13:22] deladan opened #374 "redundancy in Unit 3 and beginning of Unit 4"
Some learner is surprised that the first lessons in course 4 are about material already introduced in course 3.
I had the same feeling when reviewing subtitles.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/course/threads/5bcb080ebabaa70833000252

[2018-10-20 14:09] deladan opened #375 "Not enough tests (again)"
In the activity about costly hotel rooms, course 1, a program will print out 0 for an age greater than 60 is accepted, whereas it should be free only when age is exactly equal to 60.
It appears also that adding 10 whatever the luggage's weight is accepted as well.
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6ed

[2018-10-21 07:59] deladan commented on #370
Hello!
Today, I'm inexplicably granted 1.0/1.0.
But it seems that the problem remains for some learners.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/a72c02975d539216f42f9db112a729271a6c6bf4/threads/5bc9e5baef5b3309c20001af

[2018-10-21 16:42] deladan commented on #371
AntAug just wrote a tremendous tutorial message that I've pinned on the forum of course 1.
Maybe it should be added to the section of each course.
Link to the post: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/0063cd62a6156198d8a3d3de05c6ac9d971a2ad8/threads/5bcc9e2136101309b6000412

[2018-10-21 19:03] deladan opened #376 "Color issue in Codecast"
Some learner remarks that the variable throw that is used in the codecast about nested for loops is colored in blue, as if it was a keyword.
I haven't heard that it was some in C language. It seems to be one in C++ though.  Is Codecast also implemented for this language?

Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6

[2018-10-22 06:08] deladan opened #377 "A bug with struct in Codecast?"
Some learner raises an issue with structure assignment on Codecast.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5bcd6614babaa70848000438

I remember that for the french MOOC, Codecast didn't support structures. Maybe everything is not yet all set?

[2018-10-22 06:33] chrissmiller commented on #364
Hmm... Thanks - I have removed the check for this, since if statements haven't been introduced yet. Will try to think what the best way to improve the check is - possibly looking for if with a parenthesis or space afterwards instead of just if alone...

[2018-10-22 06:33] #364 closed, assigned to chrissmiller

[2018-10-22 06:38] chrissmiller commented on #365
Thanks @deladan - the checker here does verify that the student doesn't hardcode answers, but it's hard to check for a hardcoded 2 vs 25-23 so I think we're accepting that students may hardcode the number of days (especially because it's such a simple calculation - forcing them to code the calculation may frustrate learners). I have updated the solution to include calculations for it though just s

[2018-10-22 06:38] #365 closed, assigned to chrissmiller

[2018-10-22 06:43] chrissmiller commented on #375
Thank you, fixed these two issues and an issue where it wasn't checking the age under ten condition!

[2018-10-22 06:43] #375 closed, assigned to chrissmiller

[2018-10-22 06:45] chrissmiller commented on #348
Thank you! Will fix this tomorrow, just need to write a prepopulated main statement then check for modifications in the checkers so the student is forced to do it in the function.

[2018-10-22 06:45] chrissmiller commented on #375
Fixed :)

[2018-10-22 06:49] chrissmiller commented on #347
I think this should be pretty clear from the example which shows an output with nonzero MB/KB and zero B but have added an additional check to make sure that grading reflects that, thanks!

[2018-10-22 06:49] #347 closed, assigned to chrissmiller

[2018-10-22 06:49] #215 closed, assigned to chrissmiller

[2018-10-22 15:12] deladan opened #378 "Solution appearing at first submission, even false?"
Course 3, activity Program a smart unit converter.

Some learner remarked that the solution tab appeared at his/her first submission, even though his/her code wasn't correct.

Some issue with Taskgrader here?  I can't reproduce it because I've already submitted a valid code.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d7

[2018-10-22 20:15] deladan opened #379 "A bug with Codecast"
A learner tried to play with sizeof in Codecast but got unexpected result with this code:
#include <stdio.h>

int main(void) { int arr[]={4,56,7,89,1}; printf("%d\n",arr[0]);

printf("size is %lu\n",sizeof(arr)/sizeof(arr[0]));
printf("size is %lu\n",sizeof(arr)/sizeof(int));
return 0;

}

Apparently, Codecast can't correctly compute sizeof(arr[0]) ?

Link to the thread (course 4) : https://course

[2018-10-22 21:04] petraBT commented on #290
It's actually the last question in that quiz. We could do a regular expression in the string response to allow for the f as well? Or simply use the "additional response" option? @remisharrock what do you think?

[2018-10-23 03:20] deladan opened #380 "nested if loops (Course 2 - Unit 2-1)"
Some learner was puzzled by the use of `... else if ... ` appearing in the solution of the activity about trees, thinking it was some sort of conditional statement that he/she didn't know about.
Nested if statements have also been used in the solution of the activity about costly hotel room.
Maybe it would be a good idea that an example of nested if statements were displayed in some lesson before

[2018-10-23 06:29] deladan opened #381 "Grading issue with carpooling activity (course 2)"
Hello,
There seems to be an issue this morning  (here in France:clin_d'œil:) with the carpooling activity.
Grader raises the following message: Error from platform during validation : L'évaluation a pris trop de temps. Cela signifie en général que votre programme met trop de temps à résoudre le problème, while submitting the solution code.
I didn't run into that issue with other activities on this

[2018-10-23 14:48] deladan opened #382 "ill-formatted command in quiz (course 6)."
A detail, but in the question 6 of the quiz about Linux and the files, the mount command isn't formatted as code as other commands are on the quiz.
It seems to have confused a learner who didn't understand the question.

Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?acti

[2018-10-24 03:29] deladan commented on #381
Everything is working fine today.

[2018-10-24 03:29] #381 closed, assigned to nobody

[2018-10-24 03:42] deladan opened #383 "Confusing question Linux and the file"
I thought I've reported during the beta-test, but I can't find a matching issue.
The last question of this quiz is confusing, because we're asked to delete a parent directory.
I remember quite a lot of posts about it on the forum of the french MOOC.
One could expect some error message then.
In fact, on weblinux, the command is executed but the prompt doesn't seem to know where we are after, and on

[2018-10-24 03:51] deladan opened #384 "ANSI C and Taskgrader"
Some thread about Taskgrader and ANSI C: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/8db8e47a3e367fd6e0c55728776c61f4495811e6/threads/5bcb1388ef5b3309bc000292
I don't think I really understood what the learner means with: "For a programmer, the reward is not having to use an ANSI compiler!", but maybe it would be a good thing if the tool was coher

[2018-10-24 04:20] chrissmiller commented on #384
@petraBT I can do a check for the required array size of 50, should I add that and then change the description so that it says more specifically to do that? Otherwise I'm worried that if I check for 50 specifically, learners who use the more advanced/better practice of mallocing will be unfairly penalized...

[2018-10-24 04:49] deladan opened #385 "Suggestion for the activity about even or odd numbers of letters in a word (course 2)"
Some learner points out that it would have been more coherent that the output 1 were expected for odd numbers of letters, and 2 for even numbers.
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/6864db5ab681423d855d42c487c09052/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype

[2018-10-24 04:55] deladan opened #386 "Confusing problem statement of the activity about swapping first name and last name (course 2)"
I know some issue was already opened about that but I can't find it anymore, sorry about that.
Learners still complain on the forum about the examples in this activity, which suggest that we have to read all the input first and then treat them.
I don't know of a good way to present things, but I guess that some hint, as "Treat each name one after the other", could be added to the problem statement

[2018-10-24 05:30] deladan opened #387 "Better solution for the activity "count redundancies in number""
Some learner suggests a simpler solution than the given one.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/f9eaa9fcc17ba5da0b63d25314666caa5b66240a/threads/5bd00022babaa70821000697
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/6fdf6

[2018-10-24 06:21] deladan opened #388 "Some issue with the activity about updating nodes (course 5)"
The grading issues regarding this activity have been fixed, but the given code in the problem statement hasn't been actualized.
However some learners may want to copy it and use it on their computer, rather than directly working on Taskgrader, and when they paste it, it won't be accepted without modification.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.

[2018-10-24 11:32] petraBT commented on #384
@chrissmiller Do we have any control of how the compiler is invoked? I just played with gcc -ansi -Wpedantic and got some nice warnings for all of the faux pas I committed. My code was

[code]
and the compiler's response

ansiTest.c:6:13: warning: variable length arrays are a C99 feature
      [-Wvla-extension]
        float array[N];
                   ^
ansiTest.c:7:7: warning: variable declarat

[2018-10-24 11:34] petraBT commented on #384
Otherwise (if we can't do the above), could we have the checker check whether there either is an array of size 50 declared or a malloc command invoked? I am not entirely happy with the '50' option - what if they make the array have size 60? Can we regex check whether there is a [...] somewhere with ... being an integer at least 50?

[2018-10-25 04:37] ddomonoske commented on #378
Another learner has had the same problem, but on Unit 3.1 / Activity: use recursion to compute the sum of digits. I cannot recreate the problem.

Link to activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/e1f1485b07334f1297e71f4f4896e77d/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40d

[2018-10-25 17:11] deladan opened #389 "Grammatical issue (course 6)"
Reported by some learner on the forum about the quiz on Linux genesis:

Link to the quiz:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/fa3b199b4927423f90a0f80550b0d4c3/e241fa2b0ca1495db74ce4c94b47820d/7?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%400818d3c0c1d24139a80adf315ef07c8f

[2018-10-25 17:14] deladan opened #390 "Root directory (course 6)"
Some learner remarks that:

Link to the video: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/e970653072f84df6bf457872dd3d2043/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%40e35d4c10769845f2ac4383e7d5cbc758
at 1'32

[2018-10-25 17:19] deladan opened #391 "Some suggestions for the quiz about Linux and files"
Some learner found confusing the way folders are displayed in the question 9.  That could indeed suggest that the name of the folders are "a popular folder" and so forth.

By the way, he also suggest to modify the word "good" in the expected answer by "right" or "proper".

Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f

[2018-10-25 17:22] deladan opened #392 "Object versus shared library (unit 7-2)"
Some learner made a comment about the use and the -c flag and the extension .so.
Quotes:

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/ab4624ae490e2b2c7589f718b60f2c26c6a031c8/threads/5bd07e5bef5b3309f5000704

[2018-10-26 04:01] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/3ee766d2843da0928888c9a1e43c6744933d2032/threads/5bd21409ef5b3309c5000826

[2018-10-26 13:19] deladan commented on #378
Again, in course 2 this time.
Learner explains that he went to the forum for help and when he came back to the activity, his code was already submitted and graded, and solution accessible.
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/course/threads/5bd2c852ef5b3309f80008ed

[2018-10-26 13:52] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/38082827aefcad86a793c96bea934940ffc07a00/threads/5bd03445babaa708600006af

[2018-10-26 19:13] petraBT commented on #172
@remisharrock @EllaHa So I just managed to edit this codecast by invoking the "skip" function in the editor twice (around 1:39), (see https://codecast.france-ioi.org/v6/player?base=https%3A%2F%2Ffioi-recordings.s3.amazonaws.com%2Fdartmouth%2F1540580685351 ). But while the codecast plays correctly outside of edX now, it retains its original form inside edX. What needs to be done to fix this? Also,

[2018-10-27 04:17] deladan opened #393 "Misleading hint on the activity about creating node (course 5)"
Some learners reported that they don't find where in the course we've written a copyStr() function.
One of them has even looked for it in all the previous courses.

Yet the hint for this activity suggests that we reuse it here.

I didn't find it neither, but I must admit I didn't spend a lot of time looking for it.
So either it is actually somewhere in the course and I think it would be a good ide

[2018-10-27 04:23] deladan opened #394 "unused variable on Codecast (course 4)"
In the Codecast about passing arrays to function, a variable is declared and initialized with the size of the array, but when the functions are called, this variable is not passed as argument, but directly the size.
Reported by some learner on the forum

Link to the Codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/27b25e631c254ed09e1f67d84f02a01c/5

[2018-10-28 23:56] Kitkatniss commented on #304
done for all documents

[2018-10-29 04:04] deladan opened #395 "Course 6.2 Quiz Linux and files - other possible answer"
Question 10, some learner answered `mv -i ../miscellaneous ../other`.
This option is actually introduced by Rémi in the video, but you can't check the use of all options, so I suggest you precise that no options are expected here (or make the grader accept this one).

Link to the thread (to reinitialize attempts for this learner?): https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.

[2018-10-29 04:28] deladan opened #396 "Missing precision in the activity "program a smart unit converter" (course 3)"
Some learners made the remark that using float will give different results than the one expected.

As this type is introduced later in the course, learners shouldn't be tempted to use it, but I suggest that you say at this time that the type double is the one to use for the activities.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9

[2018-10-29 15:44] deladan opened #397 "Some lack of consistency with gcc option (course 7)"
Some learner remarks that the use of the -std=c11 option for gcc in the course is not very coherent with the purpose of this course which is to teach us ANSI C.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/ab4624ae490e2b2c7589f718b60f2c26c6a031c8/threads/5bd7006aef5b3309aa000bad

[2018-10-29 15:49] deladan opened #398 "Personal feedback about the activity : Allocate memory for strings (course 4)"
In this activity, we're asked to call the function allocateString() with an argument equals to length + 1 for the null terminator.
Wouldn't it be more consistent that the function itself deals with granting enough space for the string the user wants, and don't count on him/her to think about this null terminator?

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.

[2018-10-29 17:48] deladan opened #399 "Vocabulary issue on the quiz about compilation (course 6)"
Some learner has difficulty with the expression "inverted number" (question2), and suggest something like "reverses the order of the digits" instead.

Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/5a68ec5063644f41986eb24655613ab1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btyp

[2018-11-01 03:50] deladan opened #400 "weblinux and firefox"
As for the french mooc, there is some issue with weblinux running on Firefox.
It works perfectly and then some day, doesn't correctly start.

The only way I've found was to wipe data from sites on the navigator, but that may seem brutal.
By the way, this issue doesn't seem to occur with Chrome.

A link to some learner's report of this problem, with a screencast: https://courses.edx.org/courses/cou

[2018-11-01 04:07] deladan commented on #378
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/92dc83127238369fc695e2c16588217f248ede8f/threads/5bda3191babaa70872000e40

[2018-11-01 04:37] deladan opened #401 "Misleading indication in problem statement (course 1)"
I'm afraid I've already write an issue about this topic, but I can't find it anymore.  And there is some feedback on the forum about it.

In the activity Divide decimals of the section Practicing division, we're asked to read numbers up to 2 decimals.
Learners have been tempted to use the %.2lf format specifier as with printf but it isn't accepted by scanf.
I don't know of a way to do that, and I

[2018-11-01 04:43] deladan opened #402 "Issue with the solution of the activity about robots"
Some learner pointed out that the given solution couldn't be run in Codecast, because of the presence of '\n' in a scanf instruction.
He also remarks that the variable "resistance" has been named "coefficient". Certainly some remainder from the french version ;-)
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc51

[2018-11-01 10:41] deladan opened #403 "typo in an hint (course 2)"
In the hint of the activity: find the longest word, the null character is said to be '\n' instead of '\0'.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/cf7f6546fc4d411992a1d434b489a916/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%409c0b79b9517448

[2018-11-03 19:43] deladan opened #404 "Issue with a solution of the activity "Update nodes in a linked list""
If one tries to submit the given solution, Taskgrader rejects it saying restricted code has been modified.
This solution doesn't seem to have been actualized since initial issues on this activity were fixed.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/58db2f5a71e44f1abc7316ed9ce1cd74/3?activate_blo

[2018-11-04 04:54] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5bde09bbef5b3309bf001085
I'm quite embarrassed to be named as well as Petra and Remi, though.

[2018-11-05 12:54] Kitkatniss commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/38082827aefcad86a793c96bea934940ffc07a00/threads/5bd03caababaa70839000728

[2018-11-05 17:07] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/a623a92f9430db8f0650b82d8bed7abc22385bdb/threads/5be071dc36101309b6001532

[2018-11-06 05:25] deladan opened #405 "Casting inside printf bothering Taskgrader (course 7)"
Here's some code that upsets Taskgrader whereas it works in Weblinux or on the learner's system.

[code]
It seems to be the cast inside the printf function that causes the problem.
I've told the learner that it isn't mandatory here, but I just want to report this issue, if it is really some.
Reversing factors fixes the issue: `(double) amount * price`, as well as calculating `price * (double) amou

[2018-11-07 15:22] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5be2fa2e3610130998001109

[2018-11-07 17:19] Kitkatniss commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/38082827aefcad86a793c96bea934940ffc07a00/threads/5bd03caababaa70839000728
"two excellent teachers" ;)

[2018-11-08 19:56] deladan commented on #380
Another one: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/43fceaabd90ea8762a99b8e3bae4c7097c715d5a/threads/5be46d7436101309ad0014d5

[2018-11-09 16:40] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5bc49707b41e6e0829000bee

[2018-11-09 19:02] deladan opened #406 ""suspicious" for loop in the solution of Tug of war"
Solution of activity Tug Of War, unit 2-1: `for(int i=0 ; i<nbMembers ; i++)`
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/5?activate_block_id=block-v1:Dartmouth_IMTx%2bDART.IMT.C.02%2b1T2018%2btype@discussion%2bblock@ea1d9b78328042169dfef7e52f25434f

[2018-11-10 15:48] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/ac2ed9fddd8d648b430f62c3070ac5e47921a73a/threads/5be6f894ef5b3309fb0015ad

[2018-11-14 04:20] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/06baa62d9ec117db3e2bd38fff1f1133d6491779/threads/5bd282f036101309a1000760
Look at theblindguidedog comment.
EDIT : and at HaydenAlbrey's comment also.

[2018-11-14 05:30] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/bd91c32df8d8616634bb22e7c74f13985dd2dff8/threads/5beb2b144fc23009fb000ade

[2018-11-16 05:20] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/b2a4db2da6f7bbda3110024e512901d7be1e0220/threads/5bee4f9636101309b90017cb

[2018-11-17 04:57] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/7348750b7626e474ff71b8a53031239c65c7b853/threads/5bba3f254265a4092c000470
See the comment from theblingguidedog

[2018-11-17 07:26] deladan opened #407 "Some inconsistency with codecasts (course 2)"
Just some feedback about the second codecast of the unit 2-2, Repeating instructions with a for loop:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/d146744a8fa343e2b47855983ebc8e93/?child=last

In this codecast, Remi still uses an extra variable CellNumber, whereas in the previous codecast, it is shown that we can use dire

[2018-11-18 05:35] deladan opened #408 "Issue with Taksgrader (course2)"
In the activity about swapping first and last names, Taskgrader is accepting code which doesn't do the job.
Here's the erroneous code from some learner:
[code]
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/914396655d9144bfaf7bd9710bc7415e/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2

[2018-11-18 05:51] deladan opened #409 "Taskgrader is sometimes upset (courses 1 and 5)"
Taskgrader seems to be bothered if we try to split a long printf statement, as in this code:
#include <stdio.h>
int main(void){
  int x = 25 - 23;
  int y = 60 * 24 * x;
  int z = 60 * y;
  printf("Dear Procrastinator,\n" \
         "You still have to wait for %d days (%d minutes or %d seconds) " \
         "before you can procrastinate!", x, y, z);
  return 0;
}
Link to the activity: https://cour

[2018-11-22 05:12] deladan opened #410 "Over-complicated solution of the activity about carpooling (course 2)"
I (and participants in the forum) find the calculation of the amount we've got to pay if there are passengers quite complicated.
`totalCost/(nbPassengers+1)` will suffice, won't it?

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/e7f149c2d6c640cd8f5b9c36ae72437c/5?activate_block_id=block-v1%3ADartmout

[2018-11-23 02:40] deladan commented on #409
And again one thing that looks suspicious (but not every time) to Taskgrader: to use arrow notation as  in `scanf("%d", &d->year)`
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5bf348674fc23009d1000fab

[2018-11-25 05:46] deladan opened #411 "rewording some quiz question (course6)"
Some learner complains that the first question of the quiz about find and locate is ill-worded, as we're looking for a 14-character long name and not a 14-letter long name.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/f184227962fcb2524e225b14f99685ca5d79d2d1/threads/5bfa2a684fc23009fb001390
Link to the quiz: https://courses.edx

[2018-11-26 04:02] deladan opened #412 "Possible enhancement about good practice (course 7)"
Some learner suggest that error trapping is introduced in the course.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/586c19882fa456363e20a79009e8449a502b5bd1/threads/5bfb1b9eef5b3309ec00226d

[2018-11-29 18:16] deladan opened #413 "No fclose statement on a codecast"
Some learner remarked that the fclose statement is missing in the Codecast: read until the end of the file.
Link to the Codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/1270212dc8a846b89a71657856e5dda1/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40adb5b46d160b44

[2018-11-30 04:46] chrissmiller commented on #410
Thanks, fixed!

[2018-11-30 04:46] #410 closed, assigned to nobody

[2018-11-30 04:56] chrissmiller commented on #403
Fixed, thanks!

[2018-11-30 04:56] #403 closed, assigned to nobody

[2018-11-30 05:05] chrissmiller commented on #408
I really have no clue why taskgrader is accepting the solution since it's clearly producing an infinite loop... I've added another test which this fails so that users cannot receive a passing grade with this, but also passed the issue along to Michel since it shouldn't be grading any infinite loop code correctly. Will update with his response.

[2018-11-30 05:10] chrissmiller commented on #406
Whoops, thanks, fixed the non-ANSI compliant solution

[2018-11-30 05:10] #406 closed, assigned to nobody

[2018-11-30 20:56] chrissmiller commented on #404
Fixed, thanks!

[2018-11-30 20:56] #404 closed, assigned to nobody

[2018-11-30 20:59] chrissmiller commented on #402
Fixed, thank you!

[2018-11-30 20:59] #402 closed, assigned to nobody

[2018-12-01 03:47] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c01f5734fc23009da0017a3

[2018-12-01 03:55] deladan commented on #303
About Codecast tool:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/68143a9ea0ac2a5b22d9546f0abdd37ea6946947/threads/5c01a61936101309bf002070

[2018-12-01 11:57] petraBT commented on #411
Fixed!

[2018-12-01 11:57] #411 closed, assigned to remisharrock, petraBT

[2018-12-02 04:26] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/b589fbb98b0526c89047d2ed04a20d6059b170f2/threads/5c035d2436101309b0002e05

[2018-12-02 09:24] deladan opened #414 "A typo in the activity about ingredients (course 2)"
One participant on the forum reported a typo in the problem statement.
"up to a maximum of 10 integers" should be replaced by "up to a maximum of 10 ingredients", or  "up to a maximum of 10".
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7274ebb9203b4dc5ac1dd1581089f3be/4?activate_block_id=block-v1%3A

[2018-12-02 18:41] deladan opened #415 "not enough tests for activity about epidemic control (course2)"
Some learner wrote some code which is incorrect but nonetheless accepted by Taskgrader.

[code]

[2018-12-03 05:32] chrissmiller commented on #397
@petraBT @remisharrock What are your thoughts on this? Happy to change it if you agree

[2018-12-03 05:35] chrissmiller commented on #392
@petraBT @remisharrock Thoughts on this? I'm not very knowledgeable about library compilation so not sure of the correct answer in this case.

[2018-12-03 12:15] petraBT commented on #399
Fixed.

[2018-12-03 12:15] #399 closed, assigned to remisharrock, petraBT

[2018-12-03 12:18] petraBT commented on #397
Hmmm... I do agree but then on the other hand we never explain these options anywhere, do we? Maybe in a future iteration of the course we should explain these switches and then also pick a lower standard? But since we use c11 in our videos I don't think we should change this now in the exercises?

[2018-12-03 12:22] petraBT commented on #395
Rémi? How would you like to handle this?

[2018-12-03 12:26] petraBT commented on #392
@remisharrock ???

[2018-12-03 12:38] petraBT commented on #391
Fixed.

[2018-12-03 12:38] #391 closed, assigned to remisharrock, petraBT

[2018-12-03 12:39] petraBT commented on #374
We should probably add some explanation here in a future version?

[2018-12-03 12:43] petraBT commented on #382
Fixed.

[2018-12-03 12:43] #382 closed, assigned to remisharrock, petraBT

[2018-12-03 12:55] petraBT commented on #389
Fixed.

[2018-12-03 12:55] #389 closed, assigned to remisharrock, petraBT

[2018-12-03 12:58] petraBT commented on #383
@remisharrock ??

[2018-12-03 14:57] chrissmiller commented on #397
Good point - I think we should keep it consistent with the videos if c11 is the standard used there since students may just try to emulate what is done in the videos.

[2018-12-04 03:48] deladan opened #416 "Issue with a test on Taskgrader activity: find repeated letters (course 2)"
The second test seems to be false, as solution doesn't validate it any longer.
By the way, some learner wrote a program which count iteration several times if the letter is repeated more than three times in the word.
I mean that an input as "aaaabc" has output 2 instead of 1.
But its program behaves correctly if there is no more than 3 repetitions: "aaabc" gives the expected 1.
I guess that we can

[2018-12-04 21:03] EllaHa commented on #400
Thanks @deladan  for reporting this @natjhealy shall we had this problem to the FAQ

[2018-12-05 03:30] deladan opened #417 "Some complaint about the quiz cat less more (course 6)"
Some learner asks why the answer `rm -r my file` isn't considered as correct, as the option -r let rm also work on files due to its recursive nature.
Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/a7169c56bd0d42a5a61f14e521b195ad/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype

[2018-12-05 03:54] deladan opened #418 "Possible enhancement of Codecast tool"
Some learner suggests that comments and strings should not be highlighted in the same color on Codecast.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/4c8326c01859cf43a1c906dbe8620a00411613c0/threads/5c07452a361013098f00329a

[2018-12-05 07:13] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/11ba11ebe81fe8548b4bba61b4a260e337947812/threads/5c0774544fc2300a19001a0b

[2018-12-05 16:04] deladan opened #419 "Some remark about a codecast of course 1"
Concerning the codecast about changing the value of a variable (course 1 Unit 1-2 Using variables),
here's some remark from a participant on the forum:

Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/05c2e747f2bc429d979fd2c529f5b8a1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018

[2018-12-06 03:20] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c082f0a4fc2300a04001af1

[2018-12-06 03:50] deladan opened #420 "Technical issue watching Codecast"
Here's the link: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5c074a804fc23009e9001970

I'm afraid I don't know what to answer ESchaefer43.

[2018-12-07 03:55] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c0968aeef5b3309ad002936

[2018-12-07 03:59] deladan opened #421 "Some feedback about course 6"
Here's the comments from some learner:
`This course would work a lot better if it had been set up to actually do projects that force a student to use commands instead of answering questions for a quiz! These questions are a waste of the time for the student because they don't do anything to teach someone how to use linux.`

I suppose he's right as practicing is the best way of learning, but I supp

[2018-12-07 17:46] natjhealy commented on #400
Looks like David already took care of this. Detailed instructions are now on the FAQ page.

[2018-12-07 17:46] #400 closed, assigned to remisharrock, natjhealy

[2018-12-08 04:46] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/94e94d03f810cb9ed12772cdd2cd57850a603286/threads/5c0b4ac8361013098f0034dc

[2018-12-09 04:42] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/a8da9b37168f96f904482d17e8d182cb47ebfe2d/threads/5c0c4bfd36101309b9002679

[2018-12-09 05:05] deladan opened #422 "Some remark from learner about unit converter (course 3)"
`You want us to convert meters, grams, Celsius into feet, pounds, Fahrenheit. It means metric to imperial. However, your conversion rules give us formulas on 1 foot (imperial), grams (metric), and Fahrenheit (imperial). Why?`
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/022af50ca31fe27dc07df110a366aea6a28df050/threads/5c0c19c9ef

[2018-12-09 05:07] deladan opened #423 "Feedbacks from learners"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/a8da9b37168f96f904482d17e8d182cb47ebfe2d/threads/5c0c32d936101309ad002bf4

[2018-12-09 06:48] deladan commented on #421
Another remark, from the same learner:
`My commands worked just fine in WebLinux to achieve the results that were asked for in the questions. Yet, my responses were counted as incorrect. Why can't the grader be set up so that answers that work in the real world are also counted as correct? Maybe this problem with the grader could be avoided altogether if the problem sets were set up so that there

[2018-12-09 18:18] deladan opened #424 "Incomplete instructions in quiz on course 6?"
Some learner tried to answer questions of quiz about discovering the filesystem using his own system.
Maybe it should be precised in the quiz that we're expected to use Weblinux.

Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/e970653072f84df6bf457872dd3d2043/5?activate_block_id=block-v1%3ADartmouth_IMTx%2

[2018-12-10 03:50] deladan opened #425 "Some complaint about quiz on course 6"
Some learner affirms he gave the good answers to the quiz about filesystem and reading file contents, but they weren't accepted.
I can't reproduce this issue, but he's asking to get another chance to submit.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/7348750b7626e474ff71b8a53031239c65c7b853/threads/5bba3f254265a4092c000470
Li

[2018-12-10 04:05] deladan opened #426 "bad numbering of units on forum (course 4)"
On the forum of course 4, the section "Introduce yourself" is marked as Unit 3.0.
![capture d ecran de 2018-12-10 05-02-09](https://user-images.githubusercontent.com/34571147/49710358-2b06c700-fc39-11e8-8f8b-5bd4ed1938b5.png)

[2018-12-10 04:26] deladan opened #427 "Possible enhancement of the first lectures (course 1)"
Some learner's feedback:
About lack of explanation of all instructions in the Hello World program:

And maybe add that answers can be found in the wiki?

And about Codecast:

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/8ab014bc468159279955a2fd09aa523558173a56/threads/5c00906d36101309b900211f

[2018-12-13 18:59] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/4b630d5e10e414daff93349ef8098528b993f4d9/threads/5c125f52ef5b3309d1003025

[2018-12-13 19:00] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/4b630d5e10e414daff93349ef8098528b993f4d9/threads/5c121176ef5b3309e3002d9b

[2018-12-15 17:38] deladan opened #428 "Issue with provided solution in activity "Create a student list" (course 5)"
Provided solution isn't accepted by Taskgrader which says that restricted code was modified.

Indeed, in the main function, the variable myAge is initialized to 25, whereas in the provided code, it isn't initialized at all.

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/f6fb8040b1214d258cba7629aa0673

[2018-12-17 04:51] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c1702ccef5b3309aa002fa0

[2018-12-17 14:16] EllaHa commented on #425
Thanks @deladan for raising this issue. @remisharrock can you have a look into it?

[2018-12-17 14:22] EllaHa commented on #426
Thanks this is fixed

[2018-12-17 14:22] #426 closed, assigned to EllaHa

[2018-12-17 14:23] EllaHa commented on #424
Thanks @deladan
@remisharrock should we add this in the problem statement?

[2018-12-17 14:26] EllaHa commented on #423
@petraBT @remisharrock what do you think?

[2018-12-17 14:31] EllaHa commented on #420
Hi @deladan we are aware of this problem and we are trying to address it. We are working in a downloadable version of codecast so people would be able to work without internet connection [except that they won't be able to use the compile button]. We hope to implement it in the version 2 of the courses.

[2018-12-17 17:15] petraBT commented on #423
This is unfortunately due to the inability to use the string library in Codecast. @remisharrock do you think that it may be possible to add string library features to Codecast in the future?

[2018-12-17 17:29] petraBT commented on #419
I like the "I have no money" idea!

[2018-12-18 11:44] petraBT commented on #416
Thank you for reporting this - should be fixed now. As for the learner who'd like to count more than 2 occurrences of the same letter multiple times: that would be a different problem to solve. As it stands, our problem statement is clear that this should only be counted once. Thanks!

[2018-12-18 11:44] #416 closed, assigned to nobody

[2018-12-18 16:10] deladan commented on #416
What I meant is that his program was accepted even if it doesn't do what is expected, so I was just wondering whether more tests should be added.

[2018-12-18 16:30] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/4b630d5e10e414daff93349ef8098528b993f4d9/threads/5c191117ef5b3309f8003063

[2018-12-18 16:39] deladan opened #429 "Confusing problem statement (course 1)"
In the activity about comments, problem statement is quite confusing, as it first says "you should not delete any of it (code)" and then "If you find an illegal for-loop, you should remove the entire loop".
Maybe this second sentence should be reworded.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/6e554ffe0eb345c4a343a63b4f436db5/6

[2018-12-18 17:07] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/a51859bf109ecbee26868bff563f3a6dbb65234d/threads/5bcfde2fbabaa708480006ad
Look to arcanosam's comment.

[2018-12-19 04:24] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c196e86361013097a002b17

[2018-12-19 04:53] deladan opened #430 "Syntactic sugar (course 1)"
Several learners were confused by the use of the += operator in the solution of the activity about robots.
I can't remember if it was introduced in the course, but if not, maybe it should be in a future version of the course (or the solution modified) ?

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/

[2018-12-19 06:13] chrissmiller commented on #428
Fixed, thank you!

[2018-12-19 06:13] #428 closed, assigned to chrissmiller

[2018-12-19 06:18] chrissmiller commented on #415
Good catch! Fixed!

[2018-12-19 06:18] #415 closed, assigned to chrissmiller

[2018-12-19 06:27] chrissmiller commented on #422
I switched over the meters/feet one - although in this user's rationale there will still be an inconsistency with the Fahrenheit one, all of them are now designed to multiply a metric value by the given number (or otherwise modify as in the temp case) and switch it to imperial which I think is now consistent with the problem statement.

[2018-12-19 06:27] #422 closed, assigned to chrissmiller

[2018-12-19 06:30] chrissmiller commented on #408
Taskgrader is not able to identify timeout errors/distinguish them from code errors right now but I have set this one so that the grader script will no longer run when a timeout like that occurs and they will receive a zero!

[2018-12-19 06:30] #408 closed, assigned to chrissmiller

[2018-12-19 06:33] chrissmiller commented on #401
Hmm, no idea why that was there. Fixed!

[2018-12-19 06:33] #401 closed, assigned to chrissmiller

[2018-12-19 06:41] chrissmiller commented on #398
Great point - I have altered the provided code and solution to incorporate your suggestion. Thank you!!

[2018-12-19 06:41] #398 closed, assigned to chrissmiller

[2018-12-19 06:46] chrissmiller commented on #393
Hmm I am not sure where it went - it was originally in some of the codecasts/videos I think but may have been removed. I've updated the hint regardless to suggest that users create the function as a good learning opportunity!

[2018-12-19 06:46] #393 closed, assigned to chrissmiller

[2018-12-19 06:46] #397 closed, assigned to chrissmiller

[2018-12-19 06:59] chrissmiller commented on #396
Added!

[2018-12-19 06:59] #396 closed, assigned to chrissmiller

[2018-12-19 07:00] chrissmiller commented on #388
Fixed!

[2018-12-19 07:00] #388 closed, assigned to chrissmiller

[2018-12-19 07:03] chrissmiller commented on #386
This has been addressed!

[2018-12-19 07:03] #386 closed, assigned to chrissmiller

[2018-12-19 07:04] chrissmiller commented on #429
Thank you, fixed! Switched wording to state that learners should comment out the entire loop instead of telling them to remove it.

[2018-12-19 07:04] #429 closed, assigned to nobody

[2018-12-19 07:07] chrissmiller commented on #430
@petraBT I think this is probably a content issue, but should I switch over the solution to sum = sum +... instead of sum +=... if the += syntax has not been introduced yet? If it isn't introduced at all I'm inclined to leave it in since other solutions throughout other courses use it (and obviously it is the more compact format).

[2018-12-19 07:08] chrissmiller commented on #414
Whoops fixed this awhile ago but forgot to close the issue!

[2018-12-19 07:08] #414 closed, assigned to chrissmiller

[2018-12-19 07:15] deladan commented on #386
I suppose problem is that learners don't carefully read problem statement ;-)

[2018-12-19 07:19] chrissmiller commented on #392
@petraBT This is how it's done in the preceding video which seems to work fine, but looking around it seems that the user is right that typically creating a shared library takes a few more steps - I am not sure what the best (or even correct!) option here might be...

[2018-12-19 07:26] chrissmiller commented on #380
@petraBT @remisharrock I have switched over the solution to use if statements only (although there is a hint which lays out how to use the else if relatively clearly) but might be worth moving around an introduction to else if in the next version?

[2018-12-19 07:30] chrissmiller commented on #373
Fixed!

[2018-12-19 07:30] #373 closed, assigned to chrissmiller

[2018-12-19 12:28] petraBT commented on #430
@chrissmiller I honestly don't remember when we introduce the += notation - I think (hope...) it is around the time when we introduce things like i++ (loops?). So if we could simply get rid of this syntax in solutions for course 1 that would be great.

[2018-12-19 12:33] petraBT commented on #392
@chrissmiller @remisharrock We really need Rémi's input here. I typically go for simply a .o rather than a .so in my own work, but I am not knowledgable enough to know the advantages/disadvantages of those two. We'd have to change those videos in a future iteration if we wanted to go away from the "shared" part of the library? Is this what the learner is getting at?

[2018-12-19 12:37] petraBT commented on #380
Thanks, Chris! Yeah, we have a lot of nested this inside that but maybe we should simply have a nested if inside if in Unit 2.1?

[2018-12-20 04:16] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/06baa62d9ec117db3e2bd38fff1f1133d6491779/threads/5c1ac0b636101309b6003890

[2018-12-20 12:56] petraBT commented on #416
Oh, I see. Thank you! @EllaHa @mgoudz @remisharrock this can easily be fixed by adding another test (or simply modifying an existing test) - but then the student with the incorrect code would no longer receive full credit (but hopefully they wouldn't re-submit and so not trigger anything?). What do you think: is this something do be done now or an improvement for the next version?

[2018-12-20 13:52] deladan opened #431 "Not enough test (course 2)"
In the activity about finding the longest word in a text, Taskgrader only tests program once.
I suggest you add more, so programs which only print out the expected value "6" will be accepted.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/cf7f6546fc4d411992a1d434b489a916/3?activate_block_id=block-v1%3

[2018-12-21 19:01] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/38f9e13f9c0902012d929bdf2b08034c53b41c7f/threads/5c1d357eef5b3309cd0032f0

[2018-12-23 03:54] deladan opened #432 "Demand about libraries on course 7"
Several learners are asking how to know what is each library for.
Maybe something could be added about this in the course?

Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/c0a4c329d436b0bd49467e7723ad292feefab6f6/threads/5c18ffbb3610130974002a70

[2018-12-24 05:10] deladan opened #433 "More precision in problem statement (course 1)"
For the activity about cost of cement, some learners have difficulty to understand what is the calculation to do.
One of them suggests that the given example is detailed.

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/4c4f062124eb47f99ab23cf7228a1109/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDA

[2018-12-24 09:55] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/f68f35e6ed9a9e05d3ee606a1d5ea7ed1491c034/threads/5c1fdfa136101309a700389f

[2018-12-24 20:40] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/997220ed923b292464b5742bf966083116fb1036/threads/5c2138634fc23009f50026ee

[2018-12-25 04:15] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c215b693610130971002e3c

[2018-12-25 17:43] deladan commented on #409
Just some remark.
Some learner got the following warning:
[code]
I don't question it, but I'm wondering about the '\n' which is present in the expected syntax.
I'd think that we should avoid using this in scanf statement.

Link to the activity (I don't know if it is helpful):  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/

[2018-12-25 17:54] deladan opened #434 "Taskgrader rejects some code it accepts before (course 7)"
In order to answer to some participant's question on the forum, I've tried to submit the provided solution of the activity: read numbers from a file.
The code was rejected. I tried once again and it was accepted.
In fact, repeating submissions, it appears that some times, the same code is rejected.

There were other messages on forum, maybe on other courses, talking about such issues.
A connection

[2018-12-25 18:01] deladan opened #435 "Some confused explanation in some codecast (course 2)"
Some learner wrote, about the Codecast "Repeat using a while loop":

I think he's right, so maybe something to rectify for a future version of the course?
Link to the codecast:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/174acb6ba12746b4aeea29d80c7ec94a/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2

[2018-12-25 20:25] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/997220ed923b292464b5742bf966083116fb1036/threads/5c2291c74fc2300a04002644

[2018-12-26 04:44] deladan opened #436 "Some typo in course 1"
Some learner points out a typo under the codecast about correcting common syntax errors regarding variables.
It is written: If you can't see this Vodecast, please click here.

Link to the Codecast:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%

[2018-12-26 04:48] deladan opened #437 "compilation with the math library (course 7)"
Some learners made the remark that it isn't necessary to link the math library in the compilation command, as it will be linked by default.
Maybe another example should be used instead?
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/d4606feb75b59ca2e19b233489ba897d05f09611/threads/5bcae411ef5b3309ec000275

[2018-12-26 14:20] deladan opened #438 "Taskgrader too indulgent (for a change) (course 1)"
Activity about multiple for loops:
Taskgrader accepts codes which don't add a new line between the two loops.
That seems to be in contradiction with problem statement:

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/6e554ffe0eb345c4a343a63b4f436db5/398f265fd5d2469f9e2c06afcbd08887/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.

[2018-12-27 04:23] deladan opened #439 "Incorrect hint (course 7)"
On the activity about using the JPEG library, some learner remarked that the hint isn't correct, as the given path for the library is /user/lib/libraryname.so instead of /usr/lib/libraryname.so

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/7c4f5f4801354e60abefdab9d4f870eb/3?activate_block_id=block-v1

[2018-12-27 04:43] deladan commented on #409
Another "suspicious" warning, on the activity about if statements, Tug of War (course 2):
`if(i%2 == 0)` seems to bother Taskgrader.
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion

[2018-12-27 16:04] deladan opened #440 "Not enough tests (course 1)"
For the activity about the growth of the population, it seems there is no test with negative growth contrary to what is said on the problem statement.
Indeed, some learner submitted a faulty code (he was subtracting the growth in case it was negative) which has been accepted though.

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb7

[2018-12-27 20:16] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/8ab014bc468159279955a2fd09aa523558173a56/threads/5c252fdd58adcb097c000088

[2018-12-29 07:46] deladan opened #441 "Suggestion about course 6"
Some learner suggests a brief introduction to Virtual Memory was made in the course.
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/3dd6a7e2438ca962d3e128d1cb96159568100c10/threads/5c2721073eb9e609a000014e

[2018-12-29 18:20] deladan opened #442 "Too "basics" solution (course 5)"
Some feedback from a learner:

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5c27b78858adcb096200018e

[2018-12-29 18:23] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/70b217404a82dcd8693edd3c3899bb44ed472497/threads/5c27b6263eb9e609a3000193

[2018-12-29 19:11] deladan opened #443 "Feedback about some activity on course 3"
Several learners reported they were confused by the use of the pointer ageAddr in the activity about functions and pointers, while we can directly use the variable age with & in the scanf function or with * in the function.

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/37c45e787250473ebf3b8b1a30ce0a93/5e3d6a0c79904e539a702fc6d18c4b

[2019-01-02 05:47] deladan commented on #434
Same issue today with the activity: write numbers to a file.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/da94b90a903d4495bb0f1d0ffff513b0/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4049ac5f1632be43729d5312bd9711b5eb

[2019-01-02 06:48] deladan opened #444 "Taskgrader accepts code which don't do what is expected (course 1)"
In the activity about printing quotation mark, Taskgrader accepts code which doesn't display them, such as:
`printf("Dennis Ritchie said:\nThe only way to learn a new programming language is by writing programs in it.");`

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/6e554ffe0eb345c4a343a63b4f436db5/bd02d17e76714247aff2f15a044c6153/

[2019-01-03 05:59] deladan opened #445 "Confusing solution (course 2) ?"
Some learner finds that the solution of the activity "guess my number" is unclear.
I don't really agree with her but here's the link to the thread (look for Jennifer2 comments):
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/3ee766d2843da0928888c9a1e43c6744933d2032/threads/5c00b6514fc2300a04001708
Link to the activity: https://courses.edx.org/courses

[2019-01-03 10:10] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/course/threads/5c2a4c11db70a909b400029a

[2019-01-03 18:37] deladan opened #446 "Discontentment about course 5"
Some leaner complains about unit 5-1:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5c2e4c3cdb70a909a500043b

[2019-01-05 18:13] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/c3fdc6f2e95358b5745be2aaff207c17e252766d/threads/5c30ef0e58adcb09890005c6

[2019-01-05 18:52] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/f68f35e6ed9a9e05d3ee606a1d5ea7ed1491c034/threads/5c30db1e58adcb095f00062b

[2019-01-08 04:05] deladan commented on #409
In course 4, now.
if((*(ptr+i))>max) raises a warning from Taskgrader.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/a082f8ad62848408c7e6c5a183c978214c2ba846/threads/5c34079758adcb09860007b7

[2019-01-08 06:33] deladan opened #447 "Not enough test on activity about finding t (course 2)"
In activity: is there a 't' in this word? (course 2), case where "t" is the first letter of a even-length word isn't tested.
So program which doesn't treat differently even or odd words is accepted all the same.
For instance this one:
[code]
even if it fails on input as "cats".

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a414070

[2019-01-08 16:46] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c34c98a58adcb0964000815

[2019-01-08 16:50] deladan opened #448 "Opensource / free software (course 6)"
Here's the link to some participant's disagreement about video contents.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/3d060b68cb50e3eb8d10cbf539b5538d6f736ef6/threads/5c34acfd3eb9e609d6000834

Link to the video: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/fa3b199b4927423f90a0f80550b0d4c3/e241fa2b0ca1495d

[2019-01-08 18:00] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/997220ed923b292464b5742bf966083116fb1036/threads/5c34df6658adcb09940008e7

[2019-01-09 05:27] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5c352e57db70a909b70008e2

[2019-01-09 16:54] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/68143a9ea0ac2a5b22d9546f0abdd37ea6946947/threads/5c36139358adcb096e000963

[2019-01-09 18:05] deladan opened #449 "Issue with taskgrader (course 2)"
Trying to find error in some code from a participant, about the monitoring of a chemical experience, I've pasted it to the wrong activity (university depense).
But surprise, program was accepted!!
I tried to submit it again, and then it only passed the first two tests.

Code:
[code]

[2019-01-10 04:42] deladan opened #450 "Weblinux enhancement"
Some participant complains about font in Weblinux, finding it too small and uncomfortable.
A future enhancement?

[2019-01-10 05:23] deladan opened #451 "Error from platform during validation with syntax error"
Some learner remarks that a syntax error raises the following message from Taskgrader:

On Codecast or with ggc on my computer, compiler raises an error. Why doesn't Taskgrader?

The syntax error was switching a closing parentheses with the semi-colon at the end of a printf statement.
Link to thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/8db

[2019-01-11 05:46] deladan opened #452 "feedback"

[2019-01-11 05:47] deladan commented on #452
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/e907902cb6bd968366d6030c4495dc05a273ca90/threads/5c37e99e58adcb09a7000a20

[2019-01-11 05:53] deladan opened #453 "Error from platform during validation with some code (course 5)"
Activity Tomorrow, the code below raises this message from Taskgrader while it runs fine with gcc or on Codecast.
[code]
The learner suspected the use of extra functions but I've tried with a simpler code using one and it was accepted. Too many of them?
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/58099ea386614233830b63363dc6db01/d2

[2019-01-11 17:12] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c38a6853eb9e609d3000b14

[2019-01-12 12:35] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c39d9bd3eb9e609b5000b8d

[2019-01-12 17:06] deladan opened #454 "More exercises about recursion (course 3)"
Some participant would have enjoyed more exercises about recursion.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/ac2ed9fddd8d648b430f62c3070ac5e47921a73a/threads/5c3a1a473eb9e609cd000bbb

[2019-01-12 18:28] deladan opened #455 "Some feedback about difficulty in course 1"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/e4ecbcdf415f7e838d73d0726e2ba90980d66ba0/threads/5c3a2aa63eb9e609d0000bec

[2019-01-13 12:20] deladan opened #456 "some inconsistency on lecture about variables and loops (course 1)"
On this lecture, Petra says that we want to compute how many hazelnuts we collect after 9 miles.
However, loop runs only to 8 miles. Some learner suggests that we do one more iteration to be more consistent with the initial purpose of the program.
Link to the codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/45513fa0

[2019-01-13 16:09] deladan opened #457 "Some disappointment about JPEG library (course 7)"
Here's comment from a learner:

And I agree with him, activity is a little disappointing.

Link to the activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/7c4f5f4801354e60abefdab9d4f870eb/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40bc24378fda6340a097227d5b776942

[2019-01-14 07:33] chrissmiller commented on #457
I think this is probably more content related? @petraBT @remisharrock

[2019-01-14 07:37] chrissmiller commented on #450
Not totally sure who to give this issue to but might be useful to think about for future iterations if this is possible for us to change at all @EllaHa

[2019-01-14 11:36] petraBT commented on #457
@remisharrock I tend to agree that the title of this assignment is misleading. We should come up with something more exciting for the future!

[2019-01-15 11:23] deladan opened #458 "Quiz about arithmetic pointer (course 4)"
Question 3: Some learner remarks that in some case trying to access the 10th place in the array may cause the program to crash. So it should also be a correct answer?

Link to thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/484baa220e75b90c7e58caa8cce5dbf37d2ed420/threads/5bcf1c3cef5b3309d1000605
(see NathanaelZitter's comment)

Link to activi

[2019-01-17 03:23] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c3fe56158adcb0962000f3e

[2019-01-17 16:13] deladan commented on #378
In fact, solution tab seems to appear as soon as we go back to the activity's page.
Shouldn't something done about this?

[2019-01-17 17:18] deladan opened #459 "why not switch statement ?"
Some learner asks why switch statement isn't introduced in course.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5c40b178db70a9097b00100a

[2019-01-18 19:06] deladan opened #460 "Feedback from some learner"
From Berliere, an active participant in forum:

[2019-01-19 00:25] CaraDit opened #461 "French text on code window"
I noticed when I set the code window to "split input/output" and compiled the program, the headings of the two windows were in French ("Entrée" and "Sortie"). I checked multiple lessons and the same thing was happening. Not sure if this needed to be fixed, but I thought it was worth mentioning in case it might confuse users. See screenshot below.

<img width="876" alt="screen shot 2019-01-18 at 7

[2019-01-19 04:48] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c41d697db70a909d200112c

[2019-01-20 19:16] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5c44bbb1db70a9097b001218

[2019-01-20 19:58] deladan opened #462 "Demand about codecast options"
Some learner asks for a link to the options available to the showMemory() function.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/course/threads/5c44d13658adcb09ad0010cf

[2019-01-21 03:32] deladan opened #463 "Folder to remove (course 6)"
In the quiz about removing a file or a folder, we're asked to write command to remove /bin folder.
This confused some learner who though it wasn't /bin folder but /usr/bin as /bin contains start up programs, and that we wouldn't want to delete them.
I know this command won't execute because of permissions, but maybe another choice of folder would be preferable.

Link to quiz:  https://courses.edx.

[2019-01-21 04:11] deladan opened #464 "confusing warning (course 1)"
The warning we can find below some problem statement:

seems to confuse some learners, as they thought they shoudn't try to read input from user.
Maybe this sentence could be reworded?

[2019-01-22 06:17] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/38f9e13f9c0902012d929bdf2b08034c53b41c7f/threads/5c46b348db70a9099600142d

[2019-01-23 08:31] deladan commented on #409
Another warning in course 5 with arrow notation:
Suspicious scan statements below:

line 29 : scanf("%d", &d->year);

line 30 : scanf("%d", &d->month);

line 31 : scanf("%d", &d->day);

Examples of expected syntax:

scanf("%d", &integerNum);

scanf("%lf", &decimalNum);

scanf("%s", string);

Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/coursew

[2019-01-24 18:06] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5c49b8ac58adcb09620014e5

[2019-01-24 19:24] deladan opened #465 "Array issue in lecture "Find the frequencies of word lengths" (course 2)"
I think this has already been reported but I couldn't find the issue here.
In the lecture : Find the frequencies of word lengths, Remi declares an array length of size 10, saying that length[5] will hold the count of 5-letter-words.
But words can be as long as 10 letters, and we can't have access to length[10].
I know that Codecast can't be easily modified, but maybe some erratum should be added o

[2019-01-27 04:32] deladan commented on #418
New suggestion from forum: to add a button which let us skip a for/while loop and go to next expression.
By the way, I must admit I don't see where is the difference between _next expression_ and _step into_ buttons.

[2019-01-27 12:52] deladan opened #466 "Issue with Taksgrader activity tomorrow (course 5)"
Taskgrader accepts this code for tomorrow function:

[code]
even if there are several issues with it.
Maybe there should be more tests?
Link to activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%

[2019-01-30 04:15] deladan opened #467 "freeing memory in some Codecast on course 5"
Some participant remarked that pointer backwards should have been freed in Codecast : "Insert a new node at the start of a linked list".

Link to Codecast: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/6fdf62d61e424ab5a5e70e6296a35e7b/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussio

[2019-01-30 10:03] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/f9eaa9fcc17ba5da0b63d25314666caa5b66240a/threads/5c5174efdb70a9099f001b02

[2019-01-31 04:04] deladan opened #468 "Not enough tests in activity about balancing train wagons (course 2)"
This code is accepted by the grader (only one test!):
[code]
whereas mean's calculation is wrong.
Link to activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/d146744a8fa343e2b47855983ebc8e93/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%4032f835ec168e402aae01359b9833

[2019-02-02 06:03] deladan opened #469 "Tests to review in activity about divisibility by 3 (course 5)"
Some learner is disappointed about Taskgrader which seems to accept code where program just rebuild number from digits into an integer.
According to him, there should be test with bigger numbers where this solution fails.

Link to activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/841b3778f74e4fce9ac762bac038a3aa/3?ac

[2019-02-03 13:45] deladan opened #470 "Not enough tests in last activity (course 7)"
Some learner reported an error in his code which was yet accepted by Taskgrader.
Here his comment:

He didn't post his code.  But modifying solution like this is still accepted by Taskgrader, even if close is called twice:

[code]

Link to activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/da94b90a903d4495bb0f1d0ffff

[2019-02-04 17:42] deladan opened #471 "Issue with pre-course survey (course 1)"
Some learner reported that Taiwan doesn't appear in list of countries in answer to question: In which country do you reside?

Link to survey:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/7f15846e372741c483ee67f37d93f346/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40vertical%2Bblock%40e50

[2019-02-05 05:12] deladan opened #472 "Codecast output window"
In interactive mode, Codecast output window is too small to print all multiplication table (from course 1) for instance.
Several learners were confused by that, thinking that there was an issue with their codes.
I suggest this is mentioned in [Codecast presentation](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/a0c08428c7e

[2019-02-08 04:03] deladan opened #473 "Some feedback from learner about linked list (course 5)"
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/09edd0849e8e7b9d55256265f03b0a0f73f173da/threads/5c5c7bb958adcb0986002091

[2019-02-09 11:56] deladan commented on #471
Other learner says that Korea isn't present neither.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d38a7954e9b9aaa7d9c256ca7c9c01cfa6cb4ed9/threads/5c5eb5443eb9e6099d00225f

[2019-02-11 04:34] deladan opened #474 "Unnecessary cast in course 7"
About codecast about [Modifying your own library](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/99f41a3930e044be961acaeace469305/cb1e428a95cf44e09a4de74412af3c6c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4022c805a883c94197ac5701cbaccfb4b0), some participant noted that casting numOfTemps isn't necess

[2019-02-13 05:51] deladan opened #475 "Issue with first activity in course 7"
Taskgrader doesn't accept code if we left some space between function's name and opening parenthesis (both in prototypes or in calls).
I'm not sure it should be an issue even if it's not recommended practice.

Link to activity:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/40bb9e617e054eada1ceb844aced1a5d/2?activate_block

[2019-02-14 12:30] petraBT commented on #473
I am not sure I understand what this learner is saying, but I'll put a label of "improvement" on this, in case we can figure this out.

[2019-02-14 16:15] deladan commented on #473
I didn't understand it either, but I thought it was because of my english ;-)

[2019-02-15 20:20] deladan opened #476 "Issue with Taskgrader course 7"
[Activity about passing numbers to a program from a command line](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/7be95ba870ea439c9bc94f21c7daa23c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%403b20449f9b604764ab90b0d5045024e0)
Code from learner isn't accepted because he

[2019-02-16 05:27] deladan opened #477 "Issue with less command in Weblinux"
Some learner tries to have a look at help about find command.
He typed find --help | less and all he got was a screen full of empty lines apart from a ~ character, and j and k don't seem to work.
I've tried it and run into the same issue, whereas this command works fine on my computer.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/for

[2019-02-17 03:48] deladan opened #478 "Suggestion for Codecast's enhancement"
Some learner has a suggestion about Codecast's browser frame:

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/09edd0849e8e7b9d55256265f03b0a0f73f173da/threads/5c689894db70a909a2002703

[2019-02-27 07:10] deladan opened #479 "suggestion for weblinux improvement"
Demand from some learner:

[2019-02-28 03:41] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/471b2cfba26616962fba5c1e5247c40c116ffc96/threads/5c770a3658adcb098f002e70

[2019-02-28 04:10] deladan opened #480 "Issue with Taskgrader (course 5)"
[Activity about freeing a linked list of students](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/5a5737bdb1254f3b8fb3d5f71df118ca/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%4034a8c20c84e14b01a7e56c5fb59c8c83):

Some learner remarked that this function is accepted by T

[2019-02-28 04:30] deladan opened #481 "Blocking issue with Taskgrader (course 7)"
Isn't something broken in the activity about [reading numbers from a file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/c69c696065964550835dcade17e8e61a/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4096ebca3fd3bf4db08145d6ce13b2adab)?

Solution's code isn't accepted an

[2019-02-28 18:06] EllaHa commented on #481
Thanks @deladan for raising this issue. @remisharrock @chrissmiller could you eventually have a look on this task?

[2019-02-28 18:19] chrissmiller commented on #481
I just set up a temporary fix but will need to look into it a little more after class to make sure the issue doesn't recur. Should be working for right now though!

[2019-03-01 21:16] deladan opened #482 "Incoherency with absolute path in some video (course 7)"
Some learner pointed out that the absolute path written by Petra in [this lecture](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/99f41a3930e044be961acaeace469305/cb1e428a95cf44e09a4de74412af3c6c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4022c805a883c94197ac5701cbaccfb4b0) at 9'28 isn't correct and s

[2019-03-02 06:55] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/db6e69238b2b3ceb874d3bab40b35f1568b7184e/threads/5c6170a258adcb095f002427

[2019-03-03 07:52] deladan opened #483 "Feedback about linker placement in compilation line (course 7)."
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/c0a4c329d436b0bd49467e7723ad292feefab6f6/threads/5c7b849e58adcb099a0032d9

[2019-03-04 04:20] deladan opened #484 "Typo in some Taskgrader activity in course 5"
In the [activity about manipulating structures with functions](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40c7240c419b074fc09c8f2c1d6c8db69a), there is a typo in comment in provided code.
I

[2019-03-05 03:58] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/bd91c32df8d8616634bb22e7c74f13985dd2dff8/threads/5c7d910958adcb099a003432

[2019-03-05 16:47] deladan opened #485 "Taskgrader is upset (course 5)"
In the [activity about freeing a linked list](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/5a5737bdb1254f3b8fb3d5f71df118ca/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%4034a8c20c84e14b01a7e56c5fb59c8c83), Taskgrader rejected some learner code because he/she wrote func

[2019-03-06 04:05] deladan opened #486 "ill-advising warning from Taskgrader"
In course 1,[ activity about finding the remainder in integer division](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/1aef4d47f747417aa9c43a8f083c9072/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40a0fa46f9329f43868596be29f5943ee9)
Some learner got this warning about Ta

[2019-03-06 20:10] deladan commented on #417
Another learner complains about this issue:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/9770d1c0972edf1124b27ca4a6a23d1c08fb8673/threads/5c8027c7db70a9098a0038c0

[2019-03-08 17:03] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/db6e69238b2b3ceb874d3bab40b35f1568b7184e/threads/5c823d9f58adcb0994003941

[2019-03-12 04:07] deladan opened #487 "no test for closing the file in activity 7.3"
Learner remarks that code without fclose instruction is still accepted by the grader in [activity about reading numbers from a file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/c69c696065964550835dcade17e8e61a/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4096ebca3fd3b

[2019-03-12 04:12] deladan opened #488 "Issue with Taskgrader activity in Course 7"
In [activity about finding the end of a file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/1270212dc8a846b89a71657856e5dda1/?child=first), it seems there is currently an issue with the file from which our program has to read.
Even solution isn't accepted any longer.

[2019-03-12 04:22] deladan commented on #481
It seems there is the same issue with activity about finding the end of a file (see issue #488 )

[2019-03-13 10:23] EllaHa commented on #488
Thanks Isabelle for reporting this.
@chrissmiller @remisharrock any idea?

[2019-03-13 20:11] deladan opened #489 "Not enough tests (course 3)"
In activity about [using recursion to compute sum of digits](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/e1f1485b07334f1297e71f4f4896e77d/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%4028fb0105cd2c40e09aebb5213fbd2caa), learner could submit some code which didn't use

[2019-03-14 03:28] deladan opened #490 "order of options in gcc command (course 7)"
Some learner asks why source file should be written before the output file in gcc command, whereas in man gcc, it appears at the end of the instruction.
Maybe both solutions should be accepted by the grader?
Link to the activity: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/20c36bf48d224858a37200c5de92cf3f/3?activate_bloc

[2019-03-14 06:44] deladan opened #491 "Some typo in course 5"
In activity about [allocating memory for structures](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/8e24632b4bc34ba2a927367da7e0c22b/b99d6e074c9e4d1f96981b78d8d13231/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40d617f3358b484d43b76167cfa825d06f), learner remarked some typo in problem statement:

[2019-03-17 13:11] deladan opened #492 "Some suggestion about course7"
I think it would be a good idea that codes used in lectures were available to students, so they can try them in WebLinux without having to entirely type them.
I know that this is done in other courses.

[2019-03-21 18:07] mgoudz commented on #471
"Taiwan (ROC)" has been added to the choices. Korea appears in the list as "Democratic People's Republic of Korea" (north) and "Republic of Korea" (south)

[2019-03-21 18:13] EllaHa commented on #483
Copy pasting the issue.

In the solution and some of the videos, the linker is placed before the source file.

-lcurses program.c
However in the man pages for gcc, it states:

It makes a difference where in the command you write this option; the linker searches and processes libraries and object files in the order they are specified. Thus, foo.o -lz bar.o searches library z after file foo.o but be

[2019-03-21 18:21] mgoudz commented on #471
Taiwan has also been added to the pre course surveys for courses 2-7.

[2019-03-21 18:21] #471 closed, assigned to mgoudz, EllaHa

[2019-03-21 18:27] #131 closed, assigned to remisharrock

[2019-03-21 18:30] #170 closed, assigned to nobody

[2019-03-26 04:42] deladan opened #493 "Problem with quiz course 6"
[Quiz about Linux and the files](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4077b4b5e2b6c24fcf91eeb945d5043735)

Question 11. Some learner used the command `rm -rf /home/user/music`.
Should

[2019-03-26 04:45] deladan commented on #333
As video isn't easy to modify, maybe you could just add a note below the video

[2019-04-03 02:41] deladan opened #494 "Other issue with some quiz in course 6"
In [quiz about removing file using absolute path](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/a7169c56bd0d42a5a61f14e521b195ad/7?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%40149818c2f0fe4a50bcd80dbab63b42f2), question 2, some learner said he answered:
yes|rm -ri /bin

[2019-04-04 02:35] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5ca5339a3eb9e6098b004778

[2019-04-04 16:11] deladan commented on #458
Some other participant complains that "correct" answer is only one among several ones.
Link to the thread (see wults comment): https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/484baa220e75b90c7e58caa8cce5dbf37d2ed420/threads/5c78987d3eb9e609ca00317a

[2019-04-06 03:35] deladan opened #495 "Issue with grader course 7"
In activity [Create and use a Makefile](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/99f41a3930e044be961acaeace469305/1ed517a6c28246a5bd9a7b86e28ac371/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40c59f5ab2590742eb8cb188f3924ead4a), solution is accepted even if gcc lines are not indented.

[2019-04-06 18:14] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/f918274edd980e3a56d01e8d6540ac9090cc0abf/threads/5ca8eb2958adcb0992004a0c

[2019-04-11 01:57] deladan opened #496 "Typo in quiz (course 6)"
In quiz about [file system and reading file contents](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/e970653072f84df6bf457872dd3d2043/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%40e35d4c10769845f2ac4383e7d5cbc758), first question:
`Use the nano program to open the file

[2019-04-11 03:46] chrissmiller commented on #486
Fixed, thanks!

[2019-04-11 03:46] #486 closed, assigned to nobody

[2019-04-11 03:54] chrissmiller commented on #66
Fixed, gives only partial credit if the user does not explicitly cast to double.

[2019-04-11 03:54] #66 closed, assigned to chrissmiller

[2019-04-11 03:57] chrissmiller commented on #430
Fixed solution

[2019-04-11 03:57] #430 closed, assigned to nobody

[2019-04-11 04:01] chrissmiller commented on #433
Added clarification by explaining the example in depth in the problem statement - should be clearer now!

[2019-04-11 04:01] #433 closed, assigned to chrissmiller

[2019-04-11 04:12] chrissmiller commented on #438
Fixed, just had to change the diff call

[2019-04-11 04:12] #438 closed, assigned to chrissmiller

[2019-04-11 04:22] chrissmiller commented on #444
This is a problem caused by the use of the the autocorrect library which demands punctuation-stripped text. I've implemented a pretty hacky fix - could find more elegant way, but I think considering the scope of the issue it's fine if it's specific to this task.

[2019-04-11 04:22] #444 closed, assigned to chrissmiller

[2019-04-11 09:38] EllaHa commented on #496
Merci Isabelle, résolu !

[2019-04-11 09:38] #496 closed, assigned to EllaHa

[2019-04-11 14:19] deladan opened #497 "unsatisfactory test in Taskgrader activity from course 1"
In activity about[ printing characters with %c](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/b6e1aea4bbc443beb62f922584962ec4/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%400b1d9ff01e5745dab5758cfea9827628), code is accepted even if it doesn't totally respect problem s

[2019-04-11 15:45] #494 closed, assigned to CaraDit

[2019-04-11 17:31] deladan opened #498 "Some inconsistency in solution (course 7)"
In activity about [using the math library](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/20c36bf48d224858a37200c5de92cf3f/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4040dba905e0bd4d18b6af25c711ae4196), some learner points out an inconsistency between the provided solu

[2019-04-12 18:53] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/afb92fca8f7aea50b7bdbb43be6fac55de8d3a27/threads/5cb0d0220dafc609700000da

[2019-04-17 03:03] deladan opened #499 "Feedback from some learner (course 5)"
Some learner thought that advanceDay activiy isn't really about material covered in the course.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5cb65724507a7a09cb00037c

[2019-04-17 11:44] deladan opened #500 "Learner complaining about lack of explanation (course 1)"
In Course 1, Codecast about [declaring, assigning and printing decimal numbers](Declare, assign and print decimal numbers), some learner didn't appreciate Remi ask us to do our own research on the web.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/78dc5b0893b00ceb816e3c01ae7ccb0ff23bdf47/threads/5cb6e60b507a7a09de0003a0

[2019-05-02 04:03] deladan commented on #455
Seems someone (the author?) deleted the thread.

[2019-05-02 04:05] deladan opened #501 "Feedback about incoherency in difficulty between lectures and exercises (course 2)"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/course/threads/5cc9fd43507a7a09f0000cff

[2019-05-02 11:51] deladan commented on #435
Some way to correct this 'issue' was proposed in the forum:
[code]

[2019-05-02 12:32] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/38f9e13f9c0902012d929bdf2b08034c53b41c7f/threads/5ccac80d0dafc60976000dc1

[2019-05-04 07:00] deladan opened #502 "Typo in quiz course 6"
[Quiz about interactive programs](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/7c1d9bb1804444f092456eeeecb8cffd/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4064bda04351f749b8b15051f67feefd29)

Second question should be reworded as: "How do you use the file otherans as

[2019-05-05 04:10] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/4b630d5e10e414daff93349ef8098528b993f4d9/threads/5ccd98a5507a7a09de000e6b

[2019-05-05 04:16] deladan opened #503 "Inventor of C programming language (course 1)"
Some learner complains about this question in [quiz about vocabulary.](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/33129229b7ae4999b57f03be444c2dd0/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40bb214b4ed3e84f689a1914fbc7a6bb61)

Link to the thread: https://courses.ed

[2019-05-05 18:46] deladan opened #504 "A "suspicious" for loop in the solution (course 2)"
In [activity about storing recipe ingredients into an array](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7f90c0855f624fbfa70cedcdc1ba212e/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%402f15101d7df849fd969105ffc2a71ea7), provided solution uses a for loop which declares

[2019-05-06 16:35] deladan opened #505 "Not enough tests in Taskgrader (course 2)"
[Activity about programming a toaster](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40vertical%2Bblock%4095138006855243a8a06f5d9dd71b6271) :

Code which doesn't use short type is accepted, as there is no test whe

[2019-05-07 13:48] remisharrock opened #506 "title"
sdfgsdfg

[2019-05-07 13:49] remisharrock commented on #506
this is related to issue #300

[2019-05-07 13:52] #506 closed, assigned to EllaHa

[2019-05-13 03:28] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/b589fbb98b0526c89047d2ed04a20d6059b170f2/threads/5cd85bc6507a7a09d800137f

[2019-05-14 03:48] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5cda225d0dafc60973001459

[2019-05-19 07:20] deladan opened #507 "Issue with Taskgrader (Course 5)"
In [activity about printing a linked list of student data](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/ec93d3937a4c4d5499eca2e2785b32c5/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40ad45db5c1798483a8d71c996fdb3a17a),  the following code (where actualization of ptr in

[2019-05-21 03:37] deladan opened #508 "Suggestion for an enhancement in some Taskgrader solution (course 4)"
In [activity about arrays and functions](https://courses.edx.org/courses/coursea-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/27b25e631c254ed09e1f67d84f02a01c/5f2266de5ec0479ab1f01466b8da64b9/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2018%2Btype%40discussion%2Bblock%40a9ae1e3cb91b4eddbf8ccf1d3b1893a6), from some learner in the forum:

[2019-05-22 05:25] deladan opened #509 "Not enough tests (course 3)"
In activity about [finding smallest integer](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/07d4663586b74bd6abd7b94bf3326474/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%409e7dd39b807b452b8570729368aea7fd), code which is only printing "2" is accepted by the grader.

[cod

[2019-05-23 00:04] rserranosmith opened #510 "Typo"
There is a typo in course 3: **Unit 3.2: > Determining the amount of memory used for different data types > Be aware of the largest possible value for an integer!**

[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%

[2019-05-25 03:48] deladan commented on #307
There are other learners complaining about this tricky question.
I think Petra suggestion to display all rules is a good idea, and shouldn't easier to implement.

[2019-05-29 11:53] deladan opened #511 "tests to review in activity about dividing numbers (course 1)"
In the [activity about dividing numbers](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/54f5feb1eb3749e9812eaf4278ce3d9c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40aec5050c7eaf4839897327a0bd9ee579), a program that will only read an integer and not a decimal value is

[2019-05-30 05:48] deladan opened #512 "not enough tests in activity about finding repetitions (course 2)"
Activity about finding repetitions in a word

Some learner submitted following code, which was accepted by the grader, even if it fails with input such as "aaaaaa".
Maybe you should add some test where there are 4 occurrences of the same letter in the word.

[code]

[2019-05-31 05:44] deladan commented on #447
Another missing test for this activity ?
Some learner wrote a program that prints 3 if t letter is found in both parts of the name, and he/she said his/her program was accepted by the grader.

[2019-06-02 04:57] deladan opened #513 "little inconsistency in correction in course 1"
In [activity about printing the x8 multiplication table](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/45513fa0b0c54101aee6dd481ef09257/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%404dde839d3b64436c812f456c5f5b98f2), solution code is using index i from for loop.
It see

[2019-06-02 14:31] deladan opened #514 "scrollbar not showing on MAC"
Some learner reported having difficulties with his/her MAC computer.
Scrollbar doesn't show in Codecast, preventing him/her to have access to truncated code in code window.
He/she has tested with different browsers, but issue remained.

Here's a [link to the thread](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5cf3afded8eab1094e00219

[2019-06-03 04:01] deladan opened #515 "Feedback from some learner about correction in course 2"
About [activity about naming a tree](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/536186d847234e318b5de5d39b18b1b4/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40298cf9c9ef58406bb42ccb4d616b809e):

Link to [the thread](https://courses.edx.org/courses/course-v1:Dartmout

[2019-06-04 04:44] deladan opened #516 "Suggestion for one more test in Taskgrader activity (course 2)"
In [activity about guessing my number](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/bcaeeafdf43b417e910a6ac07da4bd83/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%402abd715b5cee4064be6142f8920e2481), shouldn't some case be added where secret number is equal to 0?
Indeed

[2019-06-13 14:25] deladan commented on #489
Other even simpler code which is accepted by the grader:
[code]

[2019-06-14 02:58] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d02dbe7d8eab1095b002a58

[2019-06-20 14:54] remisharrock commented on #514
we should add an option to codecast to "soft wrap" the code. Ace editor supports is: Line wrapping is in the features of https://ace.c9.io/

[2019-06-21 05:09] deladan opened #517 "Misleading problem statement (course 3)?"
In [activity about computing space for tracking code](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%401702f90cde864d07a53f7f20261570f0), some learner was confused by the given example which sh

[2019-06-21 05:51] deladan commented on #500
Another learner who complains about this:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/78dc5b0893b00ceb816e3c01ae7ccb0ff23bdf47/threads/5d0bb16c0dafc60994003059

[2019-06-22 13:25] deladan opened #518 "Incorrect unit (course 3)"
[Activity about programming a toaster](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/9?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%40c39a2c6eac3a4bebb313fad3de1338db):
Some learner disagrees with the use of 'KB' unit.
KB is equivalent to

[2019-06-25 04:19] deladan opened #519 "for syntax (course 2)"
Some learner complains about some lack of precision in for loop syntax description.
He/she says that we weren't taught that we can use another variable than i.

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/8db8e47a3e367fd6e0c55728776c61f4495811e6/threads/5d11435ed8eab1095b00320e

[2019-06-26 03:34] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d12c4b1507a7a09ff0034f4

[2019-07-01 01:37] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/0fd8a27646222794dc8f3e30fabf1e99765c81c6/threads/5d191bb7507a7a09d40038c8

[2019-07-07 04:22] deladan opened #520 "'incorrect' for syntax in activity in course 1"

[2019-07-07 04:23] deladan commented on #520
In the [activity about commenting instructions](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7274ebb9203b4dc5ac1dd1581089f3be/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f656c6f89b2f439288dfe3aba7ba2701), there is a for loop where variable is declared inside the for

[2019-07-09 03:32] deladan opened #521 "Unfair question (course 4)?"
Regarding the [quiz about pointer arithmetic](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/27b25e631c254ed09e1f67d84f02a01c/2f01c383f1174864ae2643ecc675db50/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2018%2Btype%40discussion%2Bblock%405e96e8f56b8c4de0a6138ad33d940f24), question 3, some learner complains that he/she answered accordi

[2019-07-10 04:10] deladan opened #522 "Issue with first quiz(course 1)"
In the quiz "Are you ready to start?", some learner was confused because he/she answered 'no' and it was marked as incorrect.
In my case, 'no' was marked as correct, but if I hit Show answers button, 'yes' shows as correct too.
In the syllabus, this is said that there are no prerequisites. I think this 'yes' answer should be modified then.

[2019-07-10 19:57] petraBT commented on #513
Fixed - replaced solution with more appropriate one.

[2019-07-10 19:57] #513 closed, assigned to nobody

[2019-07-10 20:23] petraBT commented on #511
Okay: I added a test that only works if the correct datatype is used. I also added a second example to the problem statement to reinforce this requirement.

[2019-07-10 20:23] #511 closed, assigned to nobody

[2019-07-10 20:46] petraBT commented on #497
@remisharrock @chrissmiller : This requires swapping out the standard checker for one that ensures that restricted code doesn't get changed. Maybe we can add a tutorial on this to our meeting with Chris?

[2019-07-12 04:51] deladan opened #523 "Issue with grader (course 4)"
In [activity about arrays and memory](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/b0efc6858fa44aeeb0b482018e0abf01/622f95d2f08e4f0db6fb9770a31464d0/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2018%2Btype%40discussion%2Bblock%4070129ecc884b4d05803a44f8d7b1a064), some learner reported that he could submit some code which uses for loo

[2019-07-14 04:07] deladan commented on #523
Here's the code:
[code]

[2019-07-15 03:48] deladan opened #524 "Not enough tests (course 2)"
[Activity about array computation, price per ingredient](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7274ebb9203b4dc5ac1dd1581089f3be/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f656c6f89b2f439288dfe3aba7ba2701):

I've found that solution's code is accepted by the

[2019-07-17 04:19] deladan opened #525 "misleading hint (course 3)"
In [activity about finding the smallest integer](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/07d4663586b74bd6abd7b94bf3326474/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%409e7dd39b807b452b8570729368aea7fd), solution doesn't follow the given hint.
Shouldn't this one b

[2019-07-17 04:30] deladan opened #526 "Not enough tests (course 3)"
For the [activity about programing a toaster](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/9?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%40c39a2c6eac3a4bebb313fad3de1338db), some learner reported that he/she forgot about the short type a

[2019-07-21 04:35] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d32cef4d663a6094c000663

[2019-07-23 03:32] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/f918274edd980e3a56d01e8d6540ac9090cc0abf/threads/5d360758d663a609910007ba

[2019-07-23 03:41] deladan commented on #521
Another learner complaining about this:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/484baa220e75b90c7e58caa8cce5dbf37d2ed420/threads/5d365e1c387a590767000919

[2019-07-27 16:13] deladan opened #527 "Issue with Taskgrader which accepts failing code (course 5)"
[Activity about tomorrow](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40c7240c419b074fc09c8f2c1d6c8db69a)

Taskgrader accepts the following program even if it doesn't do the job to me.

[cod

[2019-07-29 11:43] petraBT commented on #521
Thanks! I added a note to the quiz.

[2019-07-29 11:43] #521 closed, assigned to nobody

[2019-07-29 17:27] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d3f2a55387a59077c000e37

[2019-07-31 14:43] deladan opened #528 "more interactivity"
Some learner regrets the lack of interactivity in lectures in course 6, as it was possible thanks to Codecast in previous courses.
Time to implement some new tool ;-)?
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/e0392ef71b2a01ba7d8a1683b06299a955de6df5/threads/5d41a45b892b210943000e9e

[2019-08-01 17:52] petraBT commented on #297
@remisharrock is it possible to modify the student code before it gets compiled and sent to the input/output checker? If so we can improve this behavior by simply commenting out all printf statements that occur before the first scanf. Chris and I do this sort of thing in my course here at Dartmouth and it's worked pretty well (of course there are always cases where things go wrong).

[2019-08-01 18:46] petraBT commented on #520
Good catch! Fixed.

[2019-08-01 18:46] #520 closed, assigned to nobody

[2019-08-06 04:18] deladan opened #529 "more than 2 attempts in some quiz in course 6"
[Quiz about compilation in course 6](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/5a68ec5063644f41986eb24655613ab1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4055c7da0e5e9244ab9c8066477df744e3) doesn't seem to be configured as previous ones, as it seems that there is

[2019-08-06 04:26] deladan commented on #380
Another learner complaining about this: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/discussion/forum/43fceaabd90ea8762a99b8e3bae4c7097c715d5a/threads/5d48ca0384452a07d20002f6

[2019-08-06 04:39] deladan opened #530 "input order in robots activity (course 1)"
There are a lot of learners who were confused about input order in [activity about robots power](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/76cd4b61bfd641de982b5f4f9a169ee6/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%4002bc7c036e874cd4b15818185a8d1c2e).
I wonder whe

[2019-08-08 20:16] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/c53ed6b68aff57e813e7a776ee09841c96ac39a6/threads/5d4c61f8c06d26095e0004b3

[2019-08-09 05:18] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d4ca10384452a07bd0005b9

[2019-08-09 05:29] deladan opened #531 "Issue with some Codecast lecture"
[Codecast lecture about rounding off and circomventing error](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/5c40ed165b45423496c1c8c8fdca08d9/91f8edcd857f410b82baa1860866f4ae/9?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%40c39a2c6eac3a4bebb313fad3de1338db) can't be read with any browser, and according to

[2019-08-09 05:44] deladan opened #532 "Not enough tests (course 2)"
[Activity about finding 't' in a word](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/d8915bd231464784b2f66b097349333e/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%401239b3bbe75a4c3ca5bee09225cc1695).
The following code is accepted by the grader, even if it prints out in

[2019-08-09 05:46] deladan commented on #447
Another incorrect code which is accepted as well:
[code]

which prints out 2 for input such as "enter", while "1" is the expected answer.

[2019-08-09 05:48] deladan commented on #532
See issue #447

[2019-08-10 04:30] deladan commented on #468
Other code which is accepted, which doesn't compute average but directly use 22:
[code]

[2019-08-12 04:11] deladan opened #533 "Spaces upsetting Taskgrader (course 7)"
[Activity about distinguishing function declaration and function definition](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/40bb9e617e054eada1ceb844aced1a5d/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40520d91b69ac2429b9d3b2d3541b63ecf),
some learner's code was rejected

[2019-08-13 12:37] deladan commented on #512
Some other program which is accepted even if it doesn't print out expected result for input such as "aaaaaaab":
[code]

[2019-08-14 04:31] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d5354608149fd0942000919

[2019-08-14 04:48] deladan opened #534 "Not enough tests in activity about printing a square of stars"
[In activity about printing a square of stars](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/3e9bbb1c402b49a8bbf532dc4319a23a/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%4054ecb16119c54805bf554eab76a81e8b), Taskgrader is only doing one test, so it accepts programs whic

[2019-08-14 07:18] deladan opened #535 "confusing example? (course 5)"
In [activity about allocating memory for structures (polygon)](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/8e24632b4bc34ba2a927367da7e0c22b/b99d6e074c9e4d1f96981b78d8d13231/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40d617f3358b484d43b76167cfa825d06f), some learner was confused because the chosen p

[2019-08-14 14:54] deladan opened #536 "Issue with Taskgrader (course 4)"
[Activity about printing a text in reverse order](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/b0efc6858fa44aeeb0b482018e0abf01/4bcb4710a25d44abbb44c558ada6d318/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2018%2Btype%40discussion%2Bblock%40f620b67434c343e5ad919e1017dea89c), following code is accepted even if it runs into infinite lo

[2019-08-17 15:09] deladan opened #537 "Issue with some skills checklist in course 3"
[Self-assess your learning of unit 3-1](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/b485323cfeeb426e8a2115c8da28033f/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40vertical%2Bblock%40065572aff43546cc80abf23d8e5621dd), some learner reported a missing checkbox for the last item.

[2019-08-20 05:48] deladan opened #538 "Issue with Taskgrader (course 5)"
[Activity about tomorrow](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40c7240c419b074fc09c8f2c1d6c8db69a), Taskgrader displays this error message:
 "Error from platform during validation : L

[2019-08-20 05:55] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/83f89191d1714d8c87ea36af1e305dc6291d602d/threads/5d5ac65284452a07a6000d84

[2019-08-21 06:04] deladan opened #539 "Issue with some quiz in course 1"
Here's some learner message about [quiz on vocabulary](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/33129229b7ae4999b57f03be444c2dd0/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40bb214b4ed3e84f689a1914fbc7a6bb61).
I can't reproduce the issue.

[2019-08-23 05:22] deladan commented on #518
Another learner suggests that conversion were explicitly written in problem statement, so there won't be no more confusion with 1024 value.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/94e94d03f810cb9ed12772cdd2cd57850a603286/threads/5d5f69f284452a079b00112f

[2019-08-23 05:38] deladan opened #540 "Suggestion about code formatting"
Given the very big number of learners who didn't look at tutorial in wiki about code formatting, even if link is given in course, shouldn't this tutorial directly be included in course contents?

[2019-08-23 13:15] remisharrock opened #541 "variable initialization course 1 (maybe 2)"
we should insist on the variable initialization: should be mandatory.

Maybe taskgrader has to be improved to say that variables are not initialized, is it the case now ?

related thread (among others) :
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccf660cc6a1141e0a9bebfc515ce320a/a9e59ead57c846759aefb055a2a5c6f2/4?activate_block_id=block-v1%3ADartmouth_

[2019-08-23 13:17] remisharrock commented on #540
you mean this wiki ?
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/wiki/DART.IMT.C.01/how-post-code-edx-forum/

Indeed it should be included as a course content !

[2019-08-23 15:38] deladan commented on #540
Exactly

[2019-08-24 12:59] deladan opened #542 "Not enough tests in activity about dividing decimals (course 1)"
[Activity about dividing decimals](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/4c4f062124eb47f99ab23cf7228a1109/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40715e665a06734408ae26af019de29230), program which rounds each number from input instead of rounding their quot

[2019-08-24 14:11] deladan commented on #446
Some learner complains about the fact that there was no previous example in course of function which returns a structure.

[2019-08-27 10:07] deladan opened #543 "Confusing problem statement (course 2)"
Some learner suggests some enhancement to [activity about costly hotel room](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/fc9008c149444ca0a623cc332fc01e06/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f5755cb0e797445082dce25b9fd57193) problem statement.
Here's his/her

[2019-08-28 18:59] deladan commented on #421
Other feedback about this course:

Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/f918274edd980e3a56d01e8d6540ac9090cc0abf/threads/5d66c4d184452a07d20013ff

[2019-08-29 15:31] remisharrock commented on #448
this is important :) we have to change this video for v2

[2019-08-29 18:36] petraBT commented on #482
Same issue at 10:56.

[2019-08-29 18:37] petraBT commented on #343
Closing this issue since it is the same as #482

[2019-08-29 18:37] #343 closed, assigned to remisharrock

[2019-08-29 18:44] petraBT commented on #304
Looks like this has all been addressed. Closing this issue.

[2019-08-29 18:44] #304 closed, assigned to ddomonoske

[2019-08-29 18:50] petraBT commented on #264
This is leftover from pre-testing. Addressed by now. Closing.

[2019-08-29 18:50] #264 closed, assigned to EllaHa

[2019-08-31 05:11] deladan opened #544 "complaint about quiz in course 6"
[Quiz about Linux and files](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4077b4b5e2b6c24fcf91eeb945d5043735), question 9, some learner complains that second to last answer is also correct.
H

[2019-09-01 18:42] deladan opened #545 "typo in problem statement (course 7)"
In [activity about using math library](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/f838e66a12864002be52ceaf73f2842f/20c36bf48d224858a37200c5de92cf3f/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4040dba905e0bd4d18b6af25c711ae4196), in last sentence, "Your program's source code si stored in program.c"

[2019-09-05 15:48] #69 closed, assigned to nobody

[2019-09-05 16:00] EllaHa commented on #456
At 15' we should say 8 miles in stead of nine. Audio codecast to be changed + transcript

[2019-09-06 08:41] deladan opened #546 "Improper use of kill 9 SIGTERM (course 6)"
From some learner in forum:
I hope you reconsider using the example telling users to use kill 9 SIGKILL. You should always use the default kill 15 SIGTERM and only use kill 9 SIGKILL as the last resort. When you do a kill 9 the program terminates immediately without performing a normal SIGTERM handling like closing any files, removing lock files, freeing memory, etc. Depending on the program runni

[2019-09-08 16:40] deladan opened #547 "introducing typedef ?"
Some learner suggests that typedef instruction is introduced at the end of course 5.
Link to the thread:  https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d74fa2bc06d260945001af5

[2019-09-10 02:55] deladan opened #548 "humming noise in videos (course 7)"
Some learner complains about some humming noise in a few videos in course 7.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/b9abd58bf81ca3a473efc0c75ae38a9966731b25/threads/5d76b4e48149fd092b001e78

[2019-09-12 03:48] deladan opened #549 "feedback about first video in course 6"
From some learner in forum:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/06baa62d9ec117db3e2bd38fff1f1133d6491779/threads/5d7963fbc06d26094f002494

[2019-09-18 16:06] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5d8242bb84452a07ac002986

[2019-09-20 09:50] EllaHa commented on #482
It has been modified and uploaded on Studio

[2019-09-20 09:50] #482 closed, assigned to nobody

[2019-09-20 15:12] remisharrock commented on #392
That's indeed a kind of error. We cannot say we are creating a **LIBRARY** but instead have to change that to say we are creating an **OBJECT FILE**.

Indeed everytime a file is compiled with the -c option in our MOOC, it creates an **object file**. It is incorrect to say that it creates a **library**.

We have to explain that in detail to avoid confusion. Here are links to create a possible expla

[2019-09-20 15:15] remisharrock commented on #483
explanation here
http://lampwww.epfl.ch/~fsalvi/docs/gcc/www.network-theory.co.uk/docs/gccintro/gccintro_17.html

Link order of libraries

The ordering of libraries on the command line follows the same convection as for object files: they are searched from left to right--a library containing the definition of a function should appear after any source files or object files which use it. This includ

[2019-09-20 15:35] EllaHa commented on #549
I would have liked to know a little more about transistors (ex. invention or purpose). The video seemed to skip straight to punch cards.

Related to: Unit 6.1 / Activity: OS, UNIX, history and genesis

[2019-09-20 15:37] EllaHa commented on #548
Read until the end of the file https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/1270212dc8a846b89a71657856e5dda1/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40adb5b46d160b44269620fa75a5b3fb37

[2019-09-29 07:30] deladan opened #550 "Add a precision on some question (course 6)"
[Quiz about removing file and directories using absolute path](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/a7169c56bd0d42a5a61f14e521b195ad/7?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%40149818c2f0fe4a50bcd80dbab63b42f2), second question, this isn't said that we shoul

[2019-10-02 13:28] remisharrock opened #551 "bug on task-editor"
when I try to open HOME/Dartmouth/C101/Week1/listCompetencies  on task editor, I have this error showing up:

svn: E155000: Revision 13354 doesn't match existing revision 13346 in '/var/www/task-editor/task-editor-tasks/v01/Dartmouth/C101/Week1/listCompetencies'

[2019-10-05 04:40] deladan opened #552 "Test should be modified in activity about reading numbers from file (course 7)"
In [activity about reading numbers from file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/c69c696065964550835dcade17e8e61a/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%4096ebca3fd3bf4db08145d6ce13b2adab), there is one single test.
I suspect that it provides numbers wh