[2019-10-06 03:25] deladan opened #553 "Using %lf format specifier in printf statement in ANSI C"
AntAug made the remark in forum that examples shouldn't use this %lf format specifier in printf statement, as this l prefix wouldn't be recognized by compiler running with ANSI C.
Link to the thread: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/db1c5a544b63f0b30ca7993d14e817bfd790a82a/threads/5d97d2858149fd09220035df

I suppose it won't be possible

[2019-10-08 15:10] remisharrock opened #554 "bug on task-editor quizz edition"
when we add multiple answers to questions in quizzes and then move the order of the answer, the text of the answers disappear until we refresh the page . The bug is easily reproducible.

[2019-10-08 15:13] remisharrock commented on #552
Thanks Isabelle  @deladan and Ricardo @rserranosmith for reporting this ! we will improve the tests by training two new students joining the team ! @rserranosmith I will introduce them to you !

[2019-10-09 09:49] mblockelet commented on #551
Hi,

I cannot reproduce the error, could you try again?

[2019-10-11 03:18] deladan opened #555 "Lack of consistency in some hint (course 2)"
[Activity about array computation, price per ingredient](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7274ebb9203b4dc5ac1dd1581089f3be/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f656c6f89b2f439288dfe3aba7ba2701), first hint says:

However, provided solution doesn't

[2019-10-13 04:50] deladan opened #556 "some \n in scanf in solution (course 2)"
I'm not sure it wasn't reported before, but in provided solution of [activity about array computation, price per ingredient](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/7274ebb9203b4dc5ac1dd1581089f3be/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f656c6f89b2f439288d

[2019-10-15 05:06] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5da54d2fc06d260958003b4d

[2019-10-20 04:44] deladan opened #557 "some feedback about course1"
By the way, I can't copy here link to the thread, as address is showing all threads (this one is called a question):
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/d38a7954e9b9aaa7d9c256ca7c9c01cfa6cb4ed9/threads/d38a7954e9b9aaa7d9c256ca7c9c01cfa6cb4ed9/threads/5da21b918149fd092d0038fe/d27731fb1be34e0a3149fce675fe753bb6fc1f3d/threads/5da29ecdc06d2609

[2019-10-29 17:56] deladan opened #558 "Suggestion of rewording for some question in course 6"
In quiz about compilation (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/5a68ec5063644f41986eb24655613ab1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4055c7da0e5e9244ab9c8066477df744e3), question 4, some learner suggests that "should" weren't used in the sentence, as w

[2019-10-31 04:27] deladan opened #559 "Issue with the grader (course 7)"
In [activity about finding the end of file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/courseware/b2fc63d70fe74a38963d1ddf871946b4/1270212dc8a846b89a71657856e5dda1/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B2T2018%2Btype%40discussion%2Bblock%40adb5b46d160b44269620fa75a5b3fb37), Taskgrader is incoherently behaving.

Provided solution isn't acc

[2019-10-31 07:04] deladan opened #560 "Providing code from video (suggestion)"
I don't remember if I've already open an issue about this.
If you're working on a new version of the course, I think that providing codes which are written in videos in courses 6 and 7 as downloadable files should be great, so user doesn't have to write it if she wants to test what is shown in video.
In previous courses, it was possible to copy code from codecast sandbox. In case of videos, it isn

[2019-10-31 09:43] deladan opened #561 "Not enough tests (course 5)"
Activity about counting redundancies in a number (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/6fdf62d61e424ab5a5e70e6296a35e7b/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40ee0c131a2def43208073b5a02f14de76).

Some learner wrote this function which was accepted by the

[2019-11-03 04:50] deladan commented on #559
By the way, grader is behaving differently from other activities, as it lets us have access to second test contents.
It looks like it does same test twice.

[2019-11-04 05:25] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5dbf886f7febe50967000648

[2019-11-06 04:20] deladan opened #562 "Notes feature"
Taking notes is a feature which is provided by edX.
But to do so, we have to select text from some page. With your series, lectures are provided mainly with Codecast or videos, so there is often no such text to highlight.
My point is that you should deactivate this feature.

[2019-11-08 18:17] Eli-Boardman commented on #559
Looking at the problem in EdX, I think this has to do with a misunderstanding about whether they're supposed to find the index (3) or the actual number (4) since C indexes from 0.

[2019-11-08 20:15] deladan commented on #559
Hello Eli-Boardman,

I don't follow you.
According to problem statement, our program is to find first class which average is higher than ours.
In this example, it is the third class (92.5), so No 3 should be expected answer, whose index is 2.
So confusion between rank and index doesn't explain why grader expects 4 here.
And there actually is a bug with this exercise, as even provided solution isn'

[2019-11-12 16:17] mgoudz opened #563 "Bug with LTI Chapter Grading"
![Screen Shot 2019-11-12 at 11 15 26 AM](https://user-images.githubusercontent.com/6576087/68689205-fd5b8980-053d-11ea-9f59-fe26795cd690.png)

URL: https://edge.edx.org/courses/course-v1:IMTx+LTI101+2017_01/courseware/376e086043aa4cd197c208cabd08d794/d3d434c3f3914b86b648470b3f70117c/3?activate_block_id=block-v1%3AIMTx%2BLTI101%2B2017_01%2Btype%40lti_consumer%2Bblock%40a40e5bf43e244744b7f3f5281036f

[2019-11-12 16:24] mblockelet commented on #563
Should be fixed now, tell me if not!

[2019-11-14 19:21] deladan opened #564 "Suggestion about quiz in course 6"
In quiz about Linux and the files, course 6 (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4077b4b5e2b6c24fcf91eeb945d5043735), some learner says that stdlib.h should also be accepted as answe

[2019-11-15 04:19] deladan opened #565 "Quiz about C developers (course 1)"
Some learners disagree with expected answer to last question in quiz about vocabulary (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/066b0480b13046e396208ef51d5c790b/33129229b7ae4999b57f03be444c2dd0/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%40bb214b4ed3e84f689a1914fbc7a6bb61).
Here link to thread (l

[2019-11-16 16:33] deladan opened #566 "Incorrect code is accepted (course 3)"
In [activity about finding the smallest integer from a list](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/courseware/9afb1233a3d74a62acc1625236e57a96/07d4663586b74bd6abd7b94bf3326474/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2018%2Btype%40discussion%2Bblock%409e7dd39b807b452b8570729368aea7fd), Taskgrader accepts a code which doesn't initiali

[2019-11-16 16:35] AadhyaKocha opened #567 "Task Grader incorrect grading"
<img width="1425" alt="grading issue" src="https://user-images.githubusercontent.com/51734801/68996198-f9dd4080-0864-11ea-9237-15b256b49230.png">
As seen in the picture, when there is one right answer and one wrong, task grader gives a score of 19/40 points rather than 20/40 which is incorrect.

[2019-11-17 03:57] deladan opened #568 "Incorrect wording in "a question on this activity" tab"
From some learner in forum:

[2019-11-18 17:05] remisharrock commented on #567
Thank you @AadhyaKocha  may you give the link to reproduce the error ?

[2019-11-18 19:32] remisharrock opened #569 "1.2 name"
- [x] Marked item
 - [ ] Unmarked item
 - Ordinary (non-task) item

[2019-11-18 19:36] remisharrock opened #570 "tasks of mooc1"
- [ ] moving / renaming the folder
   - [ ] sdf
   - [ ] moving / renaming the folder
 - [ ] Unmarked item
 - [ ] Marked item
 - [ ] Unmarked item

[2019-11-18 20:26] remisharrock opened #571 "v1 to v2 taskgrader new naming hierarchy"
- [ ] look at the old title from the online course. There are 2 titles: the one at the very top and the one after "taskgrader (external tool):" You will have to merge the two titles.
- [ ] first move the task from v2 to the correct folder in cspace
- [ ] find a new title so that it reflects something understandable for the student: what's the activity about ? long titles are OK ! Use the old title

[2019-11-18 20:38] remisharrock opened #572 "v1 to v2 migration of taskgraders: LTI links integration"
- [ ] open the task in task-editor and put the new title in the field named "Title - Title of the task" .
- [ ] generate LTI links using task editor (batch processing of multiple taskgraders is possible)
- [ ] swap LTI links (old -> new link)
- [ ] graded False
- [ ] Display name to the same new Title (created when the task was moved)
- [ ] verify Height to get rid of scrollbars

[2019-11-18 21:56] Eli-Boardman opened #573 "Serious Taskeditor error (possible from Github directory issues)"
We attempted to convert spaces in folder names to underscores in Github, and this error ensued when trying to open any task in Taskgrader within the directory where the path was changed.

![taskeditor_error](https://user-images.githubusercontent.com/56078245/69097268-373bfc80-0a24-11ea-9a27-279d8aecaa10.jpg)

[2019-11-18 22:47] AadhyaKocha commented on #567
http://task-editor.france-ioi.org/#edit/v01/Dartmouth/C106/Week1/LinuxGenesis
@remisharrock

[2019-11-19 00:03] mblockelet commented on #573
Answered there : https://github.com/France-ioi/task-editor/issues/14#issuecomment-555267582

[2019-11-19 20:08] remisharrock opened #574 "create quizzes for 7.2 in taskgrader"
in all the subfolders of 7.2 :
recognize them with a q at the begining of the file name.
create them inside v2 for now

[2019-11-19 20:15] remisharrock opened #575 "create taksgrader for final projects of mooc 1 3 and 5"
read the problem statement in unit 1.4 3.4 and 5.4 in the files finalProject.txt and the solution is in the finalProject.c

create the task out of these two files and try to integrate them !

you can work in the v2 folder for now

[2019-11-23 03:23] deladan opened #576 "explanations of quizzes answers"
Some learner in course 6 forum wishes that explanations were given for all answers in quizzes.
Currently, there is no such thing for[ quiz about memory with linux](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/55e5847158bc402b981467401d8ead19/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40d

[2019-11-24 17:32] mblockelet commented on #554
Hi, is this bug still present with the latest modifications to the editor?

[2019-11-27 17:03] deladan opened #577 "same two answers in some quiz in course 6"
In third question of quiz about compilation, there are two  `gcc program.c` among the choices.

Link to the quiz: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/632a112f8d4e46c88cf195f34e486a4f/5a68ec5063644f41986eb24655613ab1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%4055c7da0e5e9244ab9c8066477df744

[2019-11-28 19:07] deladan opened #578 "Issue with Taskgrader course 2"
[Activity about balancing train wagons weight](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/c994b80204d747b6aa16ad991f4b1904/d146744a8fa343e2b47855983ebc8e93/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%4032f835ec168e402aae01359b9833debb), Taskgrader accepts following code which doesn't do the job at

[2019-12-03 12:17] mblockelet commented on #567
Answered there : https://github.com/France-ioi/taskgrader/issues/53.

[2019-12-04 04:30] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5de6f0437febe5093a0018ac

[2019-12-22 04:10] deladan commented on #489
And Taskgrader accepts an erroneous code which gives incorrect result when there is a 0 in number.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/ac2ed9fddd8d648b430f62c3070ac5e47921a73a/threads/5dfdfaa9c76277094b001cf6

Another test to add?

[2019-12-23 17:36] deladan commented on #526
Another remark about this activity: short type is only introduced in next lecture.
Shouldn't it be removed from this problem statement then?

[2019-12-25 04:32] deladan opened #579 "Not enough tests (course 2)"
[Activity about bridge tax](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%402a4ff71898d840ab96b245d7adc87499), Taskgrader accepts a code which directly assigns 14 to regular tax.
Shouldn't the

[2019-12-29 05:33] deladan opened #580 "Test with your own test window"
In one or two activities, this window is still present.
For instance in[ activity about youth hostel](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/e7f149c2d6c640cd8f5b9c36ae72437c/7?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40449cff47577c4f3b98a34b451f72acca) in cours

[2019-12-30 10:39] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5e099b10c76277090f0028c4

[2019-12-31 16:27] deladan commented on #417
another complaints: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/discussion/forum/9770d1c0972edf1124b27ca4a6a23d1c08fb8673/threads/5e0b5f3d7febe5096700256f

[2020-01-05 17:59] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/d4606feb75b59ca2e19b233489ba897d05f09611/threads/5bf55b41ef5b3309dd001f31
Look at Fernandes30 comment

[2020-01-06 04:37] deladan opened #581 "Two possible answers in quiz in course 6"
Some learner remarks that answer 'this displays a message' in second question of [quiz about GNU, Linux, Command Line, Prompt](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/fa3b199b4927423f90a0f80550b0d4c3/2309e45f07a44f93a2da7863957d6166/8?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%406a41cc6639804797b

[2020-01-07 04:39] deladan opened #582 "Rewording of a question in course 6"
In [quiz about cat less more](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/953455675ecb40e491f6645e3711295f/a7169c56bd0d42a5a61f14e521b195ad/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%408269fd6ee011487fb31fb6be6dcf4781), some learner was confused by the second question, where he thought that we were

[2020-01-13 04:41] deladan opened #583 "feedback of some learner about lack of exercises in course 4"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/b47fc52b5cd268326cdf6007ec5711373b1ae756/threads/5e1baab37febe50937003ba3

[2020-01-15 04:37] deladan opened #584 "Not enough tests (course 2)"
In [activity about finding repetitions](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/f2a41407085b4e8c8a5604123388ef33/b32dae4bf4454a179f4cece1403ab0e2/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%4079f7708322cc448ab739c65c846aab34), some learner submitted a code which always display 1, passing three t

[2020-01-18 15:28] deladan opened #585 "Some feedback about Codecast"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/484ca50b486a86c0c941c425d4416ac0001a4db0/threads/5e1f4c4f95b0620947002c02

[2020-01-21 17:32] deladan opened #586 "Typo on course 5"
First choice in quiz in Reveal solution for [previous activity "append a node with student data"](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/courseware/ec78e06b33f444cb8265d8c58227da98/ec93d3937a4c4d5499eca2e2785b32c5/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B2T2018%2Btype%40discussion%2Bblock%40ad45db5c1798483a8d71c996fdb3a17a), there is a

[2020-01-22 04:37] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+2T2018/discussion/forum/e2d03059482243e705dd266287a91ef3b038cd95/threads/5e27bb2ec762770948002dfd

[2020-01-22 13:46] remisharrock commented on #586
thanks, corrected !

[2020-01-22 13:46] #586 closed, assigned to nobody

[2020-01-22 13:48] remisharrock commented on #573
is the issue still here ? someone can test ?

[2020-01-22 14:08] Eli-Boardman commented on #573
This was resolved. I believe we now know that the problem involved pushing to Github while being signed into Taskeditor. Michel has since repaired the directory.

[2020-01-22 14:08] #573 closed, assigned to nobody

[2020-01-23 06:56] Vm900 opened #587 "Running a local copy"
Hi,
Was just wondering if the code for the sandbox is available for running local copy with no need for internet access.Would very much appreciate it.
Thanks

[2020-01-27 06:35] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/93947c746229517dce29e0229fb66daaffcd2e72/threads/5e2de11e7febe50967003410

[2020-01-30 05:20] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/484baa220e75b90c7e58caa8cce5dbf37d2ed420/threads/5e314f9bc762770956004daf

[2020-01-31 05:03] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/discussion/forum/19808479036fe28a86ad8c0dd35bd0caa2dae69e/threads/5e332feec76277091800463c

[2020-02-03 05:15] deladan opened #588 "Typo"
From some learner in forum in course 6, in [section about Linux history](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+2T2018/courseware/fa3b199b4927423f90a0f80550b0d4c3/e241fa2b0ca1495db74ce4c94b47820d/7?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B2T2018%2Btype%40discussion%2Bblock%400818d3c0c1d24139a80adf315ef07c8f), Linus Torvalds is misspelled in Linu

[2020-02-06 16:38] petraBT opened #589 "Remove hints in Final Project MOOC1"
There is  an option in taskeditor to either disable the hint, or else create a hint.

[2020-02-06 16:47] petraBT opened #590 "MOOC2 Final project: hints and solution"
The solution of the final project in MOOC2 has an unused variable ("swap"). Also, the indenting could be fixed. Also, please fix the hint - either disable or include a hint.
![Screen Shot 2020-02-06 at 11 44 53 AM](https://user-images.githubusercontent.com/33522257/73958776-6ef56a80-48d6-11ea-8b4b-616d57439475.png)

[2020-02-06 17:07] petraBT opened #591 "MOOC 3 Final project: hints"
Same issue as in MOOCs 1 and 2.

[2020-02-06 17:13] petraBT opened #592 "MOOC 4 Final project: hints, title, temperature"
Hint: same issue as MOOCs 1-3.
Title: Change to "Tracking a Fire Using Arrays"
Also, I don't think 90 degrees is the right threshold to assume there is a fire. The coolest fire burns at around 1000 degrees Fahrenheit. Please change - sorry. This will affect the problem statement, input, checker, solution, etc. Unless you have another idea on how to address this.

[2020-02-06 18:00] petraBT opened #593 "MOOC6 Final Project"
Here are some reformulations of the questions:
1. Which of the following commands prints the current working directory?
2. Which of the following commands is used to remove files?
3. I don't understand this question. I don't think we should be advertising for Mac? I also don't understand what "variant" is supposed to mean? How about "The operation system on a Macintosh computer is a variant of ...

[2020-02-06 19:04] deladan opened #594 "another typo"
Course 2, [activity about tug of war](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/dd6988baae994fff80bd8bd9c1884cf4/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40ea1d9b78328042169dfef7e52f25434f) :
 _calculate a total weight for each time_ should be  _calculate a tota

[2020-02-17 11:53] remisharrock commented on #593
I agree with all of the suggestions.

for question 3 it should be

The operating system on a Mac computer is a variant of ...
UNIX is the right answer

[2020-02-17 11:53] remisharrock commented on #593
@AadhyaKocha @Eli-Boardman could you modify those ? Thank you !

[2020-02-17 11:59] remisharrock commented on #582
all right, we will fix that in v2.

[2020-02-17 12:00] remisharrock opened #595 "mooc 6 unit 3.2 quizz cat less more"
I can see weird characters in this quizz:

![image](https://user-images.githubusercontent.com/8048877/74652047-7db90880-5185-11ea-91d2-b0eda78a49c0.png)

[2020-02-17 12:07] remisharrock opened #596 "quizz colors and fonts"
i don't like the quizz colors and fonts

for example here we don't see any difference for "touch my file"

![image](https://user-images.githubusercontent.com/8048877/74652298-09329980-5186-11ea-8b81-a65040d82281.png)

I don't like the italic by default, should be not italic

i don't like the blue, should be black, it's even more complex to see when blue is on a blue background

![image](https://us

[2020-02-17 12:16] remisharrock commented on #417
we have to fix that for v2 @AadhyaKocha @Eli-Boardman
let's change rm -r my file with
rm -r my\ file

[2020-02-17 12:45] remisharrock commented on #585
I think it is the height of the codecast that creates a scroll bar that does not allow to see the code and the terminal at the same time indeed.

example : pointer arithmetic, scroll the time of the codecast to 10:00 (10minutes) you see the problem

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2018/courseware/27b25e631c254ed09e1f67d84f02a01c/2f01c383f1174864ae2643ecc675

[2020-02-18 01:22] Eli-Boardman commented on #417
Updated as per Remi's comment

[2020-02-18 01:22] #417 closed, assigned to remisharrock

[2020-02-18 01:36] Eli-Boardman commented on #595
Fixed this. It appears to have been an oversight in copying from the original quiz code into taskeditor.

[2020-02-18 01:36] #595 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-18 01:54] Eli-Boardman commented on #593
I made the trivial changes (re-wording) and removed the question Petra didn't like.

I'm confused on the grading--I don't know why it's doing that or where to look for diagnostics.

Also looking for further direction on what to do with regard to points 5,6,7 on the list above.

[2020-02-18 02:18] Eli-Boardman commented on #592
Done. Current settings: a "fire" is any temperature >1000 F, and a "watch zone" is any temperature between 100 and 1000 F (inclusive of end points).

[2020-02-18 02:18] #592 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-18 02:25] Eli-Boardman commented on #590
Fixed.

[2020-02-18 02:25] #590 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-18 02:28] Eli-Boardman commented on #582
Changed to suggested wording above.

[2020-02-18 02:28] #582 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-18 04:55] deladan opened #597 "Issue with grading in course 1"
Activity about correcting simple syntax errors in unit 1.1 isn't graded anymore.
But progression chart is still expecting 26 graded activities.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5e00f0da95b0620914002c41

[2020-02-18 16:58] remisharrock commented on #597
thanks, we investigate

[2020-02-19 21:52] remisharrock opened #598 "missing quizz in 7.2 compiling"
following this
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/01%20Modularizing%20a%20program/02_qcompiling.txt
could you create a taskgrader quizz ?
maybe using numbers to do the "matching" ? Or do you have another idea ?
Thanks !

[2020-02-19 21:53] remisharrock opened #599 "missing quizz in 7.2 linking"
using https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/01%20Modularizing%20a%20program/04_qlinking.txt
could you create a new taskgrader quizz ?
Thank you

[2020-02-19 21:54] remisharrock opened #600 "missing quizz 7.2"
to investigate
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/01%20Modularizing%20a%20program/06_tsuperimageProject.txt

[2020-02-19 21:55] remisharrock opened #601 "missing quiz 7.2 makefile"
using this
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/02%20Creating%20and%20using%20a%20Makefile/02_qmakeFilePractice.txt
could you create a quiz taskgrader ?
thanks

[2020-02-19 21:55] remisharrock opened #602 "missing quiz in 7.2"
to investigate from
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/02%20Creating%20and%20using%20a%20Makefile/05_tmakefileCreation.txt

[2020-02-19 21:56] remisharrock opened #603 "missing quiz in 7.2 create library"
from
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/03%20Creating%20a%20static%20Library/02_qcreateLibrary.txt
could you create a quiz ?
Thanks

[2020-02-19 21:57] remisharrock opened #604 "missing quiz modify library"
using
https://github.com/remisharrock/cspace/blob/master/07%20C%20Programming%20Using%20Linux%20Tools%20and%20Libraries/Unit%207.2%20Modularization%20Libraries%20and%20Makefiles/03%20Creating%20a%20static%20Library/04_qmodifyLibrary.txt
could you create a quiz ?
Thanks

[2020-02-19 21:59] remisharrock commented on #575
ok, beta testing has to be done, thanks !

[2020-02-19 21:59] #575 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-19 22:04] remisharrock commented on #318
I have a slow connection here this week and cannot work on that, I will try to do it when I'm back next week

[2020-02-19 22:11] remisharrock commented on #509
have to add more tests !
But one thing I don't understand, when using task-editor, I can see for test files
 fsiinput1.txt
 fisoutput1.txt

First, is it correct fsi and then fis ?
Second, these files are nowhere, cannot find them.
In cspace I only see
test1.in
test1.out
here https://github.com/remisharrock/cspace/tree/master/03%20C%20Programming%20Modular%20Programming%20and%20Memory%20Management/

[2020-02-19 22:27] remisharrock commented on #518
Thanks, BUT I agree that we should follow The internationally recommended unit symbol for the kilobyte, that is kB and not KB;
https://en.wikipedia.org/wiki/Kilobyte
so we should change
* the solution code
* the problem statement
* the input output tests
* and add an explanation (I find it usefull) with a link to the wikipedia page

but this is not high priority

[2020-02-19 22:30] remisharrock commented on #522
I cannot find this quiz in the v2, was it removed ? @EllaHa @mgoudz

[2020-02-19 22:58] remisharrock commented on #523
I think we should investigate this to improve the task but it is not a high priority ... only for cheaters :)
It is a content improvement, maybe not a grading issue but I still keep grading issue label

[2020-02-19 23:04] remisharrock commented on #487
this should be improved

[2020-02-19 23:05] remisharrock commented on #476
is this fixed ? May someone try ?

[2020-02-20 09:56] mblockelet commented on #509
Hello, `fsiinput1.txt` and `fisoutput1.txt` are just filenames which were given by the task writer when the files were uploaded (either original filename, or just something given). When the task gets saved, the input file becomes `testX.in` and the output becomes `testX.out`. The filename you see is mostly for your own reference, then it gets saved with the name that the taskgrader expects.

[2020-02-20 11:34] mblockelet commented on #593
Hello,

I fixed the two issues with scoring and feedback : the score will now display with only two decimals maximum, and string responses will properly display when they're wrong.

[2020-02-20 12:56] petraBT commented on #593
Thank you for fixing the score!! Maybe this is an edX setting issue, but I can't see feedback at all in quizzes? I am currently looking at the Quiz "Find special characters on the keyboard" in MOOC 1, Unit 1.0, Section 5. I purposefully entered partially correct answers, received a reasonable partial score but am not seeing any feedback on where I got things wrong (see attached screenshot).
![Scre

[2020-02-20 12:59] petraBT opened #605 "Quiz iframe too small in MOOC1, "Find special characters...""
At least in my browser the iframe for the Quiz "Find special characters..." in MOOC1, Unit 1.0, Section 5 does not fit into the given iframe and makes for some strange scrolling issues.

[2020-02-20 13:21] mblockelet commented on #593
Hi, I just tried on edX, in the DART.IMT.C.01+1T2020 course, and it displayed properly for me :

![image](https://user-images.githubusercontent.com/11016337/74937242-96bef500-53e3-11ea-99da-22d34a952bc1.png)

I think the issue there was simply a cache issue, as I just made the change to the CSS file to display errors on text input fields. Could you try again after emptying your local cache? Thanks

[2020-02-20 15:20] petraBT commented on #593
Yes, it works no, thank you!!

Is it now a question of applying this CSS to all quizzes? The quiz above looks totally different from other quizzes? See comparison screen shots... Thank you so much!
![Screen Shot 2020-02-20 at 10 18 43 AM](https://user-images.githubusercontent.com/33522257/74948616-8c443180-53ca-11ea-8088-298c56b4feba.png)
![Screen Shot 2020-02-20 at 10 19 50 AM](https://user-image

[2020-02-20 15:29] petraBT opened #606 "Activity "put lines in the correct order" needs some work"
In MOOC1, Course  Unit 1.1: Printing, loops, and comments  Structure of a simple C program  Activity: put lines in the correct order, the problem statement has jumbled up code that needs to be corrected: One line reads

}int main(){

The closing brace } should be on a separate line. The rest should read

int main(void) {

Also, the directions indicate that the learner is to comment the code but th

[2020-02-20 15:44] petraBT commented on #593
Ignore my previous comment - I was looking at the edX version of the quiz. Is there a way to show feedback automatically, without the user having to click on "Show Answer"? Also, if not then "Show Answer" should be called "View Feedback" - thanks!

[2020-02-20 15:49] petraBT opened #607 "Quiz: assign, re-assign and update a variable - numerical response vs. string response"
In MOOC1, Course  Unit 1.2: Integers, variables and user input  Using variables  Quiz: assign, re-assign, and update a variable, all learner responses are numerical. Yet, it says "String response" in the entry fields which could be confusing. Can this be changed?

Also, the styling looks rather terrible - can anything  be done?

[2020-02-20 18:38] mblockelet commented on #593
Hi again, I will modify the quiz (probably tomorrow) to show feedback automatically, it was the original intent anyway but wasn't done yet. With this change, the "show answer" button will also be hidden by default, as for many quiz which don't have "solution" texts the button won't be showing any additional information anymore.

[2020-02-21 06:29] AadhyaKocha commented on #607
Changed to "Enter Number" and improved styling a little. Let me know if it should be improved further.

[2020-02-21 06:43] AadhyaKocha commented on #606
I have fixed the brace formatting. The test input file on Taksgrader for it as of now seems empty but I will try finding that file. If not, I will create a new test for it.

[2020-02-21 06:48] AadhyaKocha commented on #605
I tried viewing the studio edX version and the Live version on different browser sizes and it seems to be appearing fine for me. Maybe Eli can check if he has an error?

[2020-02-21 06:51] AadhyaKocha commented on #589
As mentioned on email, despite not adding a hint, it shows that there is a hint. This means it might need to be fixed internally instead as we aren't able to remove it from Taskgrader.

[2020-02-21 12:41] petraBT commented on #607
Perfect - thank you!

[2020-02-21 12:41] #607 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-02-21 12:47] petraBT commented on #606
I have refreshed multiple times but have not seen a change - not sure if this is just my computer acting wonky or if the change didn't take? I am still seeing the issues:

![Screen Shot 2020-02-21 at 7 45 43 AM](https://user-images.githubusercontent.com/33522257/75035832-64aea100-547e-11ea-99aa-c10f3570c4f3.png)

[2020-02-21 15:33] mblockelet commented on #596
Quiz style updated :)

[2020-02-24 03:04] deladan commented on #303
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2018/discussion/forum/0fd8a27646222794dc8f3e30fabf1e99765c81c6/threads/5e52e909c762770956006932

[2020-02-24 15:39] remisharrock commented on #509
ok, that's clear now, thanks;
still have to create more tests for this task

[2020-02-24 15:41] remisharrock commented on #593
all right, thank you for your test all !
let me know if it is implemented now !

[2020-02-24 15:41] remisharrock commented on #596
all right, will test now thanks !

[2020-02-24 19:56] deladan opened #608 "issue with convert integers to double activity (course 1)"
In [this activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/courseware/ccb75017dce84804a4477600cf09014d/0ae24abd3cc14b19b972884841bd4afe/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2018%2Btype%40discussion%2Bblock%4010462904dee4452c921ec78ecce338c8), following code leads to error message about validation taking too much time:
[code]
Removi

[2020-02-25 03:58] deladan opened #609 "wrong title in welcome video of course 5"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+2T2018/discussion/forum/5361e49d51bf46a5cbfce15ef030e9455f149de1/threads/5e545702c76277091a005b2f

[2020-02-25 04:02] deladan opened #610 "Taskgrader scores too small?"
Several learners failed to get to 80% of course 4 because of quizzes.
Is it intentional? Or shouldn't coding activities have a higher amount of points?

[2020-02-26 03:00] AadhyaKocha commented on #606
This is weird because when I edit it in Taskgrader and put the new link in studio edX it changed but it isn't changing this. Taskgrader is reflecting the code change but when I save and import it stops reflecting the change and removed the space again. So I am not sure why it looks like this sadly.

As for the comments not being needed by the checker, the tests that we can program on there only ha

[2020-02-26 03:42] AadhyaKocha commented on #599
I have created the new quiz on Taskgrader and connected it to Studio edX. However, I am not sure what the solution should be as none of the files on gitHub look like the solutions for this. If I am wrong, which file should I put as the answer? Is it 03_sobjectFiles.c?

[2020-02-26 04:13] AadhyaKocha commented on #603
Done and ready to be tested.

[2020-02-26 04:31] AadhyaKocha commented on #604
Done and ready to test

[2020-02-26 05:54] Eli-Boardman commented on #601
I created the quiz as per the outline. However, I'm unsure about why the code (header, program, etc.) is included at the end. Could you confirm that the learners will already have all of this code in their Weblinux, and thus don't need access to it within the quiz? (I'm referring to the "weatherstats" code.)

[2020-02-26 06:42] Eli-Boardman commented on #598
Done. I handled the "matching" by presenting several options for possible arrangements as a multiple-choice question.

[2020-02-26 23:05] petraBT commented on #606
@remisharrock and @EllaHa : This is very strange - the task, though updated in taskeditor, does not update in edX (neither does it update in the "test task" preview - so this has nothing to do with edX). Should this be escalated to Michel?

[2020-02-27 04:46] deladan commented on #597
Some learner said that now, three activities don't show as graded, even though completed.
[thread](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/dede1d24bd16514d5d7073f48ce45af2b384960e/threads/5e004e9395b062094d0021eb)

[2020-02-27 14:03] EllaHa opened #611 "Inconsistent title between GitHub and Studio"
On github :
01 C Programming Getting Started
Unit 1.2 Integers variables and user input
05 Repeating instructions with variables
**02_repeating instructions with variables**

In Studio the activity is labeled, the Activity
Activity: print the x8 multiplication table and not "repeating instructions with variables"

Which one should be changed ?

https://studio.edx.org/container/block-v1:Dartmouth_I

[2020-02-27 15:10] mblockelet commented on #593
Hi, it is implemented now, you should see it (once the cache expired) on all the quiz. Tell me if everything is fine!

[2020-02-27 16:58] mblockelet commented on #606
Hello, the issue is now fixed, it was related to old issues with our task-editor.

Some time ago, the task-editor was generating files `index_fr.html` and `index_fa.html` by mistake, but we removed that. It isn't supposed to affect anything, but one of these files was malformed in the folder of this task, and caused a mix during import, which would use the old `index_fr.html` file instead of the n

[2020-02-27 17:07] petraBT commented on #606
Thank you so much, Michel! Yes, please do add the code to check for comments so that we can learn how to do this. Thank you!!

[2020-02-27 17:51] EllaHa opened #612 "We have a lot of different font size, that doesn't sound optimum"
https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@vertical+block@d5f2cd14e1a84585bf1ede4bfba87f92

[2020-02-28 05:05] deladan commented on #609
Same issue in  "What's next? Closing MOOC5" video

[2020-02-28 18:50] mblockelet commented on #606
Hi, I just modified the code to include the checker which checks for comments. Don't hesitate to modify the checker to better suit your needs, or put a more verbose message when no comments are included!

[2020-02-28 22:12] petraBT commented on #606
Fantastic - thank you!!

[2020-02-28 22:12] #606 closed, assigned to remisharrock, EllaHa, AadhyaKocha

[2020-03-02 13:21] EllaHa opened #613 "Inconsistent presentation of one quiz"
In MOOC 6, unit 2 Activity: where did my command prompt go", we have a problem in the way the quiz show up. In other quizzes, we don't have these lines befoire the problem statement: "quiz" and "2 possible points". Any clue on why this information shows up?

 https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020+type@vertical+block@cba6b2b1cf4e4f2d8a176410c63101b0

![image]

[2020-03-02 13:22] EllaHa commented on #611
same here https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020+type@vertical+block@cba6b2b1cf4e4f2d8a176410c63101b0

[2020-03-02 13:26] EllaHa commented on #613
same here https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020+type@vertical+block@366e59a1325c45bbb695e97447f90c17

[2020-03-02 13:27] EllaHa commented on #613
same here https://imt.algorea.org/contents/5807-5802-1052234341352848159-33331442169689707-541756334287078524-105203111448907475-96407051577201978/

[2020-03-03 09:36] EllaHa commented on #613
solved by Ella and Rémi.

[2020-03-03 09:36] #613 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-03-03 09:37] remisharrock opened #614 "activity course 6 unit 6.3 maaning memory with linux > memory with linux"
the image in the second question is bad quality
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/courseware/632a112f8d4e46c88cf195f34e486a4f/55e5847158bc402b981467401d8ead19/?child=first

[2020-03-03 10:16] #604 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-03-03 10:16] #603 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-03-03 10:16] #602 closed, assigned to remisharrock

[2020-03-03 10:19] #600 closed, assigned to remisharrock

[2020-03-03 10:20] remisharrock commented on #601
we indeed need to add the codes for all videos of MOOC 7 (and maybe some for 6), I'm adding an issue for that

[2020-03-03 10:21] #598 closed, assigned to AadhyaKocha, Eli-Boardman

[2020-03-03 10:22] remisharrock opened #615 "add the code for all videos of MOOC 7"
we need to add the code for all videos of MOOC 7, bellow the videos, in HTML formatted correctly.

[2020-03-03 10:23] remisharrock commented on #601
https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/615

[2020-03-03 10:45] remisharrock commented on #581
so the V2 is wrong:
answers of question 3 from V1 are in question 2 V2 and question 3 of V1 is missing on v2 . maybe other errors
I fixed that
and also what was described (I removed the answer)

[2020-03-04 04:01] deladan opened #616 "V2 : There are no tests for this task. (course 1)"
[Activity about adding comment to existing code](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/6e554ffe0eb345c4a343a63b4f436db5/67d05789483a44bf8c3b095b974c188a/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40ab309269b55a4a8a9e5a9d7c91fa1bcf),
when one submits her code, grader answers there are no tests

[2020-03-04 13:33] deladan opened #617 "Activities don't show with Chrome"
Two learners reported issues trying to access activities with Chrome.
In course 1: [thread 1](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/course/threads/5e5f03d69908bd089300002f) and [thread 2](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/course/threads/5e5f030baab18f078b000031)
In course 3: [threa

[2020-03-04 15:06] deladan opened #618 "Issue with quiz about variables in course 1 V2"
In [quiz about declaring and naming a variable](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40cbacb57afab143ec93b53e6c5a1a8551),
first question asks us about incorrect declaration.
But quiz

[2020-03-05 05:03] deladan opened #619 "Typo in problem statement in course 1 V2"
In [activity about dividing decimals with round-off](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccb75017dce84804a4477600cf09014d/4c4f062124eb47f99ab23cf7228a1109/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40f5b37f8ce0924aa19f3141b6a7323444), a learner reported a typo in the explanation of the exam

[2020-03-05 06:36] deladan opened #620 "Needed precision in some quiz in course 6 V2"
In [quiz about Makefile practice](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/1ed517a6c28246a5bd9a7b86e28ac371/?child=first), I wonder whether you should tell that instructions are to be executed in Weblinux.
Indeed, output may be different in other devices because of local settings.

[2020-03-05 19:45] deladan commented on #419
V2: another learner made the same remark.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/e0b361be0a9686b3c5381120f437f2e694127a3d/threads/5e60ea7baab18f07c100016a

[2020-03-05 20:05] deladan opened #621 "Issue with quiz in course 6 V2"
[Quiz about find and locate](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/courseware/953455675ecb40e491f6645e3711295f/2cd1aef12a4147dba381e83e10a44580/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B1T2020%2Btype%40discussion%2Bblock%406c9873d6cbe7449aa00b59f89b9f7d63): are you sure about the expected answer to first question?
The only file whose na

[2020-03-05 20:13] deladan opened #622 "No test for activity about costly hotel room in course 2 V1"
[Activity about more complex if statement](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2018/courseware/a86febae1149479d971ae6edbd850c51/fc9008c149444ca0a623cc332fc01e06/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2018%2Btype%40discussion%2Bblock%40f5755cb0e797445082dce25b9fd57193):
when one submits some code, answer from the grader is that there i

[2020-03-06 17:33] deladan opened #623 "Answers incorrectly showing in some quiz in course 5 V2"
In [quiz about array of structures](miguelfalmeida), some answers of the second question don't correctly show.
![quiz](https://user-images.githubusercontent.com/34571147/76107480-0551a480-5fd9-11ea-9566-a5dbf0a9a921.png)

[2020-03-07 06:14] deladan opened #624 "Typo in answers in some quiz in course 7 V2 (making them incorrect)"
In[ quiz about creating your library](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/03a438a2ddf7482495f66baf0f141d05/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%409db4ee568f87452a89504feeee45fa8e), in second question, two commands start with `arc`.
Shouldn't it be `ar`

[2020-03-07 20:08] deladan commented on #621
Some learner found why and reported it: it seems that grader expects an extra space after df_drivertest2.

[2020-03-09 05:31] deladan opened #625 "Final projects scores aren't reported in progress page (V2)"
At least in courses 1, 3 and 6.
For instance:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/discussion/forum/26391989379c6b0f048c52056cb4e8164b1489e3/threads/5e64712b2de842098d3bfedc

[2020-03-09 19:22] deladan opened #626 "linguistic issue in some video on course 2"
About lecture about nesting for loops, some learner reported that the singular form of dice should be die.
I thought I've already reported this during the first session but I can't find the issue any more.
Here's the link to the thread:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/7a6b895a0134bacc179e5e5135c20f448c8ac8ef/threads/5e627f3d35589507fd5

[2020-03-11 04:51] deladan opened #627 "No hint - course 2 V2"
In [activity about finding repeated letters](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/f2a41407085b4e8c8a5604123388ef33/b32dae4bf4454a179f4cece1403ab0e2/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40discussion%2Bblock%4079f7708322cc448ab739c65c846aab34), hint tab is showing and we're told that one hint is available, b

[2020-03-11 09:16] deladan opened #628 "Issue with last final project statement course 7 V2"
[Final project](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/bbe0b33365404267b4ca717daab5720b/166aadd2ed1e4a30a5e78c1c455bdc9d/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%407711d209c3ff41a4810e21996b7625d0)
Some learners reported that problem statement isn't correct, supposing supergiant stars radius

[2020-03-12 16:03] remisharrock commented on #622
just tried and it works

[2020-03-12 17:34] deladan commented on #622
Indeed, it now works.

[2020-03-12 17:35] #622 closed, assigned to nobody

[2020-03-14 04:13] deladan commented on #627
It's actually the same thing with [final project in course 1](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/dc24f5ecce354be1bbf01983250f9e74/de932eebe17f4085b7676ec8c4632676/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%4080afac05b8a74617a1d2cd885e80ff7a).
Maybe these hint tabs should be removed then.

[2020-03-14 05:32] deladan opened #629 "typo in some quiz in course 7 V2"
In [activity about linking](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/cb1e428a95cf44e09a4de74412af3c6c/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40979cbd495947456481f4975256e14d32), in second question, we're asked to type the "commend" to run the program. Shouldn

[2020-03-14 05:40] deladan opened #630 "Issue with some quiz in course 7 V2"
[Activity about Makefile practice](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/1ed517a6c28246a5bd9a7b86e28ac371/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40c7d6a2a9b3b246febbefca42064b67c9), two learners reported that copying output from Weblinux gave an incorrect

[2020-03-14 14:56] deladan opened #631 "Error in Codecast about allocating memory in the heap using malloc (course 4 - V1 and 2)"
I think I've already reported this but I can't find the issue any more.
In [this Codecast lecture](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/26662efa0f944539bb7015cfd95bff18/7eebfe6258a9436a8950d8697f6e86f1/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40discussion%2Bblock%40f1e5ddda4b8540e2b56cd5f60cfcef47), near 8:30,

[2020-03-14 20:43] deladan commented on #627
And for [this activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/b0efc6858fa44aeeb0b482018e0abf01/4bcb4710a25d44abbb44c558ada6d318/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40discussion%2Bblock%40f620b67434c343e5ad919e1017dea89c) in course 4.

[2020-03-14 20:49] deladan commented on #597
It seems that final project is mentioned in progress page, even though it is only available in version 2 of the course.
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/course/threads/5e5f307566f91608d000004f
Could it have anything to do with this bug?

[2020-03-14 20:53] deladan commented on #597
Another post saying that act.10 isn't shown as completed :
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2018/discussion/forum/e4ecbcdf415f7e838d73d0726e2ba90980d66ba0/threads/5e6cf53f11186e095eee297c

[2020-03-17 18:03] deladan commented on #263
Sorry to reopen this closed issue, but I don't think it is really fixed, as lecture still says that a variable's name should start with a letter, and as a variable beginning with an underscore is used in the quiz.
Shouldn't there be an erratum under the Codecast lecture? And what about keywords such for?

[2020-03-19 07:11] deladan opened #632 "some missing activity in course 7 V2"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/discussion/forum/fe24a8da1f0bdb6437bdeac210061fda01e160d9/threads/5e71e0a7c1d9cf08a38578e1

[2020-03-19 08:29] deladan commented on #617
Another online course is running into difficulty with Chrome.
Here's a link to the teacher's github related to this issue, maybe it could be helpful here?
https://github.com/parmentelat/nbhosting/issues/111;

[2020-03-19 12:09] petraBT commented on #632
Thank you, Isa! Indeed, this activity should not show up in the grading as it is no longer used in this course. My guess is that it failed to get deleted - @EllaHa  and @remisharrock : Should I drag this activity out of c-space and sync, or what is the best way to remove it (it's called 03_create and use makefile and is from V1).

[2020-03-19 15:26] petraBT commented on #632
Fixed.

[2020-03-19 15:26] #632 closed, assigned to remisharrock, EllaHa

[2020-04-29 00:36] Shayes1740 commented on #318
Issue resolved.

[2020-04-29 00:36] #318 closed, assigned to remisharrock

[2020-04-29 14:42] #629 closed, assigned to nobody

[2020-04-29 14:57] AadhyaKocha commented on #624
Just noticed this and I agree that it should be ar. But the answer scripts for V1 say arc which were converted to V2, is it alright if I change both the commands in V2 to be ar or is arc right?

[2020-04-29 14:59] AadhyaKocha commented on #627
This was an error we noticed while creating V2 but we cannot change in in taskgrader. It needs to be changed in the back end of taskgrader.

[2020-04-29 15:01] AadhyaKocha commented on #624
This is an issue in question 4 of the same quiz as well

[2020-04-29 15:13] AadhyaKocha commented on #619
It should be 45*3 so I have changed it

[2020-04-29 15:13] #619 closed, assigned to nobody

[2020-04-29 15:19] AadhyaKocha commented on #609
Since this is version 1 I can't see the error anymore on that forum so i'm not sure what the issue is. The title for Mooc5 whats next in V2 looks right to me.

[2020-04-29 15:27] AadhyaKocha commented on #631
Agreed. How can I add that as a note for the video?

[2020-04-30 11:26] remisharrock opened #633 "scrollbar : increase the height course 7 : Course Unit 7.2: Modularization Libraries and Makefiles Modularizing a program Activity : Linking"
in this activity (Course  Unit 7.2: Modularization Libraries and Makefiles  Modularizing a program  Activity : Linking) there is a scrollbar .
In the edx studio, we should edit the "Inline Height" (Enter the desired pixel height of the iframe which will contain the LTI tool. This setting is only used when Hide External Tool is set to False and LTI Launch Target is set to Inline.) so that is it the

[2020-04-30 12:16] remisharrock opened #634 "infinite loop when resizing codecast with the new experience edx GUI"
there is an infinite loop resizing codecast with the edx new experience.
I guess codecast is "calculating" somehow its size to get rid of the right scrollbar maybe ?
But with the new edx experiement, the height of the codecast seems to increase indefinitely as shown here :
![scrollCodecast](https://user-images.githubusercontent.com/8048877/80709156-202e2a00-8aed-11ea-94cc-1407926bac22.gif)

[2020-04-30 13:03] remisharrock opened #635 "taskgrader scrollbar and whitespace at the bottom of the problem statement ?"
Is there a minimum height for taskgrader ?
here is a test with https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@46b9037a599f45fcb899ada3957a9ce8
ACTIVITY: DIVIDE DECIMALS WITH ROUND-OFF
changing inline height with different values:
650
860
870
I can see the scrollbar appearing until I put 870 even if in the problem statement there is a lot of vertic

[2020-04-30 13:13] mblockelet commented on #634
A first look at it seems to suggest that the edX new experience JavaScript tries to resize the iframe to match the document being displayed, but that resizing causes codecast to resize as well to adjust to the new iframe size, and then it just loops between them.

I'll try to have a better look at it later.

[2020-04-30 13:18] remisharrock opened #636 "scrollbar: increase the height to disable scrollbars"
I can see the same problem as https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/633 but with many different taskgraders / quizzes
Before trying to find the best height for each, we should get rid of this issue first https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/635

[2020-04-30 16:35] AadhyaKocha commented on #624
Worked to change it in the answers without messing the view or grades

[2020-04-30 16:35] #624 closed, assigned to nobody

[2020-04-30 16:37] remisharrock opened #637 "markdown FAQ code for Wiki"
there is a bug here
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/wiki/DART.IMT.C.01/FAQ/_edit/
for the last question
What is a "Suspicious Scan Statement?"

[2020-04-30 16:39] remisharrock commented on #637
maybe the wiki cannot be edited because it was transferred from v1 to v2 ? To be checked by @EllaHa  and @mgoudz

[2020-04-30 16:47] AadhyaKocha opened #638 "arc command spelling check"
In Unit 7.2/creating a static library/modify your library (https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/03a438a2ddf7482495f66baf0f141d05/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%409db4ee568f87452a89504feeee45fa8e)
Question 1 should the option be "arc" or "ar" comma

[2020-04-30 17:01] #633 closed, assigned to remisharrock, AadhyaKocha, Eli-Boardman

[2020-05-01 11:51] mblockelet commented on #634
Hi,

I found the reason of the issue and a fix for now, that you can see on : https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@a6bbcb493e744d1bae6d87f054668753/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@9d42fab7f1494c9b967893fad5074ec0

Just a question : what is the timeframe about

[2020-05-07 06:30] AadhyaKocha commented on #630
I have edited the answer to accept `program' instead of 'program' but am not sure how to accept both answers.

[2020-05-07 06:35] AadhyaKocha commented on #628
Online it says it can be 50-1000 suns in reality so not sure what we want the values to be here.

[2020-05-07 15:57] remisharrock commented on #638
Should be ar instead of arc, @AadhyaKocha could you change it ? Thanks

[2020-05-07 16:09] remisharrock commented on #630
let me ask Michel on what is the best solution to change the quiz to accept multiple answers without breaking anything.
I will put an issue on the taskeditor/taskgrader repository and make a reference here to get an answer.
Technical info: the task is in the folder :
cspace/07 C Programming Using Linux Tools and Libraries/Unit 7.2 Modularization Libraries and Makefiles/02 Creating and using a Make

[2020-05-07 16:16] remisharrock opened #639 "final project of course 7"
someone says that

Final project score
discussion posted 8 days ago by flx35

Hello, I have the same problem. Final project score is not appearing in my progress. My score should be 100%. Regards,

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/bbe0b33365404267b4ca717daab5720b/166aadd2ed1e4a30a5e78c1c455bdc9d/2?activate_block_id=block-v1%3ADartmouth_IMTx%2

[2020-05-07 16:25] AadhyaKocha commented on #638
Done

[2020-05-07 16:25] #638 closed, assigned to remisharrock

[2020-05-07 17:18] rserranosmith opened #640 "Markdown in the Wiki"
There is an issue with the markdown in the wiki when typing code

[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/wiki/DART.IMT.C.01/FAQ/](url)

When the following code block is created in the FAQ:
[code]
and when the changes are saved, the page is reloaded and the following code present:

[code]

<img width="952" alt="Screen Shot 2020-05-07 at 11 09 19 AM" src="http

[2020-05-07 18:53] mblockelet commented on #630
Hello,

Changing which answers are valid don't break anything in production.

For this type of question, you should change the "Correct answer" to :
* Type : function
* Value of JS function : a function which accepts all the possible answers (returns true if the answer is valid, false otherwise), for instance :

[code]

or something better if you're comfortable with regexps for instance.

[2020-05-07 19:18] remisharrock commented on #630
Thank you @mblockelet !  @AadhyaKocha could you try that ?

[2020-05-07 19:20] remisharrock commented on #634
Thank you @mblockelet !  we will inform edx with @EllaHa

[2020-05-08 15:25] AadhyaKocha commented on #630
Thank you! It works.

[2020-05-08 15:25] #630 closed, assigned to remisharrock, AadhyaKocha

[2020-05-08 19:31] AadhyaKocha commented on #628
According to the answer that is allowed, it should definitely be 100 times so I am going changing it to read greater than 100

[2020-05-08 19:32] #628 closed, assigned to remisharrock

[2020-05-14 12:00] EllaHa commented on #625
This problem is solved for this user.

[2020-05-14 12:00] #625 closed, assigned to EllaHa

[2020-05-26 17:07] AadhyaKocha commented on #631
Added note above codecast video

[2020-05-26 17:07] #631 closed, assigned to remisharrock

[2020-06-04 16:40] remisharrock opened #641 "to investigate with france ioi"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/f915049c09f8c20c0da07a73954ad459c42d3243/threads/5ed7e1d83b7901084c0b2e2b

[2020-06-04 16:45] remisharrock opened #642 "to investigate with france ioi 2"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/discussion/forum/fbb2b06f8182cc77c5521b39cf1debb2c3bc6439/threads/5e74ce52cd56ad08e19e76e1

[2020-06-11 13:24] marcotuts commented on #634
Hello! I wanted to follow up here directly, I'm working on the new learner sequence experience at edX. We are planning to announce the release in 2-4 weeks, we are still wrapping up some additional features and monitoring performance currently.

It looks like this issue was resolved, or at least I'm seeing the experience load in the new location. I'm also no longer seeing the scrollbar issue that

[2020-06-15 11:50] remisharrock commented on #634
Dear @marcotuts thanks for going through this bug that has a big impact on our 7 MOOCs.  It look like we still have the same bug and the issue is not resolved. I don't understand what you mean by "I'm seing the experience load in the new location" ?
I still see the scrollbar issue in hundreds of units we have in our course, for example here https://learning.edx.org/course/course-v1:Dartmouth_IMTx+

[2020-06-17 09:45] remisharrock commented on #641
it looks like when there is an infinite loop the error message is not explicit for the learner "Error encountered during solution check. Contact Administrator" ; would we change that to something like "A timeout occured in your program, that might be because of a loop that never stops (infinite loop), check carefully your code and verify that any for loop or while loop in your code has a way to st

[2020-06-18 23:27] mhddaas commented on #269
#include <stdio.h>
int main() {

    int nbrConversion = 0;
    double amount = 0;
    double foot = 3.2808;  //meters conversion
    char unit;
    char ft[3] = "ft";
    char lbs[4] = "lbs";
    double pound = 0.002205; // pounds conversion

    int i = 0;

    scanf("%d", &nbrConversion);

    for (i = 0; i < nbrConversion; i++){
        scanf("%lf %c", &amount, &unit);

        if (unit == 'm'

[2020-07-02 16:54] rserranosmith opened #643 "Activity Formatting in MOOC 5.2 V2"
In [MOOC 5.2 > Create a structure to store the coordinates of a point > Activity: Array of Structures](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/8e24632b4bc34ba2a927367da7e0c22b/04aeec2986ef40598100f78876966d13/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2Bblock%4054b82bf946b946c3a50d638899c7d944) there i

[2020-07-08 06:14] rserranosmith opened #644 "Submission Error in MOOC 1.2 V2"
There is an issue with [Unit 1.2: Integers, variables and user input > Using variables > Activity: assign, re-assign, and update a variable](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/05c2e747f2bc429d979fd2c529f5b8a1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40a04

[2020-07-08 06:22] rserranosmith commented on #644
Seems to be occurring in every quiz activity in MOOC 1

[Activity: find special characters on the keyboard](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/066b0480b13046e396208ef51d5c790b/09151bec3f5c43f2b56e181e2ad87d03/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%4005f4696417864b149b69edc232963bbe)

[

[2020-07-09 05:50] AadhyaKocha commented on #643
Solved

[2020-07-09 05:50] #643 closed, assigned to AadhyaKocha

[2020-07-09 06:04] AadhyaKocha commented on #644
This error is showing in all these three quizzes no matter what the solution is. But this student's answer is right. I thought it could be because of user input but [Activity: declare and name variables](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_

[2020-07-09 06:06] AadhyaKocha commented on #626
This doesn't really matter but should I add a comment below the video? @EllaHa

[2020-07-09 20:11] mblockelet commented on #644
Hello, I fixed it, it was an issue with a SSL certificated which expired and the new version was not reloaded properly. All quizzes should work again now, sorry for the issue!

[2020-07-10 04:55] AadhyaKocha commented on #644
Seems to be working, thank you!

[2020-07-10 04:55] #644 closed, assigned to remisharrock, EllaHa, AadhyaKocha

[2020-07-10 16:23] mblockelet commented on #641
Hello,

It happens because your task is configured with `continueOnError = true` in the `taskSettings.json`. When `continueOnError` is `true`, the checker you wrote for this task is handling the display of such errors (it's the purpose of the option).

[code]

Note that without this option, we do display to the user that a timeout occured.

[2020-07-15 13:30] remisharrock commented on #641
Thank you for looking into this, @AadhyaKocha could you look into this ? @mblockelet is it possible to change this parameter in taskeditor without braking everything ?
Thank you !

[2020-07-15 19:29] marcotuts commented on #634
I missed the follow up on this, I'm posting what I see for the linked examples. I see the scrollbar issue momentarily but then the block eems to load as expected -

![image](https://user-images.githubusercontent.com/2023680/87587215-d1d20580-c6af-11ea-8ed7-62db84ff6858.png)

![image](https://user-images.githubusercontent.com/2023680/87587240-d8607d00-c6af-11ea-93a4-04ae522be306.png)

We will ensur

[2020-07-20 13:52] remisharrock commented on #634
Dear @marcotuts thank you for letting us know!
I just tried with these links (You screenshot appear to be the first one, correct ? )
 https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@a649e9b9b93646a78db13fc5007952ec/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@e8387802e1c44727a92a226

[2020-07-22 15:06] marcotuts commented on #634
@remisharrock  -

Yes my previous screenshot was from the first url.

I am not able to reproduce the issue using chrome 84.0.4147.89 on Mac OS. I will record what I see to be clear and link that below. I also tested these specific Edge and Firefox builds and saw the same behavior as in Chrome.

https://nimbusweb.me/s/share/4460106/25m9is5cif4kt0vmcoxp

My recommendation is to update the height fro

[2020-07-30 14:41] AadhyaKocha commented on #641
<img width="742" alt="Screenshot 2020-07-30 at 7 40 52 AM" src="https://user-images.githubusercontent.com/51734801/88936681-04473b00-d238-11ea-9be4-ae832a2e4bab.png">
Changing the parameter worked.

[2020-07-30 14:41] #641 closed, assigned to AadhyaKocha

[2020-08-05 17:39] marcotuts commented on #634
@EllaHa  - Making sure you have seen this. For unrelated reasons we have delayed our rollout of the new experience but plan to enable this soon. Let me know what the team thinks about the proposed html solution here to speed up loading of the block and keep the loading progress bar in a learner's view while codecast loads.

[2020-08-06 18:47] rserranosmith opened #645 "Big Thanks from Learners"
Learners are very appreciative of the course content and quality from MOOC 3!

https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/discussion/forum/50c00a6cb895c219e839e840ce94b9aca2abcee0/threads/5ef85388cd56ad091a9faccc

[2020-09-10 16:44] EllaHa commented on #634
Hi @marcotuts thanks for following up. We are on the process to change all the iframes. Do you have a sense of when the new experience will be released? thanks much for your help.

[2020-09-17 16:25] #626 closed, assigned to nobody

[2020-09-17 19:50] remisharrock commented on #634
Hi @marcotuts while trying to fix this issue with the new experience we encountered a new issue: here is a comparison of the old experience and the new experience for this unit "Course  Unit 4.1: Memory and pointers  Defining and dereferencing pointers  Dereference a pointer"
at this place in the course:
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/27b25

[2020-09-17 20:10] remisharrock commented on #634
Another problem I have @marcotuts is that I cannot use https://preview.edx.org/.. to preview the new experience , only the current experience ; so how can I make tests using preview server for the new experience ?

[2020-09-24 16:39] remisharrock commented on #634
I found a solution here but it needs confirmation from edx, especially regarding the width="105%" for the iframe, is it OK to do that (no conflict with the new experience) because 100% does NOT WORK ?
[code]

[2020-10-01 16:28] rserranosmith opened #646 "Issue with Safari web browser"
There is currently an issue with loading the activities in task grader on the safari web browser. When a learner attempts to load an activity using the safari web browser, the activity never loads. This problem does not exist for the Chrome or Firefox browsers, however I am unsure if this problem exists on Microsoft Edge.

![Screen Shot 2020-10-01 at 10 24 26 AM](https://user-images.githubusercont

[2020-10-03 18:00] rserranosmith opened #647 "CodeCast issue with the sizeof() operator?"
In [this discussion](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/discussion/forum/d6e3e877009368e376f4b224a56321a6297f2f1a/threads/5f75f2de26ea960a1ffdd422), a learner was experimenting with the `sizeof()` operator with the following code below:
[code]
The expected output is
[code]

However, in the CodeCast Sandbox, it outputs:

[code]

![Screen Shot 2020-10-03 at

[2020-10-04 12:00] mblockelet commented on #646
Hello,

This is again an issue specific to Safari blocking cookies in iframes (no other browser currently does that). I had put in fixes last time that issue was encountered, but it seems they changed their policies again, as it's again not working. I will see what I can do, in the meanwhile it's best learners use another browser.

I will keep you updated when I have a fix for that.

[2020-10-04 15:59] mblockelet commented on #646
Hello again,

I pushed a fix which bypasses cookies when they are being blocked for an integrated task. I tested with Safari 12, task solving, solution submission, and final score recording, but if the issue arises again, please tell me on which version of Safari, as it seems they change their cookies policies somewhat often, and without any detailed information publicly available.

[2020-10-08 16:41] remisharrock commented on #646
Thank you we tried we Safari 14 and it works ! We can consider this fixed, thank you !!

[2020-11-02 17:05] deladan commented on #468
Hello!
Another code which was accepted:
[code]

[2020-11-04 04:43] deladan opened #648 "Issue with wiki?"
Hello!

I can't access to wiki anymore.
I got the following message:

Course tells learners to look at "how to post code in the forum" tutorial which is in this wiki.
Does someone else have the same issue?
Shouldn't edX asked about it?

Thanks!

[2020-11-04 04:44] deladan opened #649 "Issue with wiki"
Hello!

I can't access to wiki anymore.
I got the following message:

Course tells learners to look at "how to post code in the forum" tutorial which is in this wiki.
Does someone else have the same issue?
Shouldn't edX asked about it?

Thanks!

[2020-11-05 17:00] #649 closed, assigned to nobody

[2020-11-06 16:23] deladan commented on #621
Hello!
After nine months, I observe issue is still there.
Is this space so difficult to remove from the expected answer in grader?

[2020-11-08 06:52] deladan opened #650 "Typo in activity: assign, re-assign, and update a variable (course 1 V2)"
Question 4 of [activity about assigning, re-assigning, and updating a variable](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/05c2e747f2bc429d979fd2c529f5b8a1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40a0453e1ed42a4c0f9860d38ffcb3b74f): shouldn't "terminate" take an

[2020-11-08 09:03] deladan opened #651 "Typo in codecast course1 V2"
In [codecast about reading integer input using scanf](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/a9e59ead57c846759aefb055a2a5c6f2/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40ef41c2d89d844ac4bf9383872d183165), there is a typo in some sentence in the program.
`print

[2020-11-12 17:08] EllaHa commented on #648
Thanks Isabelle, we all have the same issue. we have open an issue to edX! Thanks for noticing it.

[2020-11-13 17:38] deladan commented on #618
Another remark about this quiz.
In last question, if purpose was really to check that learner could spot the syntax errors which are due to missing semi-colon, I understand why so many found the question unclear, as both instructions are displayed on one single line in grader interface, rather than:
[code]
which seems to be what was expected.
![screen_copy](https://user-images.githubusercontent.co

[2020-11-13 23:12] AadhyaKocha commented on #650
Fixed!

[2020-11-13 23:12] #650 closed, assigned to AadhyaKocha

[2020-11-13 23:18] AadhyaKocha commented on #651
It's a pretty small error but would be hard to change I'm guessing. Should I just add an HTML block stating the spelling correction?

[2020-11-14 05:01] deladan opened #652 "Taskgrader issue with function declaration versus definition activity in course 7"
For [this activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/f838e66a12864002be52ceaf73f2842f/40bb9e617e054eada1ceb844aced1a5d/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40520d91b69ac2429b9d3b2d3541b63ecf), grader rejects code which adds a space between the name of the function and the opening p

[2020-11-15 06:04] deladan opened #653 "Taskgrader is upset because of instructions on two lines (course 5)"
Some learner wrote:
[code]
for activity about [manipulating structures with functions](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2Bblock%40c7240c419b074fc09c8f2c1d6c8db69a).

Grader was unable to

[2020-11-17 20:06] deladan opened #654 "bubble sort - course 2"
Several learners have suggested bubble sort code, which is introduced in [unit 2.3](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/f2a41407085b4e8c8a5604123388ef33/b32dae4bf4454a179f4cece1403ab0e2/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40discussion%2Bblock%4079f7708322cc448ab739c65c846aab34), could be improved this wa

[2020-11-18 04:24] deladan opened #655 "Some improvement of Taskgrader's interface?"
When one comes back to some activity, even if one has already successfully completed it, one gets the message:
"You haven't submitted any answer yet."
Which is quite confusing, particularly now that scores don't appear directly on the activity, or in the Progress chart.
Several learners ask about this in the forum.

Isn't it possible to remove this message?

[2020-11-25 15:51] deladan commented on #627
Same thing for [activity about arrays and memory in course 4](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/b0efc6858fa44aeeb0b482018e0abf01/622f95d2f08e4f0db6fb9770a31464d0/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40discussion%2Bblock%4070129ecc884b4d05803a44f8d7b1a064).

[2020-11-29 16:24] deladan opened #656 "Incorrect code accepted in activity about printing a linked list of student data (course 5)"
In [this activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/ec78e06b33f444cb8265d8c58227da98/ec93d3937a4c4d5499eca2e2785b32c5/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2Bblock%40ad45db5c1798483a8d71c996fdb3a17a), following course is accepted by the grader while it might cause a segmentation fault, due

[2020-11-29 16:53] deladan opened #657 "Issue with quizzes feedback"
Some learner complains about the quiz which doesn't give enough information about what is false in submitted answer.
Actually, only colored feedback is given for answers which has been selected. For the ones the learner didn't choose, one doesn't know if that was a good choice or not.
For instance, for the first question of quiz about declaring and naming variables, one can obtain:
![image](https:

[2020-11-30 04:49] deladan opened #658 "Issue with Weblinux on Firefox"
I just want to report an issue I run into with Weblinux (Ubuntu, Firefox).
Weblinux boots without any issue, but I can't write into it.
I've tried clearing the cache, and I don't use any ad-blockers.

Issue doesn't show with Chrome.

[2020-12-03 17:21] remisharrock commented on #652
linked to https://github.com/France-ioi/taskgrader/issues/86

[2020-12-03 17:47] remisharrock commented on #656
i is not initialized with 0 , that is why there is an error

[2020-12-03 17:49] remisharrock commented on #656
but indeed that should be incorrect

[2020-12-03 17:50] remisharrock commented on #656
and the taskgrader gives a warning message

[2020-12-03 17:58] AadhyaKocha commented on #621
Works now, thank you @deladan!

[2020-12-03 17:58] #621 closed, assigned to remisharrock

[2020-12-03 18:01] remisharrock commented on #657
@AadhyaKocha can you check if we can add feedback for quizzes on task-editor ?
thank you !

[2020-12-03 20:22] deladan commented on #656
I've explained that to the learner who asks about it, but grader shouldn't accept this code.

[2020-12-04 05:09] deladan opened #659 "Some feedback about Course 5 (not an issue)"
Here's the feedback from some learner about course 5.

[2020-12-04 10:18] deladan opened #660 "Something missing in course 2"
I think it's already been reported, but in unit 2.1,  but it would be great if some example of use of embedded if/else statements were added to codecast lectures.
Several learners were lost when having to deal with several if/else instructions in exercises such as the one about hostel cost.

[2020-12-06 00:50] mblockelet commented on #653
Hello, this is not an issue with taskgrader, but with your checker for this task, which gets stuck on [line 366](https://github.com/remisharrock/cspace/blob/639289dc9b3b9f474de12e52904eebf10bffb367/05%20C%20Programming%20Advanced%20Data%20Types/Unit%205.1%20Structures/04%20Work%20with%20structures/manipulate%20structures%20with%20functions/tests/gen/checker.py#L366) (or at least, spends a lot on t

[2020-12-06 00:53] mblockelet commented on #655
Hello, I changed the message to "Results of your next submission will appear here." which is more neutral.

[2020-12-06 05:12] deladan opened #661 "Issue with quiz about compilation in course 6"
It seems that quiz interface won't let instructions to be displayed on several lines.
For last question of [quiz about compilation](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/courseware/632a112f8d4e46c88cf195f34e486a4f/5a68ec5063644f41986eb24655613ab1/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B1T2020%2Btype%40discussion%2Bblock%4055c7da0e5e92

[2020-12-09 15:58] deladan opened #662 "Arrays with variable size"
In the three first courses of the series, a lot of learners published programs where they have defined an array with a variable size, such as:
[code]
Actually, I think this hasn't been explicitly forbidden in lectures, and grader doesn't make any issue with that. Therefore, learners won't know they are doing illicit thing.
Shouldn't some warning be added to course 2, when arrays are introduced?

[2020-12-09 21:03] AadhyaKocha commented on #651
Added a note for this error.

[2020-12-09 21:03] #651 closed, assigned to AadhyaKocha

[2020-12-09 21:44] AadhyaKocha commented on #654
Correct statement. Made note of this and other optimizations in this [codecast](https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@cd0cb69fba5d45c2b4dee7631b8ec226).

[2020-12-09 21:44] #654 closed, assigned to nobody

[2020-12-09 21:53] AadhyaKocha commented on #657
I can't find any place on [taskgrader](https://task-editor.france-ioi.org/#edit/cspace%2F01%20C%20Programming%20Getting%20Started%2FUnit%201.2%20Integers%20variables%20and%20user%20input%2F04%20Declaring%20and%20naming%20variables%2F04_declare%20and%20name%20variables) to edit how many answers for the selected options is right and as I just saw on the other issue it is possible to do only on the n

[2020-12-09 21:59] AadhyaKocha commented on #655
Sounds good!

[2020-12-09 21:59] #655 closed, assigned to nobody

[2020-12-09 22:08] AadhyaKocha commented on #661
Should I add a note for the same or are we assuming the learner still understands this commands nonetheless?

[2020-12-10 04:16] deladan commented on #655
Indeed, but initial message "You haven't submitted any answer yet" is still present when I come back to a solved activity.

[2020-12-10 17:31] EllaHa commented on #660
Thanks Isabelle for this report. @AadhyaKocha Can you please Modify the statement to add the following:
Please use the logical and and the logical or introduced in the previous section.

For this activity
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/a86febae1149479d971ae6edbd850c51/fc9008c149444ca0a623cc332fc01e06/?child=first

[2020-12-10 17:37] EllaHa opened #663 "Create a new codecast for V3"
related to this issue https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/660

[2020-12-10 17:40] deladan commented on #660
Hello @EllaHa ,
Issue is that even solution doesn't use these logical operators but several if/else statements.

[2020-12-11 07:55] remisharrock commented on #658
Tried it with Ubuntu 20.04 LTS and firefox 83.0 (64 bits) and could not reproduce the problem.
What versions are you using exactly ?

[2020-12-11 08:04] remisharrock commented on #660
@deladan that is right for https://github.com/remisharrock/cspace/blob/master/02%20C%20Programming%20Language%20Foundations/Unit%202.1%20Logic%20conditions%20and%20if-else%20statements/03%20Combining%20logic%20conditions%20using%20the%20logical%20AND%20and%20OR/03_thostelAge.c    but we were working on  https://github.com/remisharrock/cspace/blob/master/02%20C%20Programming%20Language%20Foundation

[2020-12-12 12:07] deladan commented on #658
Hello Remi,

I'm using Ubuntu 18.04 TLS and firefox 83.0 (64 bits).
Issue must be local, I'll try to find out.

[2020-12-13 16:02] mblockelet commented on #627
Hello, I fixed the issue with empty hints. I normally removed all existing empty hints, but if there's the issue with another task, you just need to reimport the task and it should be fine.

[2020-12-13 16:08] mblockelet commented on #661
I removed the CSS style which was preventing newlines. However, it can cause issues on other quizzes if the task writer had left extra newlines, but looking at various quizzes none seem to have the issue.

[2020-12-13 17:20] mblockelet commented on #656
Hello, I transformed the warning about uninitialized variables into an error. However, please note that on that specific task referenced here, the option continueOnError is set to true for the solution compilation parameters, which means that it will still execute the checker and display :

![image](https://user-images.githubusercontent.com/11016337/102018801-6fb52380-3d67-11eb-8eee-fc0902e7763c.p

[2020-12-14 13:38] remisharrock commented on #656
ha that's interesting ! How can we display a custom message if we set continueOnError to false AND the error is an uninitializezd variable ?

[2020-12-14 13:39] remisharrock commented on #661
thank you @mblockelet we will check if other quizzes are OK now !

[2020-12-14 13:40] remisharrock commented on #627
all right, @AadhyaKocha can you check if you can modify hints now in task editor ?
thank you @mblockelet !

[2020-12-14 13:42] remisharrock commented on #658
can you try going to https://s-macke.github.io/jor1k/demos/compile.html  and see if you can write some text in the terminal on the left and code on the right ? thanks !

[2020-12-14 20:15] deladan commented on #658
Hello Remi,

I can't write in the terminal.
More specifically, I'm able to write some characters (e for instance) but other behave like browser shortcuts.
For instance, typing an a makes me go to previous tab in the browser, typing a b creates a new tab...

[2020-12-15 00:27] remisharrock commented on #658
Hi Isabelle, can you try something else then:
create a clean empty new profile on firefox and launch firefox with this new profile and test again. You can go to your old profile afterwards. To do that here are the steps:
https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Multiple_profiles
specifically:

TO CREATE A NEW PROFILE:

Creating a profile through the Firefox browser
You can create a

[2020-12-15 14:05] deladan commented on #639
Hello,

Issue is still there (course 6).
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/discussion/forum/33aadf0062420f015076ca4b32d2df0b07bd5a09/threads/5fd8b375cfe4fd07c924f615

[2020-12-15 20:08] deladan opened #664 "typo in final project of course 3"
First sentence of problem statement of [final project in course 3](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/courseware/d03b7f5981d34306857cff648e075303/7d05eaf656bb4a87b6b79566a0ab581d/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2020%2Btype%40discussion%2Bblock%4008756e12d06e4b6eb5f5d4e75e879119):

Shouldn't it be whether?

[2020-12-16 05:27] deladan commented on #661
Hello,

Issue is still there with the last question of the [quiz about declaring and naming variables](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40cbacb57afab143ec93b53e6c5a1a8551).
As I'v

[2020-12-16 12:27] deladan opened #665 "Given solutions in course 5"
The code of divisibleByThree function, we are asked to write [in this activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/ec78e06b33f444cb8265d8c58227da98/841b3778f74e4fce9ac762bac038a3aa/?child=last), is given in provided code of next activities.
I don't know whether it is deliberate.

[2020-12-17 14:42] AadhyaKocha commented on #664
corrected

[2020-12-17 14:42] #664 closed, assigned to nobody

[2020-12-17 17:01] deladan opened #666 "Enhancement of course 1 about naming variable"
I've already reported this, but in [quiz about declaring and naming a variable](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40cbacb57afab143ec93b53e6c5a1a8551), first question is a trap, as

[2020-12-17 17:17] remisharrock commented on #665
here is the link https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/ec78e06b33f444cb8265d8c58227da98/841b3778f74e4fce9ac762bac038a3aa/?child=last

[2020-12-17 17:21] deladan commented on #665
My bad. I've rectified my first post.

[2020-12-17 17:23] AadhyaKocha commented on #665
It sadly has to be this way as there is no easy way to not give them the answers because of how the correction regex works. We can look into it in another version of the MOOCs.

[2020-12-17 17:38] remisharrock commented on #666
thank you, I'll ask michel for the second question !

[2020-12-17 17:41] remisharrock commented on #666
https://github.com/France-ioi/taskgrader/issues/93

[2020-12-17 17:44] deladan commented on #665
But does this function really have to be in the code of following exercises?

[2020-12-18 06:16] deladan opened #667 "weblinux enhancement?"
The French Reunion university designed their own weblinux they used for a MOOC about Bash.
In this weblinux, there is a clipboard letting one pastes commands into the terminal.
Currently, it isn't possible to paste anything to your Weblinux, if I'm not mistaken.
That would be a nice feature though.

[2020-12-18 06:30] deladan commented on #658
Hello Rémi,

Sorry for the late answer.
I tried it and I could write into weblinux with a new profile.
I'll try to find what is causing the issue in my Firefox profile.

[2020-12-18 06:33] deladan commented on #658
I found it.
There was a module (sakakey) which was running for some unknown reason.
Deactivating it solved the issue. I'm very sorry for the irrelevant thread.

[2020-12-18 13:18] remisharrock commented on #667
indeed http://weblinux.univ-reunion.fr/  uses the same backend https://s-macke.github.io/jor1k/  but I disabled the "paste box" . Maybe I could add again this paste box somewhere.
Another enhancement for weblinux would be to emulate an x86 processor instead of a RISC-V 1000 processor, like the one proposed by Fabrice Bellard https://bellard.org/jslinux/index.html  or https://github.com/copy/v86  b

[2020-12-18 13:18] remisharrock commented on #658
it's always good to know the cause of such issue because I'm pretty sure other students may have the same problem. Thank you !

[2020-12-18 13:20] remisharrock commented on #665
we thought it would be too difficult if the students are starting from a wrong code then all the following exercices would be wrong so we prefer to give the correct solution.

[2020-12-18 13:31] deladan commented on #665
I understand, but I don't think checking whether a number is divisible by 3 is mandatory for the following exercises, hence even if this function isn't correct, it shouldn't prevent them to write the other ones.

[2020-12-18 17:05] #658 closed, assigned to nobody

[2020-12-20 00:24] mblockelet commented on #656
For the task in which you'd like to do that, in task-editor, key taskSettings.defaultChecker.runExecution.addFiles, you should already have the solution there, add the compilation stdout/stderr as well :

    "addFiles": [
        	{"name": "solution",
        	"path": "@solutionPath",
        	"content": "@solutionContent"
        	},
        	{"name": "compilationStdout",
        	"path": "$BUIL

[2020-12-21 07:35] deladan opened #668 "Number of tests (enhancement)"
I think Taskgrader should make more tests for the most part of problems.
For instance, in final project in course 1, there is only one test. What if the learner cheats and directly prints what is expected?

[2020-12-21 07:47] deladan commented on #660
Hello Rémi,

I'm sorry, but I don't understand.
The activity about [costly hotel rooms](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/a86febae1149479d971ae6edbd850c51/fc9008c149444ca0a623cc332fc01e06/?child=last), which is in the section about or and and logical operators, doesn't require those operators.
Indeed, there should be an example about embedded

[2020-12-27 05:06] AadhyaKocha commented on #662
Note added in [using arrays of integers](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/c994b80204d747b6aa16ad991f4b1904/7f90c0855f624fbfa70cedcdc1ba212e/1?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40vertical%2Bblock%40d2b11ca71f55477aa1dc0e2707e5f94d)

[2020-12-27 05:06] #662 closed, assigned to nobody

[2020-12-27 05:10] deladan commented on #662
Hello AadhyaKocha,

That's a good thing, but I suggest you don't tell about malloc there, and only say that dynamically reserve memory will be introduced in some next course.
In all exercises where arrays are mandatory, solution is to give them a fixed size which would be big enough, according to problem statement.
I think you'd rather guide learners to this solution.

[2020-12-29 03:29] rserranosmith commented on #639
The issue seems to resolve itself after a few days, but learners are still finding it very distressing. Is this an issue with EdX or on our side?

[2020-12-29 05:12] deladan commented on #639
Hello Ricardo,

There actually seems to be two issues.
For some learners, the score of final project of a given course doesn't appear in progress tab of the same course.
That's the one which seems to resolve itself after a few days, according to your answer to mnr101 in course 6.
But antonina_n reported [another issue in course 2](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C

[2020-12-29 06:01] AadhyaKocha commented on #662
Changed the wording according to this direction.

[2020-12-29 20:41] deladan opened #669 "There are no tests for this task"
Hello,

For a few days, it happens that Taskgrader doesn't want to grade the program, with the message: "There are no tests for this task".
If one tries submitting their code several times, it finally achieves to evaluate it.
I have run several times into this issue, and several learners too, in different courses.

[2021-01-03 06:18] deladan opened #670 "Initialization of an array of structures (course 5) - codecast limitation"
Some learner tried to initialize an array of structures in Codecast, which didn't accept it.
He suggests an initialization example should be added to the lecture.
See [his message](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/discussion/forum/213908531539f5d9909e37276bf75325be3437e2/threads/5ff048689c2aee09b8dd9a6a).

[2021-01-05 07:17] AadhyaKocha commented on #666
Questions 1 solved by pasting the words in this [link](https://www.ibm.com/support/knowledgecenter/SSCH39_1.0.0/com.ibm.debug.ug.doc/ugdita/rcppres.html). Questions 2 is shown to be solved by Michel in [France-ioi/taskgrader#93](France-ioi/taskgrader#93)

[2021-01-05 07:17] #666 closed, assigned to nobody

[2021-01-05 07:18] AadhyaKocha commented on #661
Is this the same as [France-ioi/taskgrader#93](France-ioi/taskgrader#93) which Michel says is solved? If not can you please elaborate on the issue for me?

[2021-01-05 08:03] deladan commented on #661
Hello AadhyaKocha,

Link comes to a page not found error message.
Actually, issue came from the fact that we couldn't write several lines in some quiz question.
Therefore, question didn't make real sense.
Code appears on several lines now.

However, I really think that question should be modified (adding the semi-colons so code were correctly written), and that expected answer should be that there

[2021-01-05 20:38] deladan opened #671 "A typo in course 7"
Some learner reported a typo in the last sentence of problem statement about [using the math library](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/f838e66a12864002be52ceaf73f2842f/20c36bf48d224858a37200c5de92cf3f/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%4040dba905e0bd4d18b6af25c711ae4196):
Your pr

[2021-01-06 08:08] AadhyaKocha commented on #671
corrected.

[2021-01-06 08:08] #671 closed, assigned to nobody

[2021-01-06 17:59] mblockelet commented on #661
Hello,

When I look at the last question of the quiz, it is written on multiple lines as asked (that was the fix I did a month ago, and that AadhyaKocha is referring to). Here's a screenshot of how it looks for me :

![image](https://user-images.githubusercontent.com/11016337/103803694-cea94800-5048-11eb-9351-be5198e0a69a.png)

If you see the question on one line, could you send me a screenshot, a

[2021-01-06 18:13] deladan commented on #661
Hello mblockelet,

When I wrote this comment, instructions still appeared on one line.
Now, it is indeed fixed.
Sorry if I wasn't very clear about it.

I still think question should be modified to make more sense with section's contents though.

[2021-01-07 17:09] EllaHa commented on #669
report done to France ioi thanks Isabelle!

[2021-01-07 21:25] AadhyaKocha commented on #661
Great! I will follow up with @remisharrock later on whether we should change the question with the semicolons and then answer changed accordingly. But good to know that the line change is indeed fixed.

[2021-01-09 18:55] deladan opened #672 "final project course 2"
For the [final project of course 2](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/7ec2c7ecef5d4d2aa242ae5d7b6cb956/a74c14db6c3140e2883642ea60d13a64/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40discussion%2Bblock%40dcdecf38c8364c069cedceb5211dfc7c),
Shouldn't the maximum number of students, and the maximal length of their

[2021-01-10 05:56] deladan commented on #660
Another [post](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/11dde5d350ab3ff7a9e35ce851a7a5de72b7fd12/threads/5ffa94809c2aee097ddda1c6) about this confusion.
I really think some note is added to problem statement to warn the learner the activity isn't about the use of logical operators.
Even activity's name is confusing: complex logic conditions to

[2021-01-10 10:08] deladan opened #673 "No feedback for 3rd test (course 2)"
Reported by a learner, who said having run into this issue in several activities, where there are three tests.
In [activity about naming the tree](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/a86febae1149479d971ae6edbd850c51/536186d847234e318b5de5d39b18b1b4/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40discussion%2Bblock

[2021-01-12 05:38] deladan opened #674 "Not enough tests (course 3)"
[Activity about finding the minimal value in an array](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/courseware/9afb1233a3d74a62acc1625236e57a96/07d4663586b74bd6abd7b94bf3326474/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2020%2Btype%40discussion%2Bblock%409e7dd39b807b452b8570729368aea7fd).
Following program is accepted by the grader:
[code]
Is

[2021-01-12 10:13] deladan opened #675 "Is course 4 final problem really relevant?"
This code does the job (and could have been written after course 2):
[code]
Shouldn't you think of an example where dynamic allocation is really required?

[2021-01-12 18:16] deladan commented on #661
[Another post from a learner](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/517e9b8f3b9731adf777bfbf13276713572ea886/threads/5ffdb726cfe4fd0811250f2c) who are confused about the question.

[2021-01-20 05:10] deladan commented on #675
By the way, provided solution doesn't free the memory it reserves via malloc calls.
I guess it should be fixed, especially since what is to be freed is an array.
Some learners ask whether they have to free each row one by one, then the array.
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/discussion/forum/1b03e9f9079f18633641bfdab397d6f4b1d2233d/threads/5ec696f5cd56

[2021-01-21 16:58] EllaHa commented on #669
This issue was solved.

[2021-01-21 16:58] #669 closed, assigned to nobody

[2021-01-24 04:39] deladan opened #676 "Taskgrader and Chrome"
Some learner reported that he couldn't paste anything in Taskgrader using Chrome.
No problem with Firefox.
Link to the thread: [https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/2188525201443c6cd854b9a5bbc38aece36ffda9/threads/5ff5950ccfe4fd07d525068a](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/2188525

[2021-01-26 16:43] rserranosmith commented on #676
I wasn't able to reproduce the issue, so perhaps it is a problem with an older version of chrome? I followed up with the learner to find out which version they are using

[2021-01-28 05:01] deladan opened #677 "Some suggestions from a learner"
Some learner made the remark there is no learning checklists in course 2, while there were present in course 1 and course 3, and found them useful.
Something to add?

He also made another remark I copy there:

Actually, that does apply only to final project in course 1.
Maybe some comment might be added to problem statement then?

[2021-01-28 16:35] AadhyaKocha commented on #672
Added statement: "Note that no name has more than 50 characters and there are no more than 30 students."

[2021-01-28 16:35] #672 closed, assigned to AadhyaKocha

[2021-01-28 17:01] AadhyaKocha commented on #675
Edited the question writeup to say "you must use the two following functions without changing the code in them" to ensure the use of those given functions. Also added a note to remember to free memory allocated.

[2021-01-28 19:37] deladan commented on #675
Hello @AadhyaKocha ,
Learners might not understand why they must use those two functions, as a simpler program can be written without them.
I really think another exercise, where allocating memory is really required, should be looked for.

[2021-01-30 18:42] deladan opened #678 "Issue in modify your library video (course 7)"
From some learner in the forum:

Link to the lecture: [https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/03a438a2ddf7482495f66baf0f141d05/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40f5e86b8600f34b5e90cd0a17d5478fb2](https://courses.edx.org/courses/course-v1:Dartmouth_IMT

[2021-02-01 10:19] mblockelet commented on #673
Copying here my comment on the above bugreport, for visibility :

[2021-02-03 04:36] deladan opened #679 "Issue with quiz in course 1, sometimes giving incorrect feedback"
[Quiz about declaring and naming variables](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40cbacb57afab143ec93b53e6c5a1a8551)

[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IM

[2021-02-03 04:51] deladan opened #680 "No reported score for final project courses 2 and 5"
Some learner reported an issue with the final project score, which doesn't show in her edX progress, for both courses 2 and 5.
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/discussion/forum/2b73715ce897e1a83a6571f42775f975a489fa3a/threads/6019dafcf012b7084364acb0](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/discussion/forum/2b73715

[2021-02-03 08:59] deladan commented on #680
Another learner, for the final project of course 1:
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/course/threads/601a6480cfe4fd07de252749](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/course/threads/601a6480cfe4fd07de252749)

[2021-02-04 20:39] deladan commented on #680
Hello @EllaHa ,
I've read your answer but I have understood final project score was automatically added to edX progress, unlike other exercises.
For instance, in course 6, I haven't reported my scores to edX yet, however, final score is showing:
![Capture d’écran de 2021-02-04 21-37-04](https://user-images.githubusercontent.com/34571147/106952413-62962e80-6731-11eb-99b7-cc5df8b96ff5.png)

[2021-02-06 05:46] deladan commented on #559
There still is something wrong with the grader for this exercise.
Indeed, it accepts a program which returns the rank of the highest average, while it should return the rank of the first class with a higher average than ours.
For instance, if file contains 95.23 94.80 91.56 96.40 93.25, then expected answer is N° 4.
But grader accepts a program which displays N°6.

For instance, some learner's pro

[2021-02-11 16:17] AadhyaKocha commented on #675
@deladan That is for sure valid. This is only a temporary improvement so I am not closing the issue. We can look into this for the next version of the course.

[2021-02-11 16:28] AadhyaKocha commented on #679
Haven't been able to reproduce it either. The answer is also right on Task grader and only correctly specified as option 'd'.

[2021-02-11 17:05] AadhyaKocha commented on #661
Made the change now.

[2021-02-11 17:05] #661 closed, assigned to nobody

[2021-02-11 17:08] #679 closed, assigned to nobody

[2021-02-11 17:12] AadhyaKocha commented on #657
Michel helped answer this: https://github.com/France-ioi/taskgrader/issues/90
This can be tackled by changing the question in the newer version. Temporarily let's leave the questions and let the student learn even if via trial and error.

[2021-02-12 05:49] deladan opened #681 "Suggestion of enhancement of problem statements"
No big deal, but a lot of learners were confused in course 1 because they first thought their program should deal with all examples in one execution.
I wonder whether problem statement might be clearer about that.
Rather than spelling Examples (I agree that plural should be enough to understand that there are several examples, but as I've said, there is a great number of messages in the forum abou

[2021-02-15 16:00] EllaHa commented on #680
Hi Isabelle,

thanks for raising this issue. The grading problem with Antonia has been solved for the second learner, there is still a problem left, we are working on it. Thanks for reporting it;

Best,

[2021-02-17 05:10] deladan opened #682 "Not enough tests (course 1)"
[Activity about dividing decimals with round-off](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccb75017dce84804a4477600cf09014d/4c4f062124eb47f99ab23cf7228a1109/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40f5b37f8ce0924aa19f3141b6a7323444)
following code is accepted while it isn't correct
[code]

[2021-02-17 05:15] deladan commented on #660
Some learner suggests some hint were added to the exercise, saying that nested if/else statements are possible.
Maybe this could be added without a lot of work, until some example is given in the course's lectures.

[2021-02-18 16:45] AadhyaKocha commented on #681
I'm confused. Can you please provide an example of a quiz that uses this wording?

[2021-02-18 17:07] remisharrock commented on #682
I suggest we use generated tests for this one (and also other that can be hard coded). michel can you help us activate this ?

[2021-02-18 17:50] deladan commented on #681
Hello AadhyaKocha,

It isn't about quizzes, but about coding problems
For instance, for the [problem about printing the multiplication table of an input number](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/a9e59ead57c846759aefb055a2a5c6f2/?child=first), in course 1, several learners wrote a code which prints the multiplic

[2021-02-22 06:02] deladan commented on #467
Another learner reported same thing.
Couldn't some remark added below the video?

[2021-02-22 23:34] mblockelet commented on #682
Hello,

We don't recommend using randomized tests, and I'll explain why.

You can see how to write a generator script there : http://france-ioi.github.io/taskgrader/examples/#generator-example-adding-a-generator-taskgenerator

And add it through task-editor in the same way as you'd add a checker.

It might however not do what you're expecting : generation normally only happens once per evaluation

[2021-02-23 02:51] deladan commented on #682
Hello,

Rather than generating randomized tests, couldn't more tests be added?
Some programs are only tested twice, or three times.

[2021-02-28 14:11] deladan opened #683 "Naming a variable: do's and don'ts"
In[ this lecture](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccf660cc6a1141e0a9bebfc515ce320a/486dacf4bd094519afe1c91af2e17fee/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40cbacb57afab143ec93b53e6c5a1a8551), it is said that a variable's name has to start with a letter.
It isn't true as it may begin

[2021-03-02 17:21] deladan opened #684 "About ANSI C (course 1)"
Some learner asks in the forum:
Why are you teaching an obsolete version of C from 1989 instead of a more modern (the newest is from 2018) version? And why do you not specify in the course overview that you teach this very old version?

Maybe this could be indeed added to the course overview?

Link to the thread in the forum: [https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+

[2021-03-02 20:43] deladan commented on #680
Hello,
Same learner is experiencing the same issue with course 6's final project.
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/discussion/forum/3837e3c1a396a2321f43344347c07d6571148c38/threads/603e1b42192fdb0484f7f952](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/discussion/forum/3837e3c1a396a2321f43344347c07d6571148c38/threads/603

[2021-03-04 16:04] AadhyaKocha commented on #681
That was helpful, thank you. I have added more specification for the example numbers and transparency on how we test their code with different inputs.

[2021-03-04 16:04] #681 closed, assigned to nobody

[2021-03-11 17:10] deladan commented on #680
Hello,

There is another learner who experiences same issue with final project's grade which doesn't show, in course 1.
Link to the thread: [https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/57ead07b1a3cb8a62455f43cb57836e1c355e7d0/threads/604a0e16e136290477b1583c](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/

[2021-03-12 06:12] deladan opened #685 "Not enough tests (course 1)"
In [activity about division](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/courseware/ccb75017dce84804a4477600cf09014d/4c4f062124eb47f99ab23cf7228a1109/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.01%2B1T2020%2Btype%40discussion%2Bblock%40715e665a06734408ae26af019de29230), following program has been accepted while it doesn't even give correct result fo

[2021-03-14 06:27] deladan opened #686 "missing header in provided code in course 7"
In [modifying your library lecture](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/99f41a3930e044be961acaeace469305/03a438a2ddf7482495f66baf0f141d05/6?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40f5e86b8600f34b5e90cd0a17d5478fb2), we're provided with the code used by Petra.
But weatherio.c code is missi

[2021-03-14 07:32] deladan commented on #686
There is another issue with the linking code which is provided.
Shouldn't be program.c instead of program.o?
`gcc -std=c11 -Wall -fmax-errors=10 -Wextra -o program program.c -L. -lweather`
instead of
`gcc -std=c11 -Wall -fmax-errors=10 -Wextra -o program program.o -L. -lweather`
?

[2021-03-19 04:36] deladan commented on #686
And in provided version of program.c, header is "weatherstats.h", while Petra changes it to "weather.h" during the video.

[2021-03-22 18:40] deladan opened #687 "Solution for final project course 7 not accepted by the grader"
The provided solution for this final problem isn't accepted by Taskgrader, because it doesn't find provided code where it expects to.
It looks like it's because the initial comments, // Do not modify the main() function! and // Do not modify the printStars() function! were removed.

[2021-03-25 16:05] rserranosmith commented on #687
To solve this, we could paste the supplied code that the learner is not supposed to modify, at the end of the problem statement in a code block so that if they accidentally modify the code, they have a method to revert back to the initial code

[2021-03-25 16:21] EllaHa commented on #680
Thanks Isabelle for reaching out, the problem is now solved.
Best,

[2021-03-25 16:21] #680 closed, assigned to nobody

[2021-03-25 16:40] deladan commented on #687
And what about modifying the provided solution, so that it is accepted by the grader?
Solution is to add the two comments.

[2021-04-01 14:19] AadhyaKocha commented on #684
Made this note for the first two loop quizzes:
"Remember to declare the variable used in the loop outside the loop in this quiz. So if using variable i, declare that it is an integer before starting the loop. This is only so that the grader grades you correctly for this quiz. As you move on with the quizzes in this course you will be able to compress the code by declaring int within the loop itsel

[2021-04-01 14:19] #684 closed, assigned to nobody

[2021-04-01 14:43] AadhyaKocha commented on #687
I have added the code as Ricardo mentioned to the question. @remisharrock should we ask Michele to look into the grading to automatically add the comments? Or should I also just make note to not delete comments either?

[2021-04-02 02:42] deladan opened #688 "wrong subtitles (course 4)"
The [welcome video of course 4](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/cb1004a450cf47c1a9f1992ab3772d8f/bed2976f59604bc1ae11e7aff468021d/?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40sequential%2Bblock%40bed2976f59604bc1ae11e7aff468021d) doesn't display correct subtitles.
If needed, I've got a file with the subtitle

[2021-04-05 04:56] deladan commented on #680
Hello @EllaHa ,

Another learner is running into the same issue in course 4:
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/discussion/forum/1b03e9f9079f18633641bfdab397d6f4b1d2233d/threads/606a3bbde136290450b1a11a](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/discussion/forum/1b03e9f9079f18633641bfdab397d6f4b1d2233d/threads/606a3bbd

[2021-04-12 04:09] deladan opened #689 "Provided code isn't automatically displayed in Solve interface (course 5)"
Some learner is surprised that provided code isn't automatically shown in the Taskgrader's Solve interface for [Pass structures to functions  activity](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/58099ea386614233830b63363dc6db01/dfff0652a62041ff8c80eacd1759d59c/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2B

[2021-04-13 06:46] deladan opened #690 "Not enough tests (course 2)"
In activity about[ finding repeated letters in a word](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/courseware/f2a41407085b4e8c8a5604123388ef33/b32dae4bf4454a179f4cece1403ab0e2/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.02%2B1T2020%2Btype%40discussion%2Bblock%4079f7708322cc448ab739c65c846aab34), Taskgrader accepts following program which doesn't do

[2021-04-14 06:37] deladan opened #691 "find -iname option doesn't work in Weblinux"
Hello,

Some learner found that -iname option of find command doesn't work in Weblinux as it should, as find is still case-sensitive.

[2021-04-15 15:58] remisharrock commented on #690
add one test case where the repeating letters are not consecutive: for example  banana has 3 'a' and 2 'n' so the answer should be '2' I guess ?
add another test case with a word with not repeating letters: for example peach

[2021-04-19 05:06] deladan opened #692 "Not enough tests, and enhancing of problem statement (course 7)"
[Problem about finding the end of a file](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/courseware/b2fc63d70fe74a38963d1ddf871946b4/1270212dc8a846b89a71657856e5dda1/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.07%2B1T2020%2Btype%40discussion%2Bblock%40adb5b46d160b44269620fa75a5b3fb37)

I've already reported this "issue".
A lot of learners are looking f

[2021-04-22 12:36] #687 closed, assigned to AadhyaKocha

[2021-04-22 12:46] AadhyaKocha commented on #690
Added both types of examples. This unit now has 6 tests so hopefully shouldn't find another edge case.

[2021-04-22 12:46] #690 closed, assigned to AadhyaKocha

[2021-04-27 04:19] deladan opened #693 "Issue with skills checklist in Unit 3.1"
[Skills checklist](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/courseware/9afb1233a3d74a62acc1625236e57a96/b485323cfeeb426e8a2115c8da28033f/?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.03%2B1T2020%2Btype%40sequential%2Bblock%40b485323cfeeb426e8a2115c8da28033f)

The last entry isn't correctly formatted:
![Capture d’écran de 2021-04-27 06-18-10](https:/

[2021-04-28 17:04] deladan opened #694 "typo in some quiz in course 4"
Hello,

In [quiz about using pointers](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/27b25e631c254ed09e1f67d84f02a01c/d26e90ec3b1f4663aa44006d6b1546fa/5?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40discussion%2Bblock%403daf7c1d16624063880f896601694e78), there is a missing 'r' in the answer 'compiler erro**r**' in second qu

[2021-04-29 04:09] deladan opened #695 "typo in course 5 presentation"
In the [home page of course 5](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/home), if you display all the presentation of the course, clicking on show more button, the last line is missing a k in "lin**k**ed list":
![Capture d’écran de 2021-04-29 06-07-34](https://user-images.githubusercontent.com/34571147/116501601-7e811a80-a8b1-11eb-8d73-5fe4f42abda0.png)

[2021-04-29 07:22] deladan commented on #683
Hello,

Question is posted again about this in the forum.
Couldn't some erratum be written besides the video, about the fact that a variable's name can start with an underscore, and not only with a letter as said in the lecture?

[2021-04-29 16:10] AadhyaKocha commented on #695
Fixed!

[2021-04-29 16:10] #695 closed, assigned to nobody

[2021-04-29 16:20] AadhyaKocha commented on #694
Fixed!

[2021-04-29 16:20] #694 closed, assigned to AadhyaKocha

[2021-04-29 16:37] AadhyaKocha commented on #693
Made the last point an option as well.

[2021-04-29 16:37] #693 closed, assigned to AadhyaKocha

[2021-04-29 16:47] remisharrock commented on #691
we are using BusyBox v1.22.1 (2014-11-05 04:24:17 UTC) multi-call binary for all the basic commands on weblinux (including the find command).
Maybe it's a bug in that version of busybox ? I need to update and test everything before putting it in production.
Another idea is that the filesystem I use has a bug: p9 is the filesystem and it's also an old version... Same story :)

[2021-05-01 13:43] deladan opened #696 "Inconsistency between problem statement and provided code (course 5)"
In [activity about manipulating structures with functions](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/58099ea386614233830b63363dc6db01/d25d4867ce6a4cd1929358ee146903cc/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2Bblock%40c7240c419b074fc09c8f2c1d6c8db69a), there is a contradiction between the problem state

[2021-05-04 03:50] deladan opened #697 "Not enough tests (course 5)"
In activity about checking divisibility, a function which only tests whether first digit is divisible by 3 is accepted by Taskgrader!  >
[code]
Shouldn't there be some more tests?

[2021-05-06 16:05] rserranosmith commented on #697
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/discussion/forum/10fd78f043379f629a828163604fdb3b22b1ba95/threads/609011b4e1362904a7b1df5b

[2021-05-11 09:36] remisharrock opened #698 "new edx experience: process to change the codecast iframes"
- Open the Excel sheet with all the **codecast studio URL** links and open your assigned link in your browser. It should open the unit containing the codecast in the edx studio. If you have problems, read the next point.
- Sometimes, even if you are already connected to edX with your account on another tab in your browser, when you click the link directly from the Excel file it redirects to an URL

[2021-05-20 17:54] EllaHa commented on #698
To keep track of where we are, please fill in the the spreedsheet, with updates https://docs.google.com/spreadsheets/d/1g9BjTF3aFaYvaGEaYd7VeBC8IYqOZD8kTg5tvDk2kdY/edit?usp=sharing

[2021-05-24 14:48] deladan opened #699 "Issue with format specifier (course 5)"
In the [activity about using the dot operator](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/courseware/58099ea386614233830b63363dc6db01/a667ef845e5e474e974ccea13bf5d03b/3?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.05%2B1T2020%2Btype%40discussion%2Bblock%4047003b270cf34a31ad51258e22a4b980), we're asked to use the following printf statement:
`printf("To

[2021-05-26 22:35] rserranosmith commented on #698
I think that in the instructions we are supposed to change `scrolling="yes" ` to `scrolling-"no"`, and not the other way around. Am I right? Also, for hiding the overflow, is the correct syntax `overflow:hidden` or `overflow="hidden"`?

[2021-05-27 14:41] remisharrock commented on #698
Thanks @rserranosmith my mistake, I modified it. For overflow, I think it's even
`style="overflow: hidden"`
I have to double check...

[2021-05-27 14:47] remisharrock commented on #698
looking at https://stackoverflow.com/questions/10082155/remove-scrollbar-from-iframe  I don't really understand the correct way of using overflow hidden... anybody any idea ?

[2021-05-27 14:54] remisharrock commented on #698
I finally decided to remove the overflow:hidden parameter and updated the process accordingly...

[2021-05-27 16:21] rserranosmith commented on #698
There was a small issue with the width of the code cast being too large, and cutting off a portion of the timeline. To fix this, we found that reducing the width from 100% to 95% seemed to fix the issue. Below is a summary of the changes to be made, as well as a picture for reference

[code]

![Screen Shot 2021-05-27 at 10 11 45 AM](https://user-images.githubusercontent.com/49991645/119860814-f30c

[2021-05-28 04:09] deladan opened #700 "freeing memory in final problem course 4"
In the provided solution to [final problem about tracking a fire using arrays](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/courseware/b7ca2be242444550a601c7a7446804a8/8d601ece71b04f0b9f4fc08fab98cadb/2?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.04%2B1T2020%2Btype%40discussion%2Bblock%406691f8e8e01e4170b77550cbc90dc021), shouldn't memory be freed at t

[2021-05-29 03:03] deladan opened #701 "Typo (course 6)"
In the provided commands following the [video about mv command,](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/courseware/953455675ecb40e491f6645e3711295f/0f6bc45e0328471ba775d27853a83b82/4?activate_block_id=block-v1%3ADartmouth_IMTx%2BDART.IMT.C.06%2B1T2020%2Btype%40discussion%2Bblock%4077b4b5e2b6c24fcf91eeb945d5043735) there is a "RENANMING" in some comment.

[2021-06-01 08:11] remisharrock commented on #698
there are faulty ones after the modification and I'm opening new issues for them :
https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/702
[update]: for me it's working, anbody can try again ?

[2021-06-01 08:13] remisharrock opened #702 "new edx experience faulty codecasts"
for example

studio link

https://studio.edx.org/container/block-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020+type@html+block@111c19184a134866a22354ed63c7162f

lms link

https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020+type@sequential+block@58db2f5a71e44f1abc7316ed9ce1cd74/block-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020+type@vertical

[2021-06-01 08:19] remisharrock commented on #702
well it looks like the new line after the codecast number is doing something wrong ?

![image](https://user-images.githubusercontent.com/8048877/120290632-d355ed80-c2c2-11eb-8f88-916ae19d43a8.png)

[2021-06-01 08:24] remisharrock commented on #702
so the solution I found is to first delete the new line between
`[...]dartmouth%2F1521485233583`
and the `"` caracter

So basically to change

[code]

with

[code]

[2021-06-09 04:07] deladan opened #703 "warnings about suspicious coding"
I've already reported that, but those feedbacks from Taskgrader often disconsert learners.
They're sometimes inappropriate.
What about this one for instance:
[code]
In my humble opinion, they should be removed.

[2021-06-09 11:59] deladan opened #704 "Some weird issue with a Codecast lecture page"
[see this thread](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/a02d963c6a195d731b771d8a5803a2c0858af518/threads/60bb5575e136290480b29c05)

[2021-06-10 16:45] mgoudz opened #705 "porting srt transcript files into videos"

[2021-06-10 16:48] EllaHa commented on #704
Thanks for reporting this issue Isabelle, we are working on it.

[2021-06-10 16:49] EllaHa commented on #704
Fixed

[2021-06-10 16:49] #704 closed, assigned to remisharrock

[2021-06-14 14:46] deladan opened #706 "Not enough tests (course 2)"
In [activity about finding the longest word in a text](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@cf7f6546fc4d411992a1d434b489a916/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@ec719503b2ee46ebaa39cefe8743e607), following code is accepted by the grader, even if it is totally inc

[2021-06-17 03:21] deladan commented on #686
Hello,

Issue is still there, stdio.h is missing in the include instruction in the weatherio.c code, in the provided code  in [modifying your library](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020+type@sequential+block@03a438a2ddf7482495f66baf0f141d05/block-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020+type@vertical+block@d3a56a

[2021-06-21 17:32] EllaHa opened #707 "Close-captions appearance improvment on the edX experience"
The close captions only appear at end of the iframe, would that be possible to put them at the middle?
In that case, it hard for the learner to understand that are close-captions on the course.

Other observation: the show pane is not appearing on my screen even if I choose it. The only way to see the pane is to look at the codecast fullscreen.

Third observation: by default the close-captions are

[2021-06-21 17:50] marchill23 opened #708 "Test"
I did it. Tres bien

[2021-06-21 17:50] EllaHa commented on #708
Merci Mark, ça fonctionne bien !

[2021-06-21 17:50] #708 closed, assigned to nobody

[2021-06-21 17:53] EllaHa opened #709 "Iframe problem with WebLinux - iframe too big for my screen"
weblinux is bigger than the edX design

the weblinux window is cute and I can't it entirely
![image](https://user-images.githubusercontent.com/19490273/122806218-5bc81c80-d2ca-11eb-9987-641755b27608.png)

[2021-07-01 16:26] AadhyaKocha commented on #709
Change width to 103% and height to 650px and make a note to push for full screen view

[2021-07-07 01:29] marchill23 opened #710 "Issue Submitting Unit 1.2 Activity"
I noticed a discussion post on the forum about being unable to submit an activity in Unit1.2: https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/jump_to/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@discussion+block@a0453e1ed42a4c0f9860d38ffcb3b74f. Even after waiting a few hours, whenever I try to hit submit, it provides the same error message:
![image](https://user

[2021-07-08 16:07] #710 closed, assigned to nobody

[2021-07-08 16:19] marchill23 opened #711 "Incorrect Code but Taskgrader Marks as Correct"
I recently discovered a post on the forum where a student submitted an incorrect solution to the activity: [Unit 2.2: Using arrays of integers](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@7f90c0855f624fbfa70cedcdc1ba212e/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@a2218f3b531d4

[2021-07-08 16:34] remisharrock opened #712 "reply to this student"
Hi Mike,
Learner patrick642@yahoo.com emailed support claiming there were glitches/incorrect grading that caused them to not receive a certificate. They said:
"But it is quite clear there are MULTIPLE errors in the grading system in EACH section of this course THAT WERE NEVER CORRECTED!!!! As such, we receive incorrect grading. For example, an alternative for SUPER USER is ROOT USER yet is was mar

[2021-07-15 14:50] AadhyaKocha commented on #711
Added another test

[2021-07-15 14:50] #711 closed, assigned to AadhyaKocha

[2021-07-15 14:57] AadhyaKocha commented on #706
Added another test which this code fails.

[2021-07-15 14:57] #706 closed, assigned to nobody

[2021-07-15 16:14] AadhyaKocha commented on #709
Changed in Mooc 6 and 7

[2021-07-15 16:14] #709 closed, assigned to AadhyaKocha

[2021-07-15 16:18] AadhyaKocha commented on #703
@deladan , any idea what quiz this is for? Or any link that we can replicate this issue?

[2021-07-16 03:44] deladan commented on #703
Hello @AadhyaKocha ,
This isn't about any quiz, but about some Taskgrader activity.
I don't recall which one, but I think that all those "suspicious" code messages should be removed.
Why not just showing compiler error messages?

[2021-07-17 05:25] AadhyaKocha commented on #712
@EllaHa is reaching out to edX to tell them that we are in contact with the learner. I have emailed Patrick and will keep you all posted with what he says.

[2021-07-31 02:45] deladan commented on #697
Another student reported same issue:
[code]

[2021-07-31 10:03] deladan commented on #559
Another issue with the grader for this activity : the following program doesn't print anything when first grade is the highest, however it is accepted:
[code]

[2021-08-11 07:35] deladan opened #713 "Irrelevant title for Taskgrader activity (course 2)"
In ["Swap first and last name"](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@914396655d9144bfaf7bd9710bc7415e/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@90efc59aca614504b8058bb25d2fa393) (shouldn't it be "names" by the way?) activity, we're told that this is about using null te

[2021-08-13 04:06] deladan opened #714 "Improvement in some Codecast lecture's code (course 2)"
In [lecture about working with string lengths, find the frequencies of word lengths](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@cf7f6546fc4d411992a1d434b489a916/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@6161b5060ec541a79447dee210e9386b), output would be more clear if \n char

[2021-08-17 19:29] deladan commented on #439
Error is still there, and some other learner reported it again.

[2021-08-19 15:21] AadhyaKocha commented on #712
No response from him so I think he is alright now.

[2021-08-19 15:21] #712 closed, assigned to remisharrock

[2021-08-22 03:58] deladan opened #715 "video welcome video course 4 - incorrect subtitles and transcripts"
In [welcome section of course 4](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020+type@sequential+block@bed2976f59604bc1ae11e7aff468021d/block-v1:Dartmouth_IMTx+DART.IMT.C.04+1T2020+type@vertical+block@fa2895f2f3474dc6a25c736b1438e9e2), subtitles and transcripts are the ones of last video of previous course.

[2021-08-26 03:46] deladan commented on #677
Another learner made same suggestion, for course 2:
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/f6edac77bdb56bd2eb64f305f70f124337150525/threads/6126c1169bd62e0464682eb6](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/f6edac77bdb56bd2eb64f305f70f124337150525/threads/6126c1169bd62e0464682eb6)

[2021-08-26 16:31] AadhyaKocha commented on #713
Changed both names to "Swap first and last names" to remove confusion.

[2021-08-26 16:31] #713 closed, assigned to nobody

[2021-09-03 02:20] deladan opened #716 "Suggestions from a learner about bisection lecture (course 2)"
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/c9bb9d8c1751c2231cc7b3e04f4759afde6e79eb/threads/6131215b9bd62e0467684036](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/discussion/forum/c9bb9d8c1751c2231cc7b3e04f4759afde6e79eb/threads/6131215b9bd62e0467684036)

[2021-09-05 06:23] hibrohi commented on #269
but they have told to use the function call to this program

[2021-09-05 06:54] deladan commented on #269
Hello @hibrohi ,
From problem statement:

[2021-09-14 23:58] AadhyaKocha commented on #715
Works perfectly now. Thanks @mgoudz!

[2021-09-14 23:58] #715 closed, assigned to mgoudz

[2021-09-15 00:04] AadhyaKocha commented on #701
The typo was in my HTML description of a command. Corrected now :)

[2021-09-15 00:04] #701 closed, assigned to nobody

[2021-09-30 16:09] AadhyaKocha commented on #688
Fixed https://github.com/remisharrock/c-programming-with-linux-MOOC-issues-tracker/issues/715

[2021-09-30 16:09] #688 closed, assigned to nobody

[2021-10-05 04:17] deladan opened #717 "Suggestion about controlling an epidemic activity"
For [this activity](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@51bd0abbbc894fe8b3623ce03d05fc90/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@9c11e06096674f2ba4ca79ffd0eb87d5), there are a lot of learners who failed to understand that all infected people contaminate two other on

[2021-10-06 04:15] deladan opened #718 "Some issue with Taskgrader course 3"
In [compute space activity](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@sequential+block@91f8edcd857f410b82baa1860866f4ae/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@vertical+block@774d7e54673b44ef957688dbf77c0fa7), following code seems to freeze Taskgrader, and I don't really understand why.
[code]
If we pri

[2021-10-08 21:26] mblockelet commented on #635
Hi, there is indeed a minimum height. It was 750px, I reduced it to 400px, which should be good.

[2021-10-12 01:09] marchill23 commented on #717
We could include an example with a population of 100 people. So, on day one, 1 person is infected. On day two, they contaminate 2 people and now 3 people are infected. On day three, the 3 people contaminate 6 people (2 people each) and now 9 people are infected. On day four, the 9 people contaminate 18 people, and now 27 people are infected. On day five, the 27 people contaminate 54 people, and no

[2021-10-17 03:06] Narka0 opened #719 "EDX MOOC 3.1. - Activity : Program a smart unit converter - Worked in the codecast sandbox but error in "Solve box". Please help."
#include <stdio.h>
int main (void)
{
    int nbConversions;
    int i;
    double conversiontobemade;
    double conversion;
    char unit='\0';
    scanf("%d\n", &nbConversions);
    for (i=0; i<nbConversions; i++)
    {
        scanf("%lf %s\n", &conversiontobemade, &unit);
        if (unit=='m')
        {
            conversion=3.2808*conversiontobemade;
            printf("%lf ft\n", conversio

[2021-10-19 14:57] AadhyaKocha commented on #717
Added

[2021-10-19 14:57] #717 closed, assigned to nobody

[2021-10-23 16:15] deladan commented on #719
Hello @Narka0 ,
Issue lies with the fact you've used %s format specifier to read the unit, while your unit variable is of type char, and not an array of char.
Which format specifier should you use instead?

But I don't think you should ask for help about your programs here.
This is dedicated for reporting issue with the grader, or possible improvement.

[2021-10-23 16:21] deladan opened #720 "Not enough test (course 1)"
For [activity about dividing decimal](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@4c4f062124eb47f99ab23cf7228a1109/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@47f831540e1a48acbee34a352ec3fa6e), Taskgrader accepts following code, even if it doesn't give expected results, for ins

[2021-10-26 15:35] AadhyaKocha commented on #719
Hello @Narka0,
Please ensure you ask questions on the forum as going forwards we will not be able to answer questions here. We would really appreciate that. We use this Github repository for internal use only.

You need to add a multiplication sign in:
`conversion=3.2808conversiontobemade;`

This will allow the code to run and be tested by our grader. The codecast works differently and does not ha

[2021-10-26 15:35] #719 closed, assigned to nobody

[2021-10-30 09:04] deladan opened #721 "Inconsistency between problem statement and provided solution (course 7)"
In [activity about using the math library](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020+type@sequential+block@20c36bf48d224858a37200c5de92cf3f/block-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020+type@vertical+block@773e7666937f452d820aab6dd21d90ee), our program is expected to read an integer number from input in order to print

[2021-11-02 13:58] AadhyaKocha commented on #720
Test case added:
Input
6.6
1.3

Output
5

[2021-11-02 13:58] #720 closed, assigned to nobody

[2021-11-02 14:31] AadhyaKocha commented on #721
@deladan The code still works for integer and double inputs and should not affect if students use integer type. Is there a specific error case we are trying to fix by changing the solution?

[2021-11-02 15:52] deladan commented on #721
Hello @AadhyaKocha ,
There is no error and no issue with the grader, but I think solution doesn't exactly match problem statement.
Is it such a great deal to change it?

[2021-11-09 13:42] AadhyaKocha commented on #721
Nope it is an easy fix- just wondering if there is a specific thing to address. Thank you!

[2021-11-17 19:26] deladan commented on #717
Hello @AadhyaKocha ,
Example was added but with a typo, as input should be 100 and not 10.

[2021-11-28 05:10] deladan commented on #447
Another incorrect program which has been accepted by the grader:
[code]
Once again, it doesn't give expected result for entries like "enter", where 't' is exactly in the middle of an uneven long word.
Shouldn't some test be added?

[2021-12-04 03:00] deladan opened #722 "Grader doesn't check memory is freed (course 5)"
In activity about freeing a linked list of students, Taskgrader doesn't check whether memory is correctly freed or not (and I don't know if it is possible).
Following code has been accepted:
[code]
Is there something which can be done about this issue?

[2021-12-04 06:59] deladan commented on #696
A learner just posted a message about this typo too.
Shouldn't this be easily fixed? Solution would be to modify problem statement so it matches with the provided code.
There will be nothing to change within Taskgrader.

[2021-12-14 17:32] marchill23 opened #723 "Suggestion of clarification on Name your variables Lecture (course 1)"
Some students have [posted on the forum](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/discussion/forum/517e9b8f3b9731adf777bfbf13276713572ea886/threads/61a1788df309f70477b1feb2) about possibly clarifying that variable names can start with underscores. A simple text could be added to summarize the do's and don'ts and include it there rather than creating a new video

[2022-01-06 20:21] deladan commented on #723
See issue #683

[2022-01-06 20:23] deladan opened #724 "Not enough tests ? (course 1)"
On activity about dividing decimals, following code has been accepted by the grader though it doesn't give expected results when I test it with the first example data on my system:

[code]

[2022-01-08 05:08] deladan opened #725 ""There is no test for this task" message instead of an error message (course 1)"
In activity about reading characters, some learner wrote the erroneous following code:
[code]
Name of variable isn't correct, and there is a missing comma between the second and third variables inside the printf statement.
But instead of getting some compiler error message, learner got some "There is no test for this task" which isn't very helpful.
Do you have an explanation, and is this something

[2022-01-14 15:53] deladan commented on #717
Issue is still there, and was reported by some learner again in forum.

[2022-01-16 04:14] deladan opened #726 "typo in example from some activity in course 2"
Issue #717 was closed when some example was added as suggested, but there is a typo in this example.
I've reported it but this hasn't been fixed since.

[2022-01-20 14:33] AadhyaKocha commented on #683
Added a note under the video

[2022-01-20 14:33] #683 closed, assigned to nobody

[2022-01-20 14:33] AadhyaKocha commented on #723
Added comment under lecture video

[2022-01-20 14:33] #723 closed, assigned to nobody

[2022-01-20 14:36] AadhyaKocha commented on #724
@deladan Can you please send a link for this activity? I was unable to find it

[2022-01-20 16:23] deladan commented on #724
My bad.
[There it is](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@4c4f062124eb47f99ab23cf7228a1109/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@47f831540e1a48acbee34a352ec3fa6e).

[2022-01-20 16:29] AadhyaKocha commented on #722
@deladan Good catch! What is the link for this activity?

[2022-01-20 19:25] deladan commented on #722
My bad, [here it is](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020+type@sequential+block@5a5737bdb1254f3b8fb3d5f71df118ca/block-v1:Dartmouth_IMTx+DART.IMT.C.05+1T2020+type@vertical+block@5251d547cc2c4c538cd84793093ca741).

[2022-01-24 17:28] deladan commented on #415
Another incorrect code which is accepted by Taskgrader:
[code]
For an input of 2000 for instance, it gives 10 while expected answer is 8.

[2022-01-25 13:24] EllaHa opened #727 "Problem with price info on the Professional certificate page"
The price indicated is no correct, we should explain there to learners they have to record their score on edx because there is a lot of questions on this.

[2022-01-27 16:27] EllaHa commented on #727
This problem was solved

[2022-01-27 16:27] #727 closed, assigned to EllaHa

[2022-01-27 16:27] EllaHa opened #728 "URL not working on the Earn a certificate page"
2 links are broken

[2022-01-27 16:46] EllaHa commented on #728
changes made on MOOC 1. Remaining 6 courses.

[2022-02-01 14:57] AadhyaKocha commented on #717
Corrected example.

[2022-02-01 14:57] AadhyaKocha commented on #726
Corrected example

[2022-02-01 14:57] #726 closed, assigned to nobody

[2022-02-01 15:31] AadhyaKocha commented on #725
Can I please have the link for this activity? @deladan

[2022-02-01 15:47] AadhyaKocha commented on #716
Do we want to take this student's suggestion for v7 being done right now? @remisharrock

[2022-02-01 16:48] deladan commented on #725
My bad.
[Here it is](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@17a19800d526465db286eb40032226a9/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@16cfc27bea9348358ed78edd0554bd8a).

[2022-02-02 19:59] deladan opened #729 "not enough test (course 2)"
Following code is accepted by Taskgrader for the [activity about finding repeat letters in a word](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@b32dae4bf4454a179f4cece1403ab0e2/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@5d38d7e8781c4eb78ce564322c5243a9), even if it gives incorr

[2022-02-06 04:47] deladan commented on #729
Another one:
[code]

[2022-02-22 03:19] AadhyaKocha opened #730 "50% grade for 100% complete module"
Even if a learner completes a quiz and gets a 100% on it, that module reflects as 50% complete in grades. The course is counting the codecast as the other 50% but there is nothing the student can press on the screen to mark it complete to get a 100% complete score. This is the incomplete 0 module:
![Screenshot 2022-02-18 at 9 00 42 AM (2)](https://user-images.githubusercontent.com/51734801/1550569

[2022-02-22 03:28] AadhyaKocha opened #731 "No indication that a multiple choice question is half wrong"
For a second I was very confused on why I got a 25/100 score on this [quiz](https://telecom-paris.france-ioi.org/en/#/activities/by-id/1272350288227256715;path=4702,458602124916982205,4769434107088212490,8123435593727593341,933119068612598309;parentAttempId=0/details) but only had question 3 wrong based on this result:
![screencapture-telecom-paris-france-ioi-org-en-2022-02-21-22_21_14](https://us

[2022-02-22 03:33] AadhyaKocha opened #732 "Correct option marked incorrect by grader"
In this [quiz](https://telecom-paris.france-ioi.org/en/#/activities/by-id/1272350288227256715;path=4702,458602124916982205,4769434107088212490,8123435593727593341,933119068612598309;parentAttempId=0/details), I did q3 twice both times marking option A as correct.
The first time, it marked A as incorrect so i repeated and tried every option and every option was marked wrong.
![screencapture-telecom

[2022-02-22 03:44] AadhyaKocha opened #733 "Horizontal Scroll"
All the quizzes have a slight horizontal scroll:
<img width="1440" alt="Screenshot 2022-02-21 at 10 43 02 PM" src="https://user-images.githubusercontent.com/51734801/155059242-266aea12-6c3a-44d5-a1ae-678138177818.png">.
Not enough to disrupt learning but just a little annoying to fidget with.

[2022-02-22 15:33] AadhyaKocha opened #734 "Show chronology to learners"
When there are multiple Codecasts for the student to see before reaching the quiz, it is confusing to know which one they are on since they all say "0" on top because the default assigns a grade of 0% to codecasts.
![Screenshot 2022-02-22 at 9 03 51 AM](https://user-images.githubusercontent.com/51734801/155165396-0af84dc1-fbf2-489a-9cce-60bb323b122e.png)
Is it possible to show students their progr

[2022-02-22 16:08] AadhyaKocha commented on #730
Solved!

[2022-02-22 16:08] #730 closed, assigned to nobody

[2022-02-24 16:02] AadhyaKocha opened #735 "LTI loading error"
When I clicked on this [quiz](https://www.coursera.org/learn/c-programming-getting-started/gradedLti/R7K25/use-variables-in-loops) the first time I got the screen attached below. On clicking a second time things were back to normal but wanted to make a note of this error.
<img width="1440" alt="Screenshot 2022-02-24 at 11 00 39 AM" src="https://user-images.githubusercontent.com/51734801/155560830-

[2022-02-24 21:03] deladan opened #736 "no issue actually"
No issue actually, I was too quick to report some learner's message.

[2022-02-25 04:38] #736 closed, assigned to nobody

[2022-03-03 15:56] catherinechoww opened #737 "Wrong codecast video (coursera)"
[https://www.coursera.org/learn/c-programming-getting-started/gradedLti/Iwt1i/find-the-remainder-in-integer-division](url)

The video for "Finding the Remainder" is not there, and instead the video for "Converting Integers to Decimals" is in that section

- also, sorry I can't figure out how to attach the coursera label to this issue

[2022-03-09 09:06] EllaHa commented on #735
Thanks Aadhya for this report. This error appears the first time a LTI is open by someone. So no worries, this error will not be reproduced by anyone.

[2022-03-09 09:06] #735 closed, assigned to nobody

[2022-03-09 09:32] EllaHa commented on #737
Good catch! It has been modified. @catherinechoww if you could look at it on your browser, it would be great!

[2022-03-09 14:45] catherinechoww commented on #737
Hi Ella, just checked and it now has the right video! Thanks!

[2022-03-09 14:45] #737 closed, assigned to EllaHa

[2022-03-10 03:29] catherinechoww opened #738 "Add codecast sandbox link to "Resources" tab of Course 2 (coursera)"
As we did in course 1, I think it would be extremely helpful to learners to have the codecast sandbox link in an easily accessible tab.

[https://www.coursera.org/learn/c-programming-language-foundations/home/week/1](url)

[2022-03-10 14:40] AadhyaKocha opened #739 "pre course survey change wording"
In this [survey](https://www.coursera.org/learn/c-programming-language-foundations/supplement/2lzSZ/pre-course-survey), i don't see the component to even open in this window. Can we change the wording to just say "click this link to finish survey"?
<img width="983" alt="Screenshot 2022-03-10 at 9 37 59 AM" src="https://user-images.githubusercontent.com/51734801/157684925-73a1f493-667e-4349-a7ef-16

[2022-03-10 14:48] AadhyaKocha opened #740 "Introduce yourself bug"
On this [page](https://www.coursera.org/learn/c-programming-language-foundations/discussionPrompt/Nb3UZ/introduce-yourself) I introduced myself. Then deleted the post because I wanted to say more. But I do not have the option to re-introduce myself or see my previous post despite having an option that says view my response:
<img width="902" alt="Screenshot 2022-03-10 at 9 43 41 AM" src="https://us

[2022-03-10 14:53] AadhyaKocha opened #741 "Own test block bug"
I love this new section to be able to test the learner code by making their own tests! The two columns, however, are in French so if we can fix those two words or translate it in a note- that would be helpful because otherwise it is not intuitive.
<img width="852" alt="Screenshot 2022-03-10 at 9 52 12 AM" src="https://user-images.githubusercontent.com/51734801/157687860-d5306fb9-5ffb-41e4-9b75-e0f

[2022-03-10 14:58] AadhyaKocha opened #742 "Auto update progress"
Once a learner crosses out of the Algorea platform, they cannot immediately see whether they have made progress as the little check icon does not become a tick automatically unless the page is reloaded. This could take some getting used to for the learner but if there is an easy way to fix this, I recommend we do. Here is a video explaining what I mean:

https://user-images.githubusercontent.com/5

[2022-03-10 15:41] AadhyaKocha opened #743 "Mooc 2 grade weightage"
The weightage for the quizzes for Mooc 2 decrease towards the end from 5.6% to 5.4% and then 5%. Is it possible to flip it so that the first quizzes are worth 5 and 5.4% and the latter is 5.6%?
![screencapture-coursera-org-learn-c-programming-language-foundations-home-assignments-2022-03-10-10_13_15](https://user-images.githubusercontent.com/51734801/157697724-a527d99b-61b3-4905-8ff1-8bd2f34eb232.

[2022-03-10 16:40] #738 closed, assigned to nobody

[2022-03-10 16:43] AadhyaKocha commented on #743
Fixed!

[2022-03-10 16:43] #743 closed, assigned to nobody

[2022-03-10 16:48] AadhyaKocha opened #744 "Completion message not shown"
On completing the quiz, I get an email for completion and the messages tab looks like I have a new message. But on clicking it there is no new message. Should there be one and it just isn't showing? Cannot show a picture since it shows as seen now.

[2022-03-10 16:57] EllaHa opened #745 "Videos are missing on MOOC 3"

[2022-03-14 06:01] deladan commented on #525
Another student reported this incoherence.
[link to the thread](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/discussion/forum/66f06ed76db81c88fc1540082342e32f0fe9ebc1/threads/622e744f3978a804714209b5)

[2022-03-15 13:49] #745 closed, assigned to nobody

[2022-03-17 14:57] AadhyaKocha opened #746 "Deadline passed message"
MOOC 3 shows that the deadline for finishing quizzes has passed. This used to happen on edX too and just wasn't nice. Can we delete this message?
<img width="1434" alt="Screenshot 2022-03-17 at 10 56 14 AM" src="https://user-images.githubusercontent.com/51734801/158831693-c0ae949d-b497-4934-a665-f9862770b717.png">

[2022-03-17 15:06] AadhyaKocha commented on #746
Here too:
<img width="1250" alt="Screenshot 2022-03-17 at 11 06 05 AM" src="https://user-images.githubusercontent.com/51734801/158832856-5e994ea4-fefe-4bf4-b194-87796e1eece8.png">

[2022-03-17 15:47] AadhyaKocha opened #747 "Add to FAQ"
Codecast loading can take time and might need reloading the page. If performance cannot be improved maybe add this note in the FAQs?

[2022-03-17 16:18] catherinechoww opened #748 "Difficulty loading codecast videos (MOOC 3)"
Being that I have very bad Internet at home (see attached image), the codecast videos do not load unless I refresh the page. Should we make a note on FAQs about refreshing the page, in case others have a similar issue?

<img width="372" alt="Internet Speed" src="https://user-images.githubusercontent.com/98115742/158845280-1d94bda1-e087-4835-8ca8-4e36d90428ca.png">

[2022-04-05 13:41] AadhyaKocha opened #749 "Completed courses message"
Under the completed courses tab, I see MOOC 1, 2, 3 correctly but only MOOC 3's message shows as complete saying "Great work!" Can this message be added to MOOC 1 and 2 as well?
<img width="1288" alt="Screenshot 2022-04-05 at 9 39 16 AM" src="https://user-images.githubusercontent.com/51734801/161767117-b93620b9-370a-4bca-9453-982e0ad95927.png">

[2022-04-05 21:57] catherinechoww commented on #749
Also, I don't get the "Great Work!" message at all - what makes it show up for some users and not others?

[2022-04-05 23:28] catherinechoww opened #750 "Multiple choice problem aesthetic (Coursera 4)"
Topic: Use pointers with functions
Activity: pointers and functions

Very minor issue - one of the four answer choices of problem 2 has a larger shaded box than the other three choices, and it just so happens that it's the right answer. (see attached picture) It kind of draws users' eyes to that & might make people unsure of the correct answer choose it and get it correct by chance. Is there a way

[2022-04-06 00:36] catherinechoww opened #751 "Coursera Course Menu (Coursera)"
On main dashboard of all courses I'm enrolled in:

- Course 3 shows up under "Home" AND "Completed" despite being a completed course.
- Course 1, 2, and 4 show up in the correct place.
<img width="1115" alt="Screen Shot 2022-04-05 at 8 35 19 PM" src="https://user-images.githubusercontent.com/98115742/161872864-9f6decc7-135e-4904-917b-17715aeb7f01.png">
<img width="1140" alt="Screen Shot 2022-04-05

[2022-04-06 01:19] AadhyaKocha commented on #751
Also a discrepancy in mine where only MOOC 3 shows up in Home despite being in Completed but not MOOC 1 or 2.

[2022-04-07 01:32] AadhyaKocha commented on #750
Similar thing happens here but this is not the right choice.
<img width="1234" alt="Screenshot 2022-04-06 at 9 31 52 PM" src="https://user-images.githubusercontent.com/51734801/162102382-5a634000-4703-4eff-baca-0969b5894527.png">

[2022-04-07 01:42] AadhyaKocha commented on #744
https://user-images.githubusercontent.com/51734801/162103317-aa2314b7-e2c7-4580-a5e6-a19f99ce7501.mov

[2022-04-07 03:58] deladan opened #752 "Issue with the Q2 answer of quiz about cat less more in course 6"
Some learner says that the expected answer isn't exactly correct, as it creates a file whose content is "hello \n" while we're asked to create a file whose content is "hello".
[Link to the thread](https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/discussion/forum/3dd09bf0952d45154981dbefddf066c6dae3ced5/threads/624df104cc0b10048c34883e)
[Link to the quiz](https://learni

[2022-04-07 12:30] AadhyaKocha opened #753 "Hint tab acting funny"
I have tried clicking on the hint tab in two different exercises before submitting an answer and it makes the other tabs disappear sometimes without having another option to click. I will try and send more proof of the same but for now:

https://user-images.githubusercontent.com/51734801/162198865-62dd101b-5789-4110-a3c5-1217746386aa.mov

[2022-04-07 12:44] AadhyaKocha opened #754 "No incorrect indication"
When I fill in the blanks incorrectly, I get a lower score but no indication of what is wrong unlike the multiple choice questions which show as red. That would be hard for the learned to find their mistake. This is true for the quiz in edX as well.

https://user-images.githubusercontent.com/51734801/162201141-a22f8ac6-e522-4804-a629-32a672494972.mov

![screencapture-learning-edx-org-course-course

[2022-04-07 12:54] AadhyaKocha opened #755 "Answer options visual"
Small change: the option A button is smaller than B and C:
<img width="1285" alt="Screenshot 2022-04-07 at 8 53 03 AM" src="https://user-images.githubusercontent.com/51734801/162203312-61eeca1d-e039-486b-a9a8-fe33f335493b.png">

in this [quiz](https://www.coursera.org/learn/c-programming-advanced-data-types/gradedLti/NTVWj/get-to-know-the-concept-of-a-linked-list).

[2022-04-08 06:36] deladan opened #756 "Possible confusion with unit in some Taskgrader activity (course 3)"
In the [activity about memory usage displayed](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@sequential+block@91f8edcd857f410b82baa1860866f4ae/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@vertical+block@e2bccbddfb4a43058c89c9a810bfd69f), program expects us to display memory using KB unit.
Which is confusing, as

[2022-04-13 16:17] catherinechoww opened #757 "Typo in activity title (coursera 5)"
Typo in activity title: change "note" to "node"

[https://www.coursera.org/learn/c-programming-advanced-data-types/gradedLti/t2AeQ/create-a-single-note](url)

[2022-04-13 16:42] catherinechoww opened #758 "error trying to get correct answer (coursera 6)"
Getting quiz 100% correct (it even says so on the page), but getting error message every time I submit. Grade not showing up on grade page.
<img width="353" alt="Screen Shot 2022-04-13 at 12 38 50 PM" src="https://user-images.githubusercontent.com/98115742/163229309-83724544-b2d0-4c36-afb8-998dcb9ebfb6.png">
<img width="118" alt="Screen Shot 2022-04-13 at 3 27 25 PM" src="https://user-images.githu

[2022-04-13 19:24] catherinechoww opened #759 "add video (coursera 6)"
Did we want to put the video here? I notice the edX version has the message and the video.

<img width="893" alt="Screen Shot 2022-04-13 at 3 24 15 PM" src="https://user-images.githubusercontent.com/98115742/163254995-dbcaf3f8-1453-47cd-b08b-b89eef3ffa46.png">

[https://www.coursera.org/learn/linux-basics-the-command-line-interface/supplement/fdEf3/memory-representation-ram-cells-word-byte-bit-mem

[2022-04-13 19:32] catherinechoww opened #760 "not passing specific activities (course 5)"
Unable to pass activities where we offer the answer code for a deduction in points. Will be fixed as soon as we figure out how to offer this option.

<img width="931" alt="Screen Shot 2022-04-13 at 3 30 21 PM" src="https://user-images.githubusercontent.com/98115742/163255996-f57dcf78-9dad-44e9-8d0a-dcf6370ae2c0.png">

[https://www.coursera.org/learn/c-programming-advanced-data-types/gradedLti/QLqG

[2022-04-14 12:40] AadhyaKocha opened #761 "Task Grader message"
Very minor but when tests pass, the success message "congratulations" is only on the first test and not the second (on both Coursera and edX).
<img width="880" alt="Screenshot 2022-04-14 at 8 38 00 AM" src="https://user-images.githubusercontent.com/51734801/163392316-f3dcd199-3494-44c3-aeb9-6d58a3165c79.png">

[2022-04-14 12:49] EllaHa commented on #757
thanks

[2022-04-14 12:49] #757 closed, assigned to nobody

[2022-04-14 13:12] AadhyaKocha opened #762 "Restarting quiz position"
As seen in this video, it is confusing to the learner once restart is pressed as the screen greys out and you cannot click out of it. Scrolling up to the dialog box with the restart options is unintuitive so if we can say scroll up or something? Occurs on edX as well but especially so on Coursera.

https://user-images.githubusercontent.com/51734801/163397332-193b717d-8a1f-4c7b-b5af-36dfd2e54ea6.mo

[2022-04-14 13:12] EllaHa commented on #758
![image](https://user-images.githubusercontent.com/19490273/163397942-1bec6407-ed63-46a6-bf62-3d6f7dc57d7b.png)

[2022-04-14 13:14] remisharrock commented on #758
for me same error and in the console I have
`Loading failed for the <script> with source “https://static-items.algorea.org/files/checkouts/255595fbf0222e1a7d6aa9224535a3d4/06%20Linux%20Basics%20The%20Command%20Line%20Interface/Unit%206.1%20History%20of%20Linux%20and%20the%20command%20line/01%20Discovering%20operating%20systems/01_OsUnixHistoryAndGenesis/grader_data.js”. [index.html:17:1](https://s

[2022-04-14 13:21] remisharrock commented on #761
this is indeed correct you have to click the grey bar , I explain this in the taskgrader tutorial (new one that I did last weekà

[2022-04-14 13:36] AadhyaKocha commented on #756
https://en.wikipedia.org/wiki/Kilobyte create a quick "please note:"... on the task statement in task editor

[2022-04-14 13:49] deladan commented on #756
Hello @AadhyaKocha ,
Adding a note seems a good idea.
But isn't it also possible to rectify Taskgrader so one is expected to display "kB" instead of "KB" which is incorrect?

[2022-04-16 20:35] catherinechoww commented on #756
Hi @deladan,

After discussing, we decided that it would be too tedious to change the entirety of the problem to fix the kB/KB dilemma, and that it would be best to just add the note. Thanks for catching this issue!

[2022-04-16 20:35] #756 closed, assigned to catherinechoww

[2022-04-17 05:19] deladan commented on #756
Hello @catherinechoww ,
I understand, but I think it's a pity that problem statement is erroneous, as the correct writing of 1000B should be kB.
Particularly when you want to open a new course (on coursera, if I refer to the label of some issues here). It would be nice if everything were correct.
On the same idea, isn't it possible to remove the "suspicious" coding warnings from Taskgrader?
They s

[2022-04-20 09:06] #761 closed, assigned to nobody

[2022-04-20 09:07] EllaHa commented on #759
you are right. this is solved.

[2022-04-20 09:07] #759 closed, assigned to nobody

[2022-04-20 09:12] EllaHa commented on #755
I think this is because of the size of the solution. Thanks for this feedback for continues improvements.

[2022-04-20 09:16] EllaHa commented on #751
Interesting. I suggest to wait until the course have officially launched to report this issue to Coursera.

[2022-04-20 09:24] EllaHa commented on #749
Let's see what happens when the courses launch!

[2022-04-20 09:25] EllaHa commented on #746
I think this is because the course hasn't launched yet.

[2022-04-20 09:26] EllaHa commented on #744
strange, this is a Coursera Bug. Let's see what happens after launch.

[2022-04-20 09:27] EllaHa commented on #742
Good catch. We should open an issue at the Coursera partner support.

[2022-04-20 09:28] EllaHa commented on #741
Humm there are some problems in the translation... do you remember which taskgrader it was. Or could you reproduce this issue with any taksgrader?

[2022-04-21 13:05] EllaHa opened #763 "great comment"
https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.07+1T2020/discussion/forum/494a663e4bd9cb453506e6df4bff3206c0ae844f/threads/625810f9bfd4da04b722d12f

[2022-04-21 13:05] #763 closed, assigned to nobody

[2022-04-24 07:30] deladan opened #764 "Taskgrader can't evaluate a code which seems to be correct (course 3)"
[Activity about memory usage displayed](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@sequential+block@91f8edcd857f410b82baa1860866f4ae/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@vertical+block@e2bccbddfb4a43058c89c9a810bfd69f)
Grader can't evaluate the following code, and I can't find any issue with it.

[cod

[2022-05-05 12:52] #750 closed, assigned to nobody

[2022-05-05 12:53] #758 closed, assigned to EllaHa

[2022-05-05 12:56] #762 closed, assigned to nobody

[2022-05-11 04:01] deladan commented on #681
I'm sorry to re-open this issue but there are still learners who don't understand examples are distinct program's executions on other coding problems.
Couldn't my previous suggestion be applied to all?

[2022-05-17 01:10] catherinechoww opened #765 "FAQ link bug on edX"
The FAQ links of all courses take them to the FAQ page of MOOC 1. For example, clicking on the FAQ link (see screenshot) of edX MOOC 6 takes the user to
this FAQ of edX MOOC 1
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/wiki/DART.IMT.C.01/FAQ/](url)

rather than this FAQ of edX MOOC 6
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C.06+1T2020/

[2022-05-17 03:28] deladan commented on #703
There often are questions in the forums about those "suspicious" coding warnings from Taskgrader.
I really think they should be removed.

[2022-05-19 13:44] catherinechoww commented on #765
Unfortunately, as I look deeper - it seems like there are no duplicated FAQ pages for each course. Rather there is only a version of the "Posting Code to the Forum" FAQ page for each course. The general FAQ's are all on only MOOC 1.

For now, here are the links to the "Posting Code to the Forum" pages for each course:

**MOOC 2**
[https://courses.edx.org/courses/course-v1:Dartmouth_IMTx+DART.IMT.C

[2022-05-20 13:53] EllaHa opened #766 "[this is a TA exercise] The servers are down."
Students cann't access the third platform.

[2022-05-20 13:56] #766 closed, assigned to nobody

[2022-05-26 13:23] #765 closed, assigned to nobody

[2022-06-01 15:23] deladan opened #767 "Missing return 0 instruction (course 3)"
In the provided solution for [programming a smart unit converter](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@sequential+block@07d4663586b74bd6abd7b94bf3326474/block-v1:Dartmouth_IMTx+DART.IMT.C.03+1T2020+type@vertical+block@d13d2e3e6c0a45f1ba90bb2cc23edede) coding problem, the main function isn't ended by a return

[2022-06-02 13:52] catherinechoww opened #768 "Full access on audited coursera courses"
See user's concerns here:
[https://www.coursera.org/learn/c-programming-advanced-data-types/discussions/forums/EcKg7UdWEeyTcArjghhIVQ/threads/nm0H5t7CEeymIhLvQwFr_Q](url)

Shall we work with Coursera to improve this? Or perhaps look into a seven day free trial or some other work around?

[2022-06-04 17:42] deladan opened #769 "Suggestion about problem statement (course 2)"
There have been a great number of messages related to [activity about more complex if statements: costly hotel rooms](https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@sequential+block@fc9008c149444ca0a623cc332fc01e06/block-v1:Dartmouth_IMTx+DART.IMT.C.02+1T2020+type@vertical+block@34f8c25e05a8477883892595ca5669ed), beca

[2022-06-06 14:48] AadhyaKocha commented on #721
Fixed!

[2022-06-06 14:48] #721 closed, assigned to nobody

[2022-06-06 15:09] AadhyaKocha commented on #722
Fixed now!

[2022-06-06 15:09] #722 closed, assigned to nobody

[2022-06-06 15:39] AadhyaKocha commented on #692
The 2nd example in the quiz already makes this distinction. But as you recommended, I have added a test case in the quiz. Thank you!

[2022-06-06 15:39] #692 closed, assigned to AadhyaKocha

[2022-06-06 15:45] AadhyaKocha commented on #724
Issue was that there was no test case of the value of output above 0.5 rounding. Added test case:
Input
48.0
3.50
Output
13

[2022-06-06 15:45] #724 closed, assigned to nobody

[2022-06-06 16:16] remisharrock commented on #703
so it looks like it's in many taskgraders, for example (see bellow)
mooc 1: 1.3/6/1 remainder in integer division 
mooc 2: 2.2/2/1 array to balance weights 
mooc 2: 2.1/1/4
 mooc 2: 2.2/3/1 
2.2/1/1 
2.1/3/3 
1.3/9/1

[2022-06-06 16:18] AadhyaKocha commented on #703
@deladan It is not an easy removal process but we will start the process of fixing it. For now, it would be awesome if you can tell the learners to ignore that line and tell them to just check the format of their if statements

[2022-06-06 16:24] remisharrock commented on #703
also we should do a script that finds and deletes those checks in the checker.py
example in :
https://github.com/remisharrock/cspace/blob/5364927c1b07b8ffcabebceea22cc97ef1f200da/02%20C%20Programming%20Language%20Foundations/Unit%202.2%20Arrays%2C%20for%20and%20while%20loops/07%20Efficiently%20using%20a%20WHILE%20loop/01_controlling%20an%20epidemic/tests/gen/checker.py

if found_if:

print '\nSusp

[2022-06-06 16:24] remisharrock commented on #703
also another option is to understand and improve the regex

if\s*\(\s*(((\w|\d)+|\s*((\(+\s*)*[^=|,|;|!|~|#|&|+|-|^|\||\\|>|<|\s|\)|\(]+(\s*\)+)*|(\(\s*)*[^=|,|;|!|~|#|&|+|-|^|\||\\|>|<|\s|\)|\(]+(\s*\))*(\s*(\+|-|\*|\/|^|%)\s*(\(\s*)*[^=|,|;|!|~|#|&|+|-|^|\||\\|>|<|\s|\)|\(]+(\s*\))*)*)\s*(?:==|!=|<=|>=|>|<)\s*((\(+\s*)*[^=|,|;|!|~|#|&|+|-|^|\||\\|>|<|\s|\)|\(]+(\s*\)+)*|(\(\s*)*[^=|,|;|!|~|#|&|+

[2022-06-06 20:17] deladan commented on #703
Hello @AadhyaKocha ,
I tell learners not to worry much about those warnings, but it would be less disconcerting for them if those messages wouldn't appear at all.

[2022-06-14 16:50] catherinechoww opened #770 "Discussion threads in wrong week"
A user has pointed out that some discussion posts are misplaced:
[https://www.coursera.org/learn/c-programming-getting-started/discussions/forums/XDKc69m5Eeukzwp6-55i3w/threads/EoGhyscCEeyPhA6ne5tnSQ](url)

In the example they points out, the for-loop discussion thread is under MOOC 1 Week 1's discussion section, however, for-loops are covered in MOOC 1 Week 2. I moved this thread and will need to

[2022-06-24 17:14] sprive opened #771 "Test failure feedback could be increased, when the example (provided inputs) tests fail..."
In each Taskgrader problem, the Task Description provides 2 or 3 example "inputs" for the student to try.  It would be wonderful if "those documented inputs" could become special testcases which are non-hidden.

To avoid misunderstanding of this suggestion, I am NOT asking that "all" tests become visible (reasons to hide most validation is very clear). But since the "example inputs" are already sh

[2022-07-26 19:59] deladan commented on #532
Besides, following program is accepted:

[code]
I suggest you add a test where a 't' is in first half, but not at first place.

[2022-08-18 12:15] #770 closed, assigned to nobody

[2022-08-23 14:56] #532 closed, assigned to nobody

[2022-08-23 14:57] #447 closed, assigned to chrissmiller

[2022-08-23 14:59] #769 closed, assigned to nobody

[2022-09-01 06:27] #767 closed, assigned to nobody

[2022-09-01 21:22] #729 closed, assigned to nobody

[2022-09-01 21:32] #699 closed, assigned to nobody

[2022-09-26 14:23] joshMeise opened #772 "Code formatting has been changed on updated forum"
The edX forum has been updated, so using command + k no longer works to format code. The FAQ and pinned posts will need to be updated. Here is a link that shows how it can now be formatted: [https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/course_components/create_html_component.html](url)

[2022-09-28 13:35] catherinechoww commented on #772
Draft of tutorial:

[https://docs.google.com/document/d/1luZr7_uwIQXnd2-Gio1EZqLRYo8p9oUVW-e9zeOZAkY/edit?usp=sharing](url)

[2022-10-10 13:45] #772 closed, assigned to catherinechoww

[2022-10-16 02:22] joshMeise opened #773 "Issue with solution evaluation on edX"
[https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@486dacf4bd094519afe1c91af2e17fee/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+block@d596c6b0555d4fe8b3c0d6b0912b8a00](url). This MOOC has been evaluating the correct answer on problem 3 to be incorrect.

[2022-10-24 07:14] EllaHa commented on #773
Hi Josh, thanks for letting us know.

@catherinechoww can you try to test it and see if you can reproduce this error.
@joshMeise do have any screenshots of the error?
Thanks,

Best,

[2022-10-24 13:00] joshMeise commented on #773
Dear Ella,

I unfortunately deleted the screenshot from the forum since it contained the solution, but I had shown @catherinechoww  before doing so. I am trying to produce the same error with both my main account and an alternative account, but it is evaluating the answer as correct now.

Best,
Josh

[2022-10-31 00:39] remisharrock commented on #773
I do have a score of 100 with these answers. Seems ok right ?
![image](https://user-images.githubusercontent.com/8048877/198910239-abc3200f-62c8-4c9d-9d73-68e19403de55.png)

[2022-11-03 15:10] joshMeise opened #774 "Syntax Highlighting not Working"
User is saying that their syntax highlighting is not working in Codecast. They claim to have tried this on multiple browsers and it is in one of our Codecasts [https://learning.edx.org/course/course-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@sequential+block@01c67e5363ee4a90bdad5860a48766b6/block-v1:Dartmouth_IMTx+DART.IMT.C.01+1T2020+type@vertical+blo

[2022-11-10 16:07] EllaHa opened #775 "People not able to get 100%"
https://www.coursera.org/learn/c-programming-getting-started/gradedLti/Sttgx/define-key-terms
I've received about eight comments (anonymous flags and forum posts) about being unable to complete this activity. These users are getting only 75%. See an example of such a complaint below.

https://www.coursera.org/learn/c-programming-getting-started/discussions/forums/XDKc69m5Eeukzwp6-55i3w/threads/CEm

[2022-11-17 16:09] EllaHa opened #776 "User "Rameses""
a STAR discussion forum participant. I believe he started off as one of the beta testers but I found that he's answering a lot of discussion post questions. See an example below.
https://www.coursera.org/learn/c-programming-getting-started/discussions/forums/6_MuQZmsEeywKQ5FRIY4Ew/threads/4zx6v1BfEe2vVg6vl34jZQ
He answers right away, and he provides really good insight.
But is he providing too muc

[2022-11-17 16:09] EllaHa opened #777 "Discussion Post Bug:"
Unable to edit or delete people's discussion posts - I keep on getting an error.
For example, I want to delete code from the following post because it contains very close to the final answer:
https://www.coursera.org/learn/c-programming-getting-started/discussions/forums/7MFmFaCDEeyZlw6FWWoo7w/threads/YO0oSVoDEe2VNw5236r8hQ
Is this something we need to tell Coursera about?

[2022-11-17 16:11] EllaHa opened #778 "Week 2 forum thread:"
There doesn't seem to be a thread for Week 2 forum posts. I noticed some people posting week 2 questions under week 1.

![image](https://user-images.githubusercontent.com/19490273/202498314-c2fec87a-7962-4776-a6df-3ba73cd49dbb.png)

[2022-11-17 16:11] EllaHa opened #779 "MOOC 5, User "Rey Manuel""
Happy to see that Rey Manuel is correctly working through the course, but he posts the answer on the forum when he solves it. See example below.
https://www.coursera.org/learn/c-programming-advanced-data-types/discussions/forums/aflWnLMmEeyqSwqj3k2Djw/threads/zNR9nUSfEe2U7RLtxyc8mQ
This was all happening around a month ago. He's stopped doing it but I still want to delete his posts ... but can't d

[2022-11-17 16:14] EllaHa commented on #775
It sounds we are not able to reproduce this issue. Several of us tried and could get 100%. So it sounds this not a bug. To be sure of what is happening for these students we need to ask them a screenshot. Please ask them for the screenshot.

[2022-11-17 16:16] EllaHa commented on #776
Ella sends a demand to partner Coursera to grant him access